@charset "utf-8";

/* =====================

ABOUT PAGE STYLING

===================== */
.pg_about {
	padding-bottom: 150px;
}

/* =====================
KV
===================== */
.kv {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	height: 500px;
	align-items: center;
	background-color: #FFA630;
}
.kv::before {
	content: "";
	display: block;
	width: 50%;
	height: 100%;
	background-image: url("/assets/img/pg_about/img_about_1_pc.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.kv_txtArea {
	width: 50%;
	text-align: center;
}
.kv_ttl {
	font-size: 3vw;
	color: #fff;
	font-weight: normal;
	display: block;
}
.kv_description {
	color: #fff;
  font-size: 1.5vw;
  margin-top: 30px;
}

/* =====================
characterSection
===================== */
.characterSection {
	padding-top: 40px;
}
.characterSection_ttl {
	text-align: center;
	font-size: 3vw;
	color: #333333;
	font-weight: normal;
}
.characterSection_chraList {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	margin-top: 70px;
}
.chra {
	width: 30%;
}
.chra > dt {
	text-align: center;
	font-size: 1.8vw;
}
.chra > dd {
	margin-top: 20px;
	line-height: 2;
	font-size: 1.3vw;
}

/* =====================
FLOW
===================== */
.flowSection_kv {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	height: 300px;
	margin-top: 120px;
	align-items: center;
	background-color: #FFA630;
}
.flowSection_kv::before {
	content: "";
	display: block;
	width: 36%;
	height: 100%;
	background-image: url("/assets/img/pg_about/img_about_3_pc.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.flowSection_kv_ttl {
	width: 64%;
	text-align: center;
	font-size: 3vw;
	color: #fff;
	font-weight: normal;
}
.flow {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	margin-top: 60px;
	box-sizing: border-box;
}
.flow > li  {
	width: 18%;
}
.flow > li + li {
	margin-left: 20px;
}
.flowStep > dt {
	text-align: center;
	font-size: 1.3vw;
}
.flowStep > dd {
	font-size: 1.1vw;
	line-height: 2;
}
.flowStep_figure {
	margin: 15px 0;
	text-align: center;
}
.flowStep_figure img {
	width: 50%;
}
/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){
	.pg_about {
		padding-bottom: 60px;
	}

	/* =====================
	KV
	===================== */
	.kv {
		flex-direction: column;
		height: 50vh;
	}
	.kv::before {
		width: 100%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.kv_txtArea {
		width: 100%;
		margin: 30px 0;
	}
	.kv_ttl {
		font-size: 5vw;
	}
	.kv_description {
		margin-top: 10px;
	  font-size: 3vw;
	}
	/* =====================
	characterSection
	===================== */
	.characterSection_ttl {
		font-size: 6vw;
	}
	.characterSection_chraList {
		margin-top: 40px;
		flex-direction: column;
	}
	.chra {
		width: 100%;
	}
	.chra + .chra {
		margin-top: 30px;
	}
	.chra > dt {
		font-size: 4.5vw;
	}
	.chra > dd {
		margin-top: 10px;
		font-size: 4vw;
		color: #333;
	}

	/* =====================
	FLOW
	===================== */
	.flowSection_kv {
		flex-direction: column;
		height: 250px;
	}
	.flowSection_kv::before {
		width: 100%;
	}
	.flowSection_kv_ttl {
		width: 100%;
		font-size: 6vw;
		margin: 30px 0;
	}
	.flow {
		flex-direction: column;
	}
	.flow > li  {
		width: 100%;
	}
	.flow > li + li {
		margin-top: 30px;
		margin-left: 0;
	}
	.flowStep > dt {
		font-size: 6vw;
	}
	.flowStep > dd {
		font-size: 4vw;
		text-align: center;
	}
	.flowStep_figure {
		margin: 10px 0;
	}
	.flowStep_figure img {
		width: 30%;
	}
/*
END max width 980px :TABLET
///////////////////// */
}
