@charset "utf-8";

/* =====================

BRAND PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

.pg_brand {
  padding: 70px 0 150px;
}
/* ---------------------
BRAND LIST
--------------------- */
.brandList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 1200px;
  padding: 10px 0;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}
.brandList > li {
  width: 50px;
  height: 50px;
}
.brandList > li + li {
  margin-left: 10px;
}
.brandList > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-indent: -9999px;
}
.brandList > li > a:hover {
  background-color: #EFEFEF;
}
.brandLogo {
  text-indent: -9999px;
  background-image: url(/assets/img/common/icn/icn_brand.png);
  background-repeat: no-repeat;
  background-size: 150%;
}
.brandLogo--bina {
  background-position: -10px -15px;
}
.brandLogo--halo {
  background-position: -10px -85px;
}
.brandLogo--dbodhi {
  background-position: -10px -165px;
}
.brandLogo--kenas {
  background-position: -10px -235px;
}
.brandLogo--metalsistem {
  background-position: -10px -315px;
}

/* ---------------------
BRAND INFO
--------------------- */
.brandInfo > li {
  max-width: 960px;
  margin: 0 auto;
}
.brandInfo__inner {
  display: table;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px dashed #EFEFEF;
}
.brandImage,
.brandDescription {
  display: table-cell;
}
/* ------------------------
brandImage
-------------------------- */
.brandImage {
  width: 400px;
  height: 250px;
  vertical-align: top;
}
.brandImage > img {
  width: 100%;
}

/* ------------------------
brandDescription
-------------------------- */
.brandDescription {
  padding-left: 30px;
  padding-bottom: 30px;
  vertical-align: top;
}
.brandDescription_ttl {
  padding-bottom: 5px;
  font-size: 1.7rem;
  border-bottom: 1px solid #333;
}
.brandData {
  margin-top: 10px;
  line-height: 2;
  font-size: 1.2rem;
}

.brandData__cta {
  margin-top: 30px;
  text-align: right;
}
.brandData__cta > a {
  color: #333333;
}
/* ---------------------
BRAND CTA
--------------------- */
.brandCta {
  margin-top: 30px;
  text-align: center;
}
.brandCta > a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #666666;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.1s ease 0.1s;
  -webkit-transition: all 0.1s ease 0.1s;
  -moz-transition: all 0.1s ease 0.1s;
}
.brandCta > a:hover {
  background-color: #FFA630;
}

/*
END max width 980px :PC
///////////////////// */
}

/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width : 768px){


.pg_brand {
  padding: 30px 10px;
}
/* ---------------------
BRAND LIST
--------------------- */
.brandList {
  padding: 10px 0;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}
.brandList > li {
  width: 20%;
  height: 50px;
  float: left;
}
.brandList > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-indent: -9999px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
}
.brandLogo--bina {
  background-image: url(/assets/img/pg_brand/bina/logo_bina.png);
}
.brandLogo--dbodhi {
  background-image: url(/assets/img/pg_brand/dbodhi/logo_dbodhi.png);
}
.brandLogo--halo {
  background-image: url(/assets/img/pg_brand/halo/logo_halo.png);
}
.brandLogo--kenas {
  background-image: url(/assets/img/pg_brand/kenas/logo_kenas.png);
}
.brandLogo--metalsistem {
  background-image: url(/assets/img/pg_brand/metalsistem/logo_metalsistem.png);
}
.brandLogo--unitedstrangers {
  background-image: url(/assets/img/pg_brand/unitedstrangers/logo_unitedstrangers.png);
}
/* ---------------------
BRAND INFO
--------------------- */
.brandInfo > li {
  max-width: 960px;
  margin: 30px auto 0;
}
.brandInfo__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 30px;
  border-bottom: 1px dashed #EFEFEF;
}

/* ------------------------
brandImage
-------------------------- */
.brandImage {
  width: 30%;
}
.brandImage > img {
  width: 100%;
}

/* ------------------------
brandDescription
-------------------------- */
.brandDescription {
  width: 68%;
}
.brandDescription_ttl {
  padding-bottom: 5px;
  font-size: 1.2rem;
  border-bottom: 1px solid #333;
}
.brandData {
  margin-top: 5px;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
}
.brandData__cta {
  margin-top: 30px;
  text-align: center;
}
.brandData__cta > a {
  display: block;
  width: 50%;
  padding: 10px 0;
  margin: 0 auto;
  background-color: #333;
  border-radius: 30px;
  color: #fff;
  text-align: center;
}
/* ---------------------
BRAND CTA
--------------------- */
.brandCta {
  margin-top: 30px;
  text-align: center;
}
.brandCta > a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #666666;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.1s ease 0.1s;
  -webkit-transition: all 0.1s ease 0.1s;
  -moz-transition: all 0.1s ease 0.1s;
}
.brandCta > a:hover {
  background-color: #FFA630;
}

/*
END max width 980px :TABLET
///////////////////// */
}
