@charset "utf-8";

/* =====================

BRAND DETAIL PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
/*@media screen and (min-width : 768px){*/
.pg_brandDetail {
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.kv {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  width: 100%;
  height : -webkit-calc(100vh - 125px) ;
  height : calc(100vh - 125px) ;
  max-width: 1100px;
  margin: 0 auto;
}
.kv_brandInfo {
  width: 50%;
  vertical-align: middle;
}
.brandTitle {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.brandName {
  font-size: 2.8rem;
}
.titleReading {
  display: block;
  margin-top: 5px;
  font-size: 1.3rem;
  color: #666;
  font-weight: normal;
}
.brandLogo {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-image: url(/assets/img/common/icn/icn_brand.png);
  background-repeat: no-repeat;
  background-size: 150%;
  text-indent: -9999px;
}
.brandLogo-bina {background-position: -10px -10px;}
.brandLogo-dbodhi {background-position: -10px -160px;}
.brandLogo-halo {background-position: -10px -80px;}
.brandLogo-kenas {background-position: -10px -235px;}
.brandLogo-metalsistem {background-position: -10px -310px;}
.brandDescription {
  margin-top: 15px;
  line-height: 2;
  font-size: 1.4rem;
}

.kv_brandCap {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
  vertical-align: bottom;
}
.kv_brandCap img {
  width: 100%;
}

.brandItems {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
}
.brandItems > li {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}
.brandItems > li > a > img {
  width: 100%;
}

.concept {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  color: #333;
}
.concept + .concept {
  margin-top: 60px;
}
.concept_brandInfo {
  width: 50%;
  box-sizing: border-box;
}
.concept_brandCap {
  width: 50%;
  box-sizing: border-box;
}
.concept_brandCap > figure {
  width: 100%;
  height: 100%;
}
.concept_brandCap img {
  width: 100%;
}
.conceptTitle {
  font-size: 2rem;
  line-height: 1.2;
}
.conceptTxt {
  margin-top: 15px;
  line-height: 2;
  font-size: 1.4rem;
}
.concept_r .concept_brandInfo {
  padding: 30px 30px 30px 0;
}
.concept_l .concept_brandInfo {
  padding: 30px 0 30px 30px;
}
.concept_r .concept_brandInfo {order: 1;}
.concept_r .concept_brandCap {order: 2;}
.concept_l .concept_brandInfo {order: 2;}
.concept_l .concept_brandCap {order: 1;}
.concept_r .concept_brandCap > figure {
  text-align: right;
}
.concept_l .concept_brandCap > figure {
  text-align: left;
}
.lineup {
  padding-top: 60px;
}
.lineup_ttl {
  font-size: 2.2rem;
  text-align: center;
}
.brandCta {
  display: block;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  text-decoration: none;
}
.brandCta > span {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (max-width : 768px){
  .pg_brandDetail {
    padding: 30px 10px 0 10px;
    box-sizing: border-box;
  }
  .kv {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .kv_brandInfo {
    display: block;
    width: 100%;
    vertical-align: middle;
  }
  .brandName {
    font-size: 1.8rem;
  }
  .brandLogo > img {
    width: 40px;
  }
  .titleReading {
    font-size: 1rem;
    color: #666;
  }
  .brandDescription {
    margin-top: 10px;
    line-height: 2;
    font-size: 1.1rem;
  }
  .kv_brandCap {
    display: block;
    width: 100%;
    padding: 0;
    text-align: right;
  }
  .kv_brandCap > figure {
    text-align: center;
  }
  .kv_brandCap img {
    width: 50%;
  }
  .concept {
    display: block;
    background-color: #fff;
    color: #333;
  }
  .concept + .concept {
    margin-top: 40px;
  }
  .concept_brandInfo {
    width: 100%;
    padding: 0;
  }
  .concept_r .concept_brandInfo,
  .concept_l .concept_brandInfo {
    padding: 0;
  }
  .conceptTitle {
    padding-left: 10px;
    border-left: 5px solid #333;
    font-size: 1.3rem;
  }
  .conceptTxt {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 2;
  }
  .concept_brandCap {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .concept_brandCap img {
    width: 100%;
    height: auto;
  }

  .lineup_ttl {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 10px;
    border-left: 5px solid #333;
  }
  .brandItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
  }
  .brandItems > li {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
  }
  .brandItems > li > a > img {
    width: 100%;
  }
/*
END max width 980px :TABLET
///////////////////// */
}
