@charset "utf-8";

/* =====================

CART PAGE STYLING

SP
- CART

===================== */
@media screen and (min-width : 768px){
/* ---------------------
LAYOUT
--------------------- */
.shoppingCart {
  padding-top: 30px;
  padding-bottom: 150px;
  padding-right: 12.5px;
  padding-left: 12.5px;
  box-sizing: border-box;
}
.sec--shoppingCart {
  margin-top: 30px;
}
.sec--shoppingCart + .sec--shoppingCart {
  margin-top: 60px;
}
.checkbox--cart {
}
.checkbox--cart::before {
  left: 50%;
  margin-left: -8px;
}
.checkbox--cart::after {
  left: 50%;
  margin-left: -5px;
}
/* ---------------------
CART
--------------------- */
.cart {
  position: relative;
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
  border: 2px #EFEFEF solid;
  border-collapse: collapse;
}
.cart th,
.cart td {
  border: 1px #EFEFEF solid;
  text-align: center;
  font-size: 1.1em;
  vertical-align: middle;
}
.cart__head {
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: #FAFBFC;
}
.headCheck {
  width: 40px;
}
.headCount {
  min-width: 150px;
}
.headPostage {
  min-width: 150px;
}
.headPrice {
  min-width: 150px;
}
.headDelete {
  min-width: 60px;
}
.changeCount {
  width: 60%;
  margin-right: 5px;
  font-size: 14px;
}
.itemInfo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: #333333;
}
.itemInfo__image {
  width: 20%;
  float: left;
}
.itemInfo__image img {
  width: 100%;
}
.itemInfo__txt {
  width: 70%;
  float: left;
  margin-left: 10px;
  text-align: left;
}
.itemInfo__brand {
  font-weight: bold;
  margin-bottom: 5px;
}
.itemDelete {
  color: #333333;
}

.choiseBox_detail_ttl {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-weight: normal;
}

/* ---------------------
INPUT AREA
--------------------- */
.InputArea {
  display: none;
  padding: 30px 30px 60px 30px;
  margin-top: 60px;
  box-sizing: border-box;
  border: 3px solid #efefef;
  border-radius: 5px;
  background-color: #FDFDFD;
}
.shoppingCart_confirm .InputArea {
  display: block;
}
.ttl--InputArea {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}
.txt--openInputArea {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
.openInputArea {
  width: 350px;
  margin: 0 auto;
}
.openInputArea > a > span {
  font-size: 1.4rem;
}
.shoppingCart_ttl {
  font-size: 1.5rem;
}
.shoppingCart_ttl span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #c8c8c8;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

/* ---------------------
registInfo
--------------------- */
.registInfo--shoppingCart {
  margin-top: 15px;
  background-color: #FFFFFF;
}
.registInfo .textInput {
  border-radius: 5px;
}
.registInfo__parts {
  display: table;
  width: 50%;
  margin-top: 15px;
  float: left;
}
.registInfo__parts dt,
.registInfo__parts dd {
  display: table-cell;
  vertical-align: middle;
}
.registInfo__parts dt {
  width: 25%;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
}
.registInfo__parts dd {
  width: 75%;
}

/* ---------------------
paySetting
--------------------- */
.paySetting__inner {
  margin-top: 15px;
  border: 2px solid #EFEFEF;
  background-color: #FFFFFF;
}
.list--paySetting > li {
  border-top: 1px solid #EFEFEF;
}
.detail--paySetting {
  padding: 15px;
  border-top: 1px dashed #EFEFEF;
  line-height: 1.5;
}
.checkbox--paySetting .checkboxLabel {
  padding: 15px 0 15px 50px;
}
.checkbox--paySetting .checkboxLabel::before {
  top: 50%;
  margin-top: -9px;
}
.checkbox--paySetting .checkboxInput:checked ~ .checkboxLabel {
  background-color: #F9F9F9;
}
.checkbox--paySetting .checkboxInput:checked ~ .checkboxLabel::after {
  top: 50%;
  margin-top: -5px;
}
.checkboxLabel--paySetting::before, .checkboxLabel--paySetting--sub::before {
  left: 15px;
}
.checkboxInput:checked ~ .checkboxLabel::after {
  left: 19px;
}
.inputPaysetting {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dashed #EFEFEF;
}
.inputPaysetting > li {
  display: inline-block;
  vertical-align: middle;
}
.inputPaysetting > li + li {
  margin-left: 20px;
}
.inputPaysetting > li > dl > dt,
.inputPaysetting > li > dl > dd {
  display: inline-block;
  vertical-align: middle;
}
.inputPaysetting > li > dl > dt {
  margin-right: 10px;
}
/* ---------------------
bankInfo
--------------------- */
.bankInfo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.bankInfo:first-of-type {
  border-top: 1px solid #ccc;
}
.bankInfo dt,
.bankInfo dd {
  padding: 10px;
  font-size: 14px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bankInfo dt {
  width: 30%;
  border-left: 1px solid #ccc;
  background-color: #e6e6e6;
}
.bankInfo dd {
  width: 70%;
  background-color: #fff;
}

/* ---------------------
postageSetting
--------------------- */
.sec--postageSetting {
  margin-top: 60px;
}
.choiseBox {
  display: table;
  width: 100%;
  padding: 0 20px;
  margin-top: 30px;
  box-sizing: border-box;
}
.choiseBox_radioList {
  display: table-cell;
  width: 25%;
  vertical-align: top;
}
.choiseBox_radioList > li {
  height: 60px;
  line-height: 60px;
}
.choiseBox_radioList > li + li {
  margin-top: 15px;
}
.choiseBox_radioList > li > label {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #efefef;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #666;
  cursor: pointer;
}
.choiseBox_radioList > li > input {
  display: none;
}
.choiseBox_radioList > li > input:checked + label {
  border: 2px solid #ffa630;
  color: #ffa630;
}
.choiseBox_detail {
  display: table-cell;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
  vertical-align: top;
}
.choiseBox_detail_contents {
  padding: 30px;
  background-color: #f9f9f9;
  display: none;
}
.choiseBox_detail_caption {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.choiseBox_detail_caption span {
  color: #ffa630;
  font-size: 1.3rem;
}
.choiseBox_detail_selectList {
  margin-top: 10px;
}
.choiseBox_detail_selectList > li {
  float: left;
  width: 48%;
  background-color: #fff;
}
.choiseBox_detail_selectList > li > .selectInput {
  border-radius: 5px;
}
.choiseBox_detail_selectList > li + li {
  margin-left: 4%;
}
.choiseBox_detail_caution {
  margin-top: 15px;
}
.choiseBox_detail_selectList,
.choiseBox_detail_links {
}
.choiseBox_detail_links li {
  height: 40px;
}

/* ---------------------
payment
--------------------- */
.payment--shoppingCart {
  margin-top: 30px;
}
.payment {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.payment__item {
  display: table;
}
.payment__item + .payment__item {
  margin-left: 10px;
}
.payment__item dt,
.payment__item dd {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
.payment__item dt {
  padding: 0 20px;
  border-top: 2px #EFEFEF solid;
  border-bottom: 2px #EFEFEF solid;
  border-left: 2px #EFEFEF solid;
  background-color: #FAFBFC;
}
.payment__item dd {
  padding: 0 20px;
  border-top: 2px #EFEFEF solid;
  border-bottom: 2px #EFEFEF solid;
  border-right: 2px #EFEFEF solid;
  text-align: right;
}
.payment__count {
  font-size: 1.4em;
  font-weight: bold;
  color: #FFA630;
  margin: 0 5px;
  line-height: 1;
}
.read--shoppingCart {
  margin-top: 60px;
  text-align: center;
}
.read--shoppingCart > a {
  color: #333333;
}
.cart__cta {
  margin: 15px auto 0;
  width: 350px;
}
.caution--paySetting {
  margin-top: 15px;
}
.caution--paySetting a {
  color: #333333;
}
.caution--detail {
  padding: 10px;
  margin-top: 15px;
  box-sizing: border-box;
  background-color: #F9F9F9;
}
.caution--detail > li + li{
  margin-top: 10px;
}
.InputDescription {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #666666;
}

/* ---------------------
sec option
--------------------- */
.optionList {
  margin-top: 30px;
  margin-left: 20px;
}

/* ---------------------
modal
--------------------- */
.modalBg,
#modalAnswer {
  display: none;
}
.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.8;
}
#modalAnswer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 210;
  width: 750px;
  height: 500px;
  padding: 15px;
  box-sizing: border-box;
  margin-top: -250px;
  margin-left: -375px;
  background-color: #FFFFFF;
  border: 2px dashed #CCCCCC;
}
.ttl--modalAnswer {
  padding: 20px 0;
  border-bottom: 1px solid #EFEFEF;
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}
.txt--modalAnswer {
  padding: 30px 0;
  line-height: 2;
  font-size: 13px;
  color: #333333;
}
.rule--modalAnswer {
  margin-bottom: 10px;
  text-align: left;
}
.cta--modalAnswer {
  width: 100%;
  padding-top: 30px;
  border-top: 1px dashed #EFEFEF;
  text-align: center;
}
.cta--modalAnswer li {
  display: inline-block;
}
.cta--modalAnswer li + li {
  margin-left: 30px;
}
.cta--modalAnswer li a {
  color: #333333;
}
.btn--modalAnswer {
  width: 200px;
}

/* =====================

CART THANKS PAGE STYLING

===================== */
.pg_thanks {
  padding: 150px 0;
}
.ttl--thanks {
  font-size: 26px;
  color: #333333;
  text-align: center;
}
.catch--thanks {
  margin-top: 30px;
  font-size: 16px;
  color: #666666;
  text-align: center;
}
.subCatch--thanks {
  margin-top: 60px;
  font-size: 14px;
  color: #000000;
  text-align: center;
  line-height: 2;
}
.cta--thanks {
  margin-top: 30px;
  text-align: center;
}
.cta--thanks > li {
  display: inline-block;
}
.cta--thanks > li + li {
  margin-left: 15px;
}
.cta--thanks > li > a {
  display: block;
  width: 250px;
  font-size: 14px;
}



/*
END max width 980px :PC
///////////////////// */
}

@media screen and (max-width : 768px){
.is_pc_show {
  display: none;
}
.cm_ttl_lv1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.4rem;
  text-align: center;
}
.cm_ttl_lv1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #333333;
}
.cm_ttl_lv2 {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: normal;
  border-left: solid 5px #333333;
}
/* ====================
cart
==================== */
.cart {
  width: 100%;
}
.cart thead {
  display: none;
}
.cart tr + tr {
  border-top: 1px dashed #efefef;
}
.cart th,
.cart td {
  vertical-align: middle;
}
.cart .checkbox::before {
  left: 50%;
  margin-left: -7.5px;
}
.cart .checkbox::after {
  left: 50%;
  margin-left: -5px;
}
.itemInfo__image {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.itemInfo__image > img {
  width: 100%;
  height: auto;
}
.itemInfo__txt {
  display: none;
}
.changeCount {
  width: 60px;
  margin-right: 5px;
  text-align: center;
  font-size: 1rem;
}
.itemDelete {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.itemDelete > span {
  display: block;
  width: 90%;
  padding: 5px 7px;
  box-sizing: border-box;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
}
/* ====================
payment
==================== */
.payment {
  padding: 15px 0;
  margin-top: 15px;
  background-color: #f9f9f9;
}
.payment__item {
  display: table;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.payment__item + .payment__item {
  margin-top: 10px;
}
.payment__item > dt,
.payment__item > dd {
  display: table-cell;
  vertical-align: bottom;
}
.payment__item > dt {
  text-align: left;
  font-size: 1.2rem;
}
.payment__item > dd {
  text-align: right;
  font-size: 1rem;
}

.txt--openInputArea {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 15px;
}
.openInputArea {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* ====================
InputArea
==================== */
.InputArea {
  display: none;
  padding: 0 10px;
  margin-top: 30px;
}
.ttl--InputArea {
  font-size: 1.4rem;
  text-align: center;
}
.sec--shoppingCart {
  margin-top: 30px;
}
.shoppingCart_ttl {
  font-size: 1.2rem;
}
.shoppingCart_ttl span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #c8c8c8;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

/* ====================
registInfo
==================== */
.registInfo {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}
.registInfo__parts {
  padding: 0 10px;
}
.registInfo__parts + .registInfo__parts {
  margin-top: 15px;
}
.registInfo__parts > dt {
  font-size: 1.1rem;
}
.registInfo__parts > dd {
  margin-top: 10px;
}
.registInfo__parts > dd > input {
  border-radius: 5px;
}

/* ====================
choiseBox
==================== */
.choiseBox {
  display: table;
  width: 100%;
  padding: 0 5px;
  margin-top: 30px;
  box-sizing: border-box;
}
.choiseBox_radioList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.choiseBox_radioList > li {
  width: 49%;
  height: 60px;
}
.choiseBox_radioList > li + li {
  margin-left: 2%;
}
.choiseBox_radioList > li > label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #efefef;
  text-align: center;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #666;
  cursor: pointer;
}
.choiseBox_radioList > li > input {
  display: none;
}
.choiseBox_radioList > li > input:checked + label {
  border: 2px solid #ffa630;
  color: #ffa630;
}
.choiseBox_detail {
  width: 100%;
  padding: 0 5px;
  margin-top: 10px;
  box-sizing: border-box;
}
.choiseBox_detail_contents {
  padding: 10px;
  background-color: #f9f9f9;
  display: none;
}
.choiseBox_detail_caption {
  font-size: 1.1rem;
  line-height: 1.5;
}
.choiseBox_detail_selectList {
  margin-top: 10px;
}
.choiseBox_detail_selectList > li {
  float: left;
  width: 48%;
  background-color: #fff;
}
.choiseBox_detail_selectList > li > .selectInput {
  border-radius: 5px;
}
.choiseBox_detail_selectList > li + li {
  margin-left: 4%;
}
.choiseBox_detail_caution {
  margin-top: 15px;
  font-size: 1.1rem;
}
.choiseBox_detail_selectList,
.choiseBox_detail_links {
  border-top: none;
}

.read--shoppingCart {
  padding: 0 10px;
  margin-top: 15px;
  line-height: 1.5;
}
.read--shoppingCart > a {
  color: #333;
}
.cart__cta {
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.cart__cta > input {
  padding: 10px 0;
  border-radius: 30px;
  background-color: #ffa630;
  color: #fff;
  font-size: 1.1rem;
}

/* ---------------------
bankInfo
--------------------- */
.bankInfo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.bankInfo:first-of-type {
  margin-top: 15px;
  border-top: 1px solid #ccc;
}
.bankInfo dt,
.bankInfo dd {
  padding: 10px;
  font-size: 12px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bankInfo dt {
  width: 30%;
  border-left: 1px solid #ccc;
  background-color: #e6e6e6;
}
.bankInfo dd {
  width: 70%;
  background-color: #fff;
}

/*
END max width 980px :PC
///////////////////// */
}
