@charset "utf-8";
/* =====================

CONTACT PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)
- CONFIRM PAGE LAYUT(PC)
- CONFIRM PAGE LAYUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

.pg_contact {
  padding-top: 70px;
  padding-right: 15px;
  padding-bottom: 150px;
  padding-left: 15px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.textareaInput--regist {
  cursor: text;
}
/* ---------------------
inquiryList
--------------------- */
.inquiryList {
  margin-top: 30px;
}
.inquiryList > li {
  display: inline-block;
}
/* ---------------------

--------------------- */
.summary--contact {
  max-width: 950px;
  margin: 15px auto 0;
  line-height: 1.5;
  font-size: 14px;
  color: #666666;
}
.form--contact {
  max-width: 950px;
  margin: 15px auto 0;
}
.formGroup + .formGroup {
  margin-top: -1px;
}
.formItem {
  display: table;
  width: 100%;
  border:1px solid #EFEFEF;
  box-sizing: border-box;
}
.formItem dd,
.formItem dt {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
.formItem dt {
  width: 21%;
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  background-color: #F9F9F9;
}
.formItem dd {
  width: 79%;
  max-width: 750px;
  padding: 5px;
}
.formItem dd .textInput {
  width: 100%;
}
.cta--contact {
  margin-top: 30px;
  text-align: center;
}
.cta--contact .btn {
  display: inline-block;
  width: 350px;
}
.formGroup_cancelDescription > .formItem > dd {
  padding: 15px;
}
.radioList--2col {}
.radioList--2col > li {
  float: left;
  width: 15%;
}

/* --------------
descriptionTxt
-------------- */
.descriptionTxt {
  line-height: 1.5;
}
.descriptionTxt + .descriptionTxt,
.descriptionTxt + .subTextInputList,
.subTextInputList + .descriptionTxt {
  margin-top: 10px;
}
/* --------------
subTextInputList
-------------- */
.subTextInputList {
  margin-left: 15px;
}
.subTextInputList > li {
  list-style: disc;
}
.subTextInputList > li + li {
  margin-top: 10px;
}
/* --------------
contactCaution
-------------- */
.contactCaution {
  margin-top: 30px;
  text-align: center;
}
.contactCaution a {
  color: #333333;
}

/* --------------
icon_required
-------------- */
.icon_required legend::after {
  content: "必須";
  display: inline;
  padding: 2px 5px;
  margin-left: 5px;
  background-color: #DB0909;
  font-size: 0.8rem;
  color: #fff;
}


/* --------------
NORMAL FORM
-------------- */
.form--contact--normal .formGroup_cancelDescription {display: none;}
.form--contact--normal .formGroup_mail {}
.form--contact--normal .formGroup_itemNumber {display: none;}
.form--contact--normal .formGroup_orderNumber {display: none;}
.form--contact--normal .formGroup_freeText {}
.form--contact--normal .formGroup_subText {display: none;}
.form--contact--normal .formGroup_returned {display: none;}
/* --------------
ITEM FORM
-------------- */
.form--contact--item .formGroup_cancelDescription {display: none;}
.form--contact--item .formGroup_name {}
.form--contact--item .formGroup_mail {}
.form--contact--item .formGroup_itemNumber {}
.form--contact--item .formGroup_orderNumber {display: none;}
.form--contact--item .formGroup_freeText {}
.form--contact--item .formGroup_subText {display: none;}
.form--contact--item .formGroup_returned {display: none;}
/* --------------
CANCEL FORM
-------------- */
.form--contact--cancel .formGroup_cancelDescription {}
.form--contact--cancel .formGroup_mail {}
.form--contact--cancel .formGroup_itemNumber {display: none;}
.form--contact--cancel .formGroup_orderNumber {}
.form--contact--cancel .formGroup_freeText {display: none;}
.form--contact--cancel .formGroup_subText {}
.form--contact--cancel .formGroup_returned {}

}
/*
END max width 768px :PC
///////////////////// */

/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width : 768px){

.pg_contact {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
}

/* ---------------------
changeFormTub
--------------------- */
.changeFormTub {
  width: 100%;
  margin-top: 15px;
}
.changeFormTub > li {
  float: left;
  width: 50%;
}
.changeFormTub > li + li {}
.changeFormTub > li > a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  color: #333333;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.changeFormTub > li > .is_active {
  border-color: #FBB025;
  color: #FBB025;
}
/* ---------------------
inquiryList
--------------------- */
.inquiryList {
  margin-top: 10px;
  border: 1px solid #efefef;
}
.inquiryList > li + li {
  border-top: 1px solid #efefef;
}
.inquiryList > li > label {
  width: 100%;
  margin-left: 10px;
  box-sizing: border-box;
}
/* ---------------------

--------------------- */
.summary--contact {
  max-width: 950px;
  margin: 15px auto 0;
  line-height: 1.5;
  font-size: 14px;
  color: #666666;
}
.form--contact {
  max-width: 950px;
  margin: 15px auto 0;
}
.formGroup + .formGroup {
  margin-top: -1px;
}
.formItem {
  display: table;
  width: 100%;
  border:1px solid #EFEFEF;
  box-sizing: border-box;
}
.formItem dd,
.formItem dt {
  box-sizing: border-box;
}
.formItem dt {
  width: 100%;
  padding: 10px;
  background-color: #F9F9F9;
  font-size: 1rem;
  vertical-align: middle;

}
.formItem dd {
  width: 100%;
  padding: 5px;
}
.formItem dd .textInput {
  width: 100%;
}
.cta--contact {
  width: 100%;
  padding: 0 10px;
  margin-top: 15px;
  text-align: center;
  box-sizing: border-box;
}
.cta--contact .btn {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.formGroup_cancelDescription > .formItem > dd {
  padding: 15px;
}
/* --------------
descriptionTxt
-------------- */
.descriptionTxt {
  line-height: 1.5;
}
.descriptionTxt + .descriptionTxt,
.descriptionTxt + .subTextInputList,
.subTextInputList + .descriptionTxt {
  margin-top: 10px;
}
/* --------------
subTextInputList
-------------- */
.subTextInputList {
  margin-left: 15px;
}
.subTextInputList > li {
  list-style: disc;
}
.subTextInputList > li + li {
  margin-top: 10px;
}
/* --------------
contactCaution
-------------- */
.contactCaution {
  margin-top: 30px;
  text-align: center;
}
.contactCaution a {
  color: #333333;
}

/* --------------
icon_required
-------------- */
.icon_required legend::after {
  content: "必須";
  display: inline;
  padding: 2px 5px;
  margin-left: 5px;
  background-color: #DB0909;
  font-size: 0.8rem;
  color: #fff;
}


/* --------------
NORMAL FORM
-------------- */
.form--contact--normal .formGroup_cancelDescription {display: none;}
.form--contact--normal .formGroup_mail {}
.form--contact--normal .formGroup_itemNumber {display: none;}
.form--contact--normal .formGroup_orderNumber {display: none;}
.form--contact--normal .formGroup_freeText {}
.form--contact--normal .formGroup_subText {display: none;}
.form--contact--normal .formGroup_returned {display: none;}
/* --------------
ITEM FORM
-------------- */
.form--contact--item .formGroup_cancelDescription {display: none;}
.form--contact--item .formGroup_name {}
.form--contact--item .formGroup_mail {}
.form--contact--item .formGroup_itemNumber {}
.form--contact--item .formGroup_orderNumber {display: none;}
.form--contact--item .formGroup_freeText {}
.form--contact--item .formGroup_subText {display: none;}
.form--contact--item .formGroup_returned {display: none;}
/* --------------
CANCEL FORM
-------------- */
.form--contact--cancel .formGroup_cancelDescription {}
.form--contact--cancel .formGroup_mail {}
.form--contact--cancel .formGroup_itemNumber {display: none;}
.form--contact--cancel .formGroup_orderNumber {}
.form--contact--cancel .formGroup_freeText {display: none;}
.form--contact--cancel .formGroup_subText {}
.form--contact--cancel .formGroup_returned {}

}


}
/*
END max width 768px :SP
///////////////////// */


/* ======================================================

CONFIRM PAGE LAYUT(PC)

====================================================== */
@media screen and (min-width : 768px){

.pg_contact--confirm .formItem dd {
  padding-left: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}



/*
END max width 768px :PC
///////////////////// */
}
/* ======================================================

CONFIRM PAGE LAYUT(SP)

====================================================== */
@media screen and (max-width : 768px){

.pg_contact--confirm .formItem dd {
  padding-left: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
END max width 768px :PC
///////////////////// */
}


/* ======================================================

THANKS PAGE LAYUT(PC)

====================================================== */
@media screen and (min-width : 768px){

.pg_contact--thanks {
}

.thanksMessage {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.thanksSubMessage {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: center;
}
.thanksSubMessage  + .thanksSubMessage  {
  margin-top: 15px;
}


/*
END max width 768px :PC
///////////////////// */
}
/* ======================================================

THANKS PAGE LAYUT(SP)

====================================================== */
@media screen and (max-width : 768px){

.pg_contact--thanks {

}

/*
END max width 768px :PC
///////////////////// */
}
