@charset "utf-8";

/* =====================

collection PAGE STYLING

===================== */
.pg_collection {
  padding-bottom: 150px;
}

/* ---------------------
pickup
--------------------- */
.collectionPickup {
	padding-top: 60px;
  padding-right: 12.5px;
  padding-left: 12.5px;
  box-sizing: border-box;
	background-color: #FAFBFC;
}
.collectionPickup__description,
.collectionPickup__capture {
  display: table-cell;
}
.collectionPickup__description {
  width: 60%;
  padding-bottom: 20px;
  vertical-align: top;
}
.collectionPickup__capture {
  vertical-align: bottom;
}
.collectionPickup__capture img {
  width: 100%
}
.collectionPickup__description {
  padding-right: 50px;
}
.collectionPickup__ttl {
  margin-top: 30px;
  font-size: 2em;
  text-align: right;
}
.collectionPickup__ttl a {
  text-decoration: none;
  color: #333333;
}
.collectionPickup__summary {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 1.3em;
  text-align: right;
}
.collectionPickup__cta {
  margin-top: 60px;
  text-align: right;
}
.collectionPickup__period {
  display: block;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #EFEFEF;
  float: right;
  clear: right;
}
.collectionPickup__period dt {
  float: left;
}
.collectionPickup__period dd {
  float: left;
  margin-left: 20px;
}
.collectionPickup__description .btn {
  display: inline-block;
  width: 300px;
  height: 50px;
  line-height: 50px;
}
@media screen and (max-width : 985px){
  .sec--collection {
    margin-top: 50px;
  }
  .ttlSec--collection {
    margin-bottom: 30px;
  }
  .collection > .ttlSec {
    margin-bottom: 30px;
  }
}

/* ---------------------
backnumber
--------------------- */
.collectionBacknumber {
  widows: 100%;
  margin-top: 30px;
  padding-right: 12.5px;
  padding-left: 12.5px;
  box-sizing: border-box;
}
.collectionBacknumber > li {
  display: inline-block;
  width: 23.5%;
  box-sizing: border-box;
}
.collectionBacknumber > li + li {
  margin-left: 2%;
}
.collectionBacknumber > li > dl dt {
  padding-left: 10px;
  margin-top: 10px;
  border-left: 5px solid #333333;
  font-size: 1.1em;
}
.collectionBacknumber > li > dl dt a {
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}
.collectionBacknumber > li > dl dd {}
.collectionBacknumber > li > dl dd a {
  display: block;
  width: 100%;
  height: 100%;
}
.collectionBacknumber > li > dl dd img {
  width: 100%;
}
.collection__cta {
  margin-top: 100px;
  text-align: center;
}
.cta--backnumber {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
}


/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){




/*
END max width 980px :TABLET
///////////////////// */
}
