@charset "utf-8";

/* =====================

CART DETAIL PAGE STYLING

===================== */

/* ---------------------
LAYOUT
--------------------- */
.sec_thanksMessage {
  max-width: 650px;
  padding: 60px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.thanksBigMessage {
  text-align: center;
  font-size: 2.1rem;
}
.thanksSmallMessage {
  margin-top: 30px;
  line-height: 2;
  font-size: 1.2rem;
  color: #666;
}
.orderNumber {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.orderNumber > dt {
  font-weight: bold;
  font-size: 1.4rem;
}
.orderNumber > dd {
  margin-left: 15px;
  font-size: 1.4rem;
  color: #ffa630;
}


.sec_invitationMember {
  margin-top: 60px;
}
.invitationMember_ttl {
  color: #ffa630;
  font-size: 2rem;
  text-align: center;
}
.invitationMember_bigMessage {
  margin-top: 15px;
  text-align: center;
  font-size: 1.4rem;
}
.invitationMember_catch {
  margin-top: 30px;
  font-size: 1.2rem;
}
.invitationMember_meritList {
  margin-top: 15px;
  margin-left: 15px;
}
.invitationMember_meritList > li {
  font-size: 1.2rem;
  line-height: 2;
  list-style: disc;
}
.invitationMember_cta {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.invitationMember_cta > span {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffa630;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width : 768px){


  .sec_thanksMessage {
    padding: 30px 0;
  }
  .thanksBigMessage {
    font-size: 1.6rem;
  }
  .thanksSmallMessage {
    font-size: 1rem;
    margin: 10px 10px 0 10px;
  }
  .orderNumber {
    margin-top: 15px;
  }
  .orderNumber > dt {
    font-size: 1.1rem;
  }
  .orderNumber > dd {
    font-size: 1.2rem;
  }


  .sec_invitationMember {
    margin-top: 60px;
  }
  .invitationMember_ttl {
    color: #ffa630;
    font-size: 2rem;
    text-align: center;
  }
  .invitationMember_bigMessage {
    margin-top: 15px;
    text-align: center;
    font-size: 1.4rem;
  }
  .invitationMember_catch {
    margin-top: 30px;
    font-size: 1.2rem;
  }
  .invitationMember_meritList {
    margin-top: 15px;
    margin-left: 15px;
  }
  .invitationMember_meritList > li {
    font-size: 1.2rem;
    line-height: 2;
    list-style: disc;
  }
  .invitationMember_cta {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
  .invitationMember_cta > span {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffa630;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

}
