@charset "utf-8";

/* =====================

CONTROLL PAGE STYLING

===================== */
.pg_controll {
	margin-top: 60px;
}

/* ===========================



=========================== */
.ttlgroup {
	margin: 80px 0 30px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
}
.ttl--controll {
	margin-top: 100px;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}
.subttl--controll  {
	display: inline-block;
	margin: 10px 0;
	vertical-align: middle;
	text-align: center;
}
.subttl--controll span {
	display: inline-block;
	padding: 15px 20px;
	background-color: #CCCCCC;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.description--controll {
	display: inline-block;
	margin: 10px 0 10px 10px;
	vertical-align: middle;
	line-height: 1.5;
	font-size: 14px;
	color: #333333;	
}
.faseList > li {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
.faseList > li  + li {
	border-left: 1px dashed #EFEFEF;
}
.faseList--step1 > li {
	width: 33%;
}
.faseList--step1 > li  + li {
	margin-left: 0.25%;
	padding-left: 0.25%;
}
.faseList--step2 > li {
	width: 49%;
	margin-bottom: 60px;
}
.faseList--step2 > li  + li {
	margin-left: 0.25%;
	padding-left: 0.25%;
}
.faseList--step3 > li {
	width: 95%;
}
.ttl--faseList {
	padding: 10px;
	margin: 0 30px 10px 30px;
	border-radius: 20px;
	background-color: #EFEFEF;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.faseList > li img {
	width: 100%;
	vertical-align: top;
}
.description--faseSearch {
	padding: 10px;
	margin-top: 10px;
	line-height: 1.5;
	font-size: 14px;
	color: #666666;
}


.searchItemSlide {
	background-color: #F9F9F9;
}
.slideContent {
	width: 960px;
	height: 400px;
	margin: 0 auto;
	background-color: #EFEFEF;
}

/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){




/*
END max width 980px :TABLET
///////////////////// */
}