@charset "utf-8";

.pg_404 {
  position: relative;
  height: 450px;
}
.sec_countdown {
  position: relative;
  z-index: 20;
  display: table;
  width: 100%;
  height: 100%;
}
.countdown_inner {
  display: table-cell;
  vertical-align: middle;
}

.countdown_ttl {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.countdown_ttl > span {
  font-size: 45px;
  margin-right: 10px;
}
.catchcopy {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
.nextActionList {
  margin-top: 30px;
  text-align: center;
}
.nextActionList > li {
  display: inline-block;
}
.nextActionList > li + li {
  margin-left: 30px;
}
.nextActionList > li > a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #333;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (min-width : 985px){
  .nextActionList > li > a:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
  }
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width : 985px){
  .catchcopy {
    font-size: 15px;
  }
}

@media screen and (max-width : 400px){
  .countdown_ttl {
    font-size: 25px;
  }
}
