@charset "utf-8";

/* ===========================

FAVORITE

=========================== */

.pg_favorite {
	padding-top: 30px;
	padding-bottom: 150px;
}
.favoriteList {
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
}
.favoriteList {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
}
.favoriteList > li {
  display: inline-block;
  width: 20%;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  word-break : break-all;
  vertical-align: top;
  text-align: center;
}
.favoriteList > li > a {
  display: block;
  width: 100%;
  height: 170px;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  vertical-align: bottom;
}
.favoriteList > li > a > figure {
  display: table;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  vertical-align: middle;
}
.favoriteList > li > a > figure > img {
  height: 100%;
  vertical-align: bottom;
  -moz-transition: -moz-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
}
.favoriteList > li > a > figure:hover > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.favoriteList__info {
  padding: 0 10px;
}
.favoriteList__info > dt {
  width: 100%;
  padding-top: 10px;
  border-top: 1px dotted #EFEFEF;
  font-size: 1em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.favoriteList__info > dt > a {
  display: inline;
  line-height: 1.3;
  color: #666;
  text-decoration: none;
}

/* 変換 */
.favoriteList.is_many > li > .add_favorite,
.favoriteList.is_many > li > .favoriteList__info {
  display: none;
}
.favoriteList.is_many > li {
  width: 20%;
}
.favoriteList.is_many > li > figure > a {
  height: 150px;
}

.info__price {
  padding: 15px 0 10px;
  text-align: right;
  margin-left: 5px;
  font-size: 0.8em;
  color: #808080;
}
.info__price > span {
  margin: 0 5px;
  font-size: 1.7em;
  font-weight: bold;
  color: #333333;
}
.label_sale .info__price,
.label_sale .info__price > span {
  color: #DB0909;
}
