@charset "utf-8";
/* =====================

GUIDE PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

	.pg_guide {
	    padding-top: 70px;
	    padding-right: 15px;
	    padding-bottom: 150px;
	    padding-left: 15px;
	    max-width: 960px;
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	}
	.pg_guide_detail .col_left {
		width: 80%;
		float: left;
	}
	.pg_guide_detail .col_right {
		width: 20%;
		padding-left: 10px;
		float: right;
		box-sizing: border-box;
	}

	/* ---------------------
	USER GUIDE
	--------------------- */
	.ttl--userGuide {
		margin-top: 100px;
		margin-bottom: 100px;
		font-size: 35px;
		font-weight: normal;
		text-align: center;
	}

	/* ---------------------
	GUIDE
	--------------------- */
	.guideNav {
		width: 100%;
		margin-top: 30px;
		text-align: center;
	}
	.guideNav li {
		display: inline-block;
		width: 12%;
		height: auto;
		box-sizing: border-box;
		vertical-align: top;
	}
	.guideNav li a {
		display: block;
		width: 100%;
		height: 100px;
		padding-top: 60px;
		background-repeat: no-repeat;
		background-position: center 20px;
		background-size: 30px 30px;
		font-size: 11px;
		color: #333333;
		text-align: center;
		text-decoration: none;
		box-sizing: border-box;
		-webkit-transition: all 0.1s;
	  -moz-transition: all 0.1s;
	  -ms-transition: all 0.1s;
	  -o-transition: all 0.1s;
	  transition: all 0.1s;
	}
	.guideNav li a.is_active {
		background-color: #F6F6F6;
		font-size: 14px;
		color: #FFA630;
	}
	.guideNav li a:hover {
		background-size: 35px 35px;
		color: #FFA630;
	}

	.guideNav__item {
		background-image: url(/assets/img/common/icn//icn_sofa2.svg);
	}
	.guideNav__order {
		background-image: url(/assets/img/common/icn//icn_order.svg);
	}
	.guideNav__history {
		background-image: url(/assets/img/common/icn//icn_watch2.svg);
	}
	.guideNav__pay {
		background-image: url(/assets/img/common/icn//icn_atm.svg);
	}
	.guideNav__post {
		background-image: url(/assets/img/common/icn//icn_postbox2.svg);
	}
	.guideNav__cancel {
		background-image: url(/assets/img/common/icn//icn_cancel.svg);
	}
	.guideNav__member {
		background-image: url(/assets/img/common/icn//icn_member.svg);
	}
	.guideNav__site {
		background-image: url(/assets/img/common/icn//icn_pc.svg);
	}
	.listTitle {
		font-weight: normal;
		margin-top: 30px;
	}
	.listTitle a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 15px 15px 15px 0;
		box-sizing: border-box;
		font-size: 14px;
		text-decoration: none;
		color: #333333;
	}
	.listTitle a::before {
		content: "";
		display: inline-block;
		width: 5px;
		height: 20px;
		margin-right: 10px;
		background-color: #CCCCCC;
		vertical-align: middle;
	}
	.userGuide__item {
		display: none;
	}
	.userGuide__item.is_active {
		display: block;
	}
	.list {
		max-width: 1000px;
		margin: 30px auto;
		padding: 50px;
		background-color: #F9F9F9;
		box-sizing: border-box;
	}
	.list li {
		font-size: 13px;
		border-bottom: 1px solid #EFEFEF;
	}
	.list > li > a {
		display: block;
		width: 100%;
		padding: 15px 0 15px 15px;
		box-sizing: border-box;
		color: #333333;
		text-decoration: none;
		background-color: #FFFFFF;
		border: 1px solid #EFEFEF;
		transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
	}
	.list > li + li {
		margin-top: -2px;
	}
	.list > li > a:hover {
		background-color: #EFEFEF;
	}
	.list > li:last-child {
		border-bottom: none;
	}
	.ttlLv2--guide {
		margin: 100px 0 30px 0;
		padding-bottom: 15px;
		font-size: 1.6em;
		text-align: center;
		font-weight: normal;
		border-bottom: 1px solid #EFEFEF;
	}
	.ttlLv3--guide {
		margin-top: 60px;
		padding-left: 10px;
		font-size: 1.3em;
		font-weight: normal;
		border-left: 3px solid #333333;
	}
	.ttlLv2--guide + .txt--guide,
	.ttlLv3--guide + .txt--guide,
	.txt--guide + .ttlLv3--guide {
		margin-top: 30px;
	}
	.txt--guide {
		font-size: 1.2em;
		color: #333333;
		line-height: 2;
	}
	.txt--guide + .txt--guide {
		margin-top: 15px;
	}
	.img--guide {
		margin: 30px 0;
	}
	.linkControll {
		position: relative;
		width: 550px;
		height: 150px;
		margin: 80px auto 0;
		border-radius: 5px;
		background-color: #EEEEE7;
	}
	.linkControll .btn {
		position: absolute;
		top: 50px;
		right: 20px;
		width: 200px;
	}
	.cta--linkControll {
		margin-top: 100px;
		text-align: center;
	}
	.cta--linkControll a {
		font-size: 14px;
		color: #333333;
		text-decoration: none;
	}
	.cta--linkControll a span {
		display: block;
		padding: 20px 80px;
		margin-top: 15px;
		display: inline-block;
		border: 1px solid #CCCCCC;
		font-size: 18px;
	}
	.cta--linkControll a:hover span {
		background-color: #EFEFEF;
	}

	/* =====================

	GUIDE CHILDPAGE PAGE STYLING

	===================== */

	/* ---------------------
	COMMON ITEMS
	--------------------- */
	.contentsTitle {
		margin-top: 60px;
		font-size: 22px;
		font-weight: normal;
		text-align: center;
	}
	.contentsTitle--lv2 {
		padding-bottom: 10px;
		margin-top: 60px;
		border-bottom: 1px solid #333333;
		font-size: 18px;
		font-weight: normal;
	}
	.contentsTitle--lv3 {
		padding-left: 10px;
		margin-top: 40px;
		border-left: 5px solid #333333;
		font-size: 15px;
		font-weight: normal;
	}
	.contentsTitle--lv4 {
		display: inline-block;
		padding: 5px;
		margin-top: 30px;
		background-color: #CCCCCC;
		font-size: 12px;
		font-weight: normal;
		color: #000000;
	}

	.contentsText {
		margin-top: 15px;
		font-size: 14px;
		color: #333333;
		line-height: 2;
	}
	.contentsText > .icn_link {
		text-decoration: underline;
		margin: 0 3px;
	}
	.contentsText > .icn_link::after {
		margin-left: 3px;
		vertical-align: middle;
	}
	.contentsCaution {
		padding: 30px;
		margin-top: 15px;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}
	.contentsList {
		margin-top: 20px;
		margin-left: 30px;
	}
	.contentsList > li {
		line-height: 1.5;
		list-style-type: disc;
		font-size: 13px;
	}
	.contentsList > li + li {
		margin-top: 15px;
	}
	.cautionList > li {
		line-height: 1.5;
		font-size: 12px;
	}
	.cautionList > li + li {
		margin-top: 15px;
	}

	/* ---------------------
	DISTANCE
	--------------------- */


	/* ---------------------
	RIGHT NAV
	--------------------- */
	.inPage_nav {
		border: 1px solid #efefef;
	}
	.inPage_nav li a {
		font-size: 1em;
		padding: 20px 0 20px 10px;
	}
	.inPage_nav li a.is_current {
		color: #FFA630;
		background-color: #F9F9F9;
	}
	.inPage_nav li a::before {
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;
		vertical-align: middle;
	}
	.inPage_nav li a.nav_item::before {
		background-image: url(/assets/img/common/icn//icn_sofa2.svg);
	}
	.inPage_nav li a.nav_order::before {
		background-image: url(/assets/img/common/icn//icn_order.svg);
	}
	.inPage_nav li a.nav_history::before {
		background-image: url(/assets/img/common/icn//icn_watch2.svg);
	}
	.inPage_nav li a.nav_pay::before {
		background-image: url(/assets/img/common/icn//icn_atm.svg);
	}
	.inPage_nav li a.nav_post::before {
		background-image: url(/assets/img/common/icn//icn_postbox2.svg);
	}
	.inPage_nav li a.nav_cancel::before {
		background-image: url(/assets/img/common/icn//icn_cancel.svg);
	}
	.inPage_nav li a.nav_member::before {
		background-image: url(/assets/img/common/icn//icn_member.svg);
	}
	.inPage_nav li a.nav_site::before {
		background-image: url(/assets/img/common/icn//icn_pc.svg);
	}
	/* ---------------------
	TO CORPORATION
	--------------------- */
	.ttl--toCorporation {
		margin-top: 150px;
		margin-bottom: 60px;
		font-size: 35px;
		font-weight: normal;
		text-align: center;
	}
	.list--toCorporation {
		text-align: center;
	}
	.list--toCorporation li {
		display: inline-block;
		vertical-align: top;
	}
	.toCorporationBox {
		width: 400px;
		height: 400px;
		padding: 30px;
		box-sizing: border-box;
		border: 2px solid #EFEFEF;
	}
	.ttl--toCorporationBox {
		margin-top: 30px;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
	}
	.txt--toCorporationBox {
		margin-top: 30px;
		line-height: 2;
		font-size: 15px;
	}
	.cta--toCorporationBox {
		margin-top: 30px;
	}
	.caution--toCorporationBox {
		margin-top: 10px;
	}
	.caution--toCorporationBox > a {
		color: #333333;
	}


/*
END max width 768px :PC
///////////////////// */
}

/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width : 768px){

.pg_guide {
	width: 100%;
	padding: 30px 10px;
	box-sizing: border-box;
}
.pg_guide_detail {
	padding: 0 10px 30px;
	box-sizing: border-box;
}
/* ---------------------
USER GUIDE
--------------------- */
.ttl--userGuide,
.ttl--qa {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 1.6rem;
	font-weight: normal;
	text-align: center;
}

/* ---------------------
GUIDE
--------------------- */
.guideNav {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}
.guideNav li {
	width: 25%;
	height: auto;
	box-sizing: border-box;
	vertical-align: top;
	float: left;
}
.guideNav li a {
	display: block;
	width: 100%;
	height: 80px;
	padding-top: 60px;
	background-color: #f9f9f9;
	background-repeat: no-repeat;
	background-position: center 20px;
	background-size: 30px 30px;
	font-size: 0.8rem;
	color: #333333;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}
.guideNav li a.is_active {
	background-color: #F6F6F6;
	font-size: 14px;
	color: #FFA630;
}

.guideNav__item {
	background-image: url(/assets/img/common/icn//icn_sofa2.svg);
}
.guideNav__order {
	background-image: url(/assets/img/common/icn//icn_order.svg);
}
.guideNav__history {
	background-image: url(/assets/img/common/icn//icn_watch2.svg);
}
.guideNav__pay {
	background-image: url(/assets/img/common/icn//icn_atm.svg);
}
.guideNav__post {
	background-image: url(/assets/img/common/icn//icn_postbox2.svg);
}
.guideNav__cancel {
	background-image: url(/assets/img/common/icn//icn_cancel.svg);
}
.guideNav__member {
	background-image: url(/assets/img/common/icn//icn_member.svg);
}
.guideNav__site {
	background-image: url(/assets/img/common/icn//icn_pc.svg);
}
.listTitle {
	font-weight: normal;
	margin-top: 30px;
}
.listTitle a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 15px 15px 15px 0;
	box-sizing: border-box;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
}
.listTitle a::before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 20px;
	margin-right: 10px;
	background-color: #CCCCCC;
	vertical-align: middle;
}
.userGuide__item {
	display: none;
}
.userGuide__item.is_active {
	display: block;
}
.list {
	max-width: 1000px;
	margin: 15px auto;
	padding: 5px;
	background-color: #F9F9F9;
	box-sizing: border-box;
}
.list li {
	font-size: 13px;
	border-bottom: 1px solid #EFEFEF;
}
.list > li > a {
	display: block;
	width: 100%;
	padding: 15px 0 15px 15px;
	box-sizing: border-box;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #EFEFEF;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
.list > li + li {
	margin-top: -2px;
}
.list > li > a:hover {
	background-color: #EFEFEF;
}
.list > li:last-child {
	border-bottom: none;
}
.ttlLv2--guide {
	margin: 100px 0 30px 0;
	padding-bottom: 15px;
	font-size: 1.6em;
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #EFEFEF;
}
.ttlLv3--guide {
	margin-top: 60px;
	padding-left: 10px;
	font-size: 1.3em;
	font-weight: normal;
	border-left: 3px solid #333333;
}
.ttlLv2--guide + .txt--guide,
.ttlLv3--guide + .txt--guide,
.txt--guide + .ttlLv3--guide {
	margin-top: 30px;
}
.txt--guide {
	font-size: 1.2em;
	color: #333333;
	line-height: 2;
}
.txt--guide + .txt--guide {
	margin-top: 15px;
}
.img--guide {
	margin: 30px 0;
}
.linkControll {
	position: relative;
	width: 550px;
	height: 150px;
	margin: 80px auto 0;
	border-radius: 5px;
	background-color: #EEEEE7;
}
.linkControll .btn {
	position: absolute;
	top: 50px;
	right: 20px;
	width: 200px;
}
.cta--linkControll {
	margin-top: 100px;
	text-align: center;
}
.cta--linkControll a {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.cta--linkControll a span {
	display: block;
	padding: 20px 80px;
	margin-top: 15px;
	display: inline-block;
	border: 1px solid #CCCCCC;
	font-size: 18px;
}
.cta--linkControll a:hover span {
	background-color: #EFEFEF;
}

/* =====================

GUIDE CHILDPAGE PAGE STYLING

===================== */
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt30 {margin-top: 30px;}
.mt45 {margin-top: 45px;}
.mt60 {margin-top: 60px;}
/* ---------------------
COMMON ITEMS
--------------------- */
.contentsTitle {
	font-size: 1.5rem;
	margin-top: 30px;
	font-weight: normal;
	text-align: center;
}
.contentsTitle--lv2 {
	padding-bottom: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #333333;
	font-size: 1.2rem;
	font-weight: normal;
}
.contentsTitle--lv3 {
	padding-left: 10px;
	margin-top: 20px;
	border-left: 5px solid #333333;
	font-size: 15px;
	font-weight: normal;
}
.contentsTitle--lv4 {
	display: inline-block;
	padding: 5px;
	margin-top: 20px;
	background-color: #CCCCCC;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.contentsText {
	margin-top: 15px;
	font-size: 14px;
	color: #333333;
	line-height: 2;
}
.contentsText > .icn_link {
	text-decoration: underline;
	margin: 0 3px;
}
.contentsText > .icn_link::after {
	margin-left: 3px;
	vertical-align: middle;
}
.contentsCaution {
	padding: 10px;
	box-sizing: border-box;
	background-color: #F9F9F9;
}
.contentsList {
	margin-top: 15px;
	margin-left: 30px;
}
.contentsList > li {
	line-height: 1.5;
	list-style-type: disc;
	font-size: 13px;
}
.contentsList > li + li {
	margin-top: 15px;
}
.cautionList > li {
	line-height: 1.5;
	font-size: 12px;
}
.cautionList > li + li {
	margin-top: 15px;
}

/* ---------------------
RIGHT NAV
--------------------- */
.inPage_nav {
	margin-top: 15px;
	border: 1px solid #efefef;
}
.inPage_nav li + li {
	border-top: 1px dashed #efefef;
}
.inPage_nav li a {
	display: block;
	font-size: 1em;
	padding: 10px 0 10px 10px;
	color: #333;
	text-decoration: none;
}
.inPage_nav li a.is_current {
	color: #FFA630;
	background-color: #F9F9F9;
}
.inPage_nav li a::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	vertical-align: middle;
}
.inPage_nav li a.nav_item::before {
	background-image: url(/assets/img/common/icn//icn_sofa2.svg);
}
.inPage_nav li a.nav_order::before {
	background-image: url(/assets/img/common/icn//icn_order.svg);
}
.inPage_nav li a.nav_history::before {
	background-image: url(/assets/img/common/icn//icn_watch2.svg);
}
.inPage_nav li a.nav_pay::before {
	background-image: url(/assets/img/common/icn//icn_atm.svg);
}
.inPage_nav li a.nav_post::before {
	background-image: url(/assets/img/common/icn//icn_postbox2.svg);
}
.inPage_nav li a.nav_cancel::before {
	background-image: url(/assets/img/common/icn//icn_cancel.svg);
}
.inPage_nav li a.nav_member::before {
	background-image: url(/assets/img/common/icn//icn_member.svg);
}
.inPage_nav li a.nav_site::before {
	background-image: url(/assets/img/common/icn//icn_pc.svg);
}
/* ---------------------
TO CORPORATION
--------------------- */
.ttl--toCorporation {
	margin-top: 150px;
	margin-bottom: 60px;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
}
.list--toCorporation {
	text-align: center;
}
.list--toCorporation li {
	display: inline-block;
	vertical-align: top;
}
.toCorporationBox {
	width: 100%;
	height: 400px;
	padding: 30px;
	box-sizing: border-box;
	border: 2px solid #EFEFEF;
}
.ttl--toCorporationBox {
	margin-top: 30px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
.txt--toCorporationBox {
	margin-top: 30px;
	line-height: 2;
	font-size: 15px;
}
.cta--toCorporationBox {
	margin-top: 30px;
}
.caution--toCorporationBox {
	margin-top: 10px;
}
.caution--toCorporationBox > a {
	color: #333333;
}

/*
END max width 980px :SP
///////////////////// */
}
