@charset "utf-8";

/* =====================

LOGIN PAGE STYLING

===================== */
.pg_login {
  position: relative;
}
.pg_login_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  z-index: 20;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
/* ---------------------
messageArea
--------------------- */
.messageArea {
  min-width: 400px;
  text-align: center;
}
.messageArea_ttl {
  font-size: 2rem;
}
.messageArea_txt {
  margin-top: 10px;
  font-size: 1.3rem;
}

/* ---------------------
InputUserInfo
--------------------- */
.InputUserInfo {
  max-width: 400px;
  width: 100%;
}
.InputUserInfo_inner {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.ttl--login {
  text-align: center;
  margin-bottom: 60px;
  font-size: 18px;
}
.loginItem {
  width: 100%;
}
.loginItem > li {
  width: 100%;
  box-sizing: border-box;
}
.loginItem > li + li {
  margin-top: 15px;
}
.loginItem > li > .textInput {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}
.forgetPass {
  display: block;
  width: 100%;
  margin: 15px auto;
  text-align: right;
  color: #333333;
}
.checkbox--saveInfo {
  width: 350px;
  margin: 50px auto 0;
}
.checkbox--saveInfo label {
  font-size: 12px;
}
.cta--login {
  margin-top: 40px;
  text-align: center;
}
.cta--login .btn {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}
/* ===================
socialLogin
=================== */

/*.loginSns_message {
  margin-top: 30px;
  text-align: center;
  font-size: 1.1rem;
  color: #666;
}
.loginSns {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.loginSns > li {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  box-sizing: border-box;
}
.loginSns > li + li {
  margin-left: 30px;
}
.loginSns > li > a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: 15px center;
}
.loginSns > li > .icn_fb {
  background-color: #49659F;
  background-size: 10px;
  background-image: url(/assets/img/common/icn//icn_sns_facebook.svg);
}
.loginSns > li > .icn_go {
  background-color: #DD4E40;
  background-size: 10px;
  background-image: url(/assets/img/common/icn//icn_sns_google.svg);
}*/

/*<p class="loginSns_message">SNSアカウントでもログインできます</p>
<ul class="loginSns">
  <li><a href="" class="icn_go">Google</a></li>
  <li><a href="" class="icn_fb">facebook</a></li>
</ul>*/

/* =====================

FORGET PAGE STYLING

===================== */
.pg_forget {
  padding: 30px 0 150px;
}
.ttl--forget {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}
.description--InputUserInfo {
  margin-bottom: 40px;
  line-height: 2;
  text-align: center;
}
.forgetCoution {
  width: 550px;
  padding: 30px;
  margin: 60px auto 0;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
}
.ttl--forgetCoution {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
}
.list--forgetCoution > li {
  line-height: 1.5;
}
.list--forgetCoution > li + li {
  margin-top: 10px;
}


/* /////////////////////

max width 980px :TABLET

///////////////////// */

@media screen and (max-width : 768px){


  /* =====================

  LOGIN PAGE STYLING

  ===================== */
  .pg_login_inner {
    flex-direction: column;
  }
  /* ---------------------
  InputUserInfo
  --------------------- */
  .InputUserInfo {
    width: 100%;
  }
  .InputUserInfo_inner {
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .messageArea {
    min-width: auto;
    margin-bottom: 30px;
  }
  .cta_lv2 {
    height: 60px;
    line-height: 60px;
    border-bottom-color: #003E54;
    background-color: #005981;
  }


/*
END max width 980px :TABLET
///////////////////// */
}
