@charset "utf-8";

/* =====================

MEMBER PAGE STYLING

- LAYOUT

===================== */


/* -------------------

LAYOUT

------------------- */
.bg_blue {
	padding: 60px 0;
	background-color: #f9f9f9;
}
.btn_moreRead {
	display: block;
	width: 100%;
	padding: 30px 0;
	text-align: right;
	text-decoration: none;
}
.btn_moreRead span {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 15px;
	text-align: center;
	font-size: 14px;
	background-color: #ccc;
	color: #000;
}
@media screen and (min-width : 768px){
	.btn_moreRead:hover span {
		background-color: #ffa630;
		color: #fff;
	}
}
input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	border:1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 16px;
}
@media screen and (max-width : 768px){
	.bg_blue {
		padding: 70px 0 30px 0;
		background: -moz-linear-gradient(top,  rgba(240,240,240,0.3) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(240,240,240,0.3) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(240,240,240,0.3) 0%,rgba(255,255,255,1) 100%)
	}
}
/* ------------------
KV
-------------------*/
.memberKv {
	position: relative;
	width: 100%;
	height: 350px;
}
.particles-js-canvas-el {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
}
@media screen and (max-width : 768px){
	.memberKv {
		height: 135px;
	}
}
/* ------------------
guestStatus
-------------------*/
.guestStatus {
	display: table;
	width: 980px;
	height: 100%;
	margin: 0 auto;
}
.guestStatus_profile,
.guestStatus_point {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}
.profile_userName {
	font-size: 16px;
}
.profile_userName > span {
	margin-right: 5px;
	font-size: 30px;
	font-weight: bold;
}
.profile_userLank {
	margin-top: 10px;
	font-size: 12px;
}
.guestStatus_point dt,
.guestStatus_point dd {
	display: inline-block;
	vertical-align: bottom;
}
.guestStatus_point dt {
	font-size: 15px;
	margin-right: 10px;
}
.guestStatus_point dd {
	font-size: 15px;
}
.guestStatus_point dd span {
	margin-right: 5px;	
	font-size: 25px;
	font-weight: bold;
}
@media screen and (max-width : 768px){
	.guestStatus {
		width: 100%;
		padding: 30px 15px;
		box-sizing: border-box;
	}
	.guestStatus_profile {
		display: block;
		width: 100%;
		text-align: center;
	}
	.profile_userName {
		font-size: 10px;
	}
	.profile_userName > span {
		font-size: 18px;
	}
	.guestStatus_point {
		display: block;
		width: 100%;
		margin-top: 15px;
		text-align: center;
	}
	.guestStatus_point dt {
		margin-right: 5px;
		font-size: 13px;
		text-align: left;
	}
	.guestStatus_point dd {
		font-size: 12px;
	}
	.guestStatus_point dd span {
		font-size: 16px;
	}
}

/* ------------------
localLinks
-------------------*/
.localLinks_wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	z-index: 20;
}
.localLinks {
	display: table;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
.localLinks > li {
	display: table-cell;
	vertical-align: middle;
	list-style: none;
	text-align: center;
}
.localLinks > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	font-size: 15px;
	text-decoration: none;
	color: #333;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
@media screen and (min-width : 768px){
	.localLinks > li > a:hover,
	.localLinks .is_active > a {
		color: #ffa630;
	}
	.localLinks > li > a:hover::after,
	.localLinks .is_active > a::after {
		position: absolute;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: #ffa630;
	}
}
.localLinks > li.disable > a {
	color: #ccc;
	pointer-events: none;
}
@media screen and (max-width : 768px){
	.localLinks_wrapper {
		position: inherit;
		background-color: #fff;
	}
	.localLinks {
		padding: 0 10px;
		box-sizing: border-box;
	}
	.localLinks > li > a {
		padding: 15px 0;
		font-size: 11px;
	}
	.localLinks .is_active > a {
		color: #ffa630;
	}
	.localLinks .is_active > a::after {
		position: absolute;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: #ffa630;
	}
}

/* ------------------
guest status
-------------------*/
.sec {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.sec + .sec {
	margin-top: 60px;
}
.sec_ttl {
	border-bottom: 2px solid #333;
	font-size: 24px;
	font-weight: bold;
}
.sec_ttl + .defaultTable {
	margin-top: 30px;
}
@media screen and (max-width : 768px){	
	.sec {
		padding: 0 10px;
		box-sizing: border-box;
	}
	.sec + .sec {
		margin-top: 20px;
	}
	.sec_ttl + .defaultTable {
		margin-top: 10px;
	}
	.sec_ttl {
		font-size: 15px;
	}
}

/* ------------------
default table
-------------------*/
.defaultTable {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.tableBlock {
	display: table-cell;
	width: 20%;
	border: 1px solid #ccc;
}
.col4 .tableBlock {width: 25%;}
.col5 .tableBlock {width: 20%;}
.tableBlock > dt,
.tableBlock > dd {
	padding: 10px;
}
.tableBlock > dt {
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	text-align: center;
}
.tableBlock > dd {
	text-align: right;
}

.orderInfo {}
.orderInfo > dl {
	display: table;
	width: 100%;
}
.orderInfo > dl + dl {
	margin-top: 5px;
}
.orderInfo > dl > dt,
.orderInfo > dl > dd {
	display: table-cell;
}
.orderInfo > dl > dt {
	text-align: left;
}
.orderInfo > dl > dd {
	text-align: right;
}
.orderInfo > dl > dd > a {
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}
.orderInfo > dl > dd > a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    background-image: url(/assets/img/common/icn/icn_link.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}
.statusStepList > li {
	display: block;
	padding: 5px 0;
	background-color: #333;
	color: #fff;
	border-radius: 15px;
	text-align: center;
}
.statusStepList > .step1 {
	background-color: #D90000;
	color: #fff;
}
.statusStepList > .step2 {
	background-color: #D90000;
	color: #fff;
}
.statusStepList > .step3 {
	background-color: #005981;
	color: #fff;
}
.statusStepList > .step4 {
	background-color: #ffa630;
	color: #fff;
}
.statusStepList > .step5 {
	background-color: #ccc;
	color: #666;
}


.defaultTable + .defaultTable {
	margin-top: -1px;
}

.defaultTable + .defaultTable > .tableBlock > dt {
	display: none;
}

.defaultTable.colRow {
	overflow: hidden;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: none;
	border-bottom: none;
}
.defaultTable.colRow .tableBlock {
    display: table;
    width: 50%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
    box-sizing: border-box;
    float: left;
}
.defaultTable.colRow .tableBlock dt,
.defaultTable.colRow .tableBlock dd {
	display: table-cell;	
}
.defaultTable.colRow .tableBlock dt {
	width: 40%;
	border-bottom: none;
	border-right: 1px solid #ccc;
	text-align: left;
}
.defaultTable.colRow .tableBlock dd {
	width: 60%;
	text-align: right;
}
@media screen and (max-width : 768px){
	.col4 .tableBlock,
	.col5 .tableBlock {
		width: 100%;
	}
	.tableBlock {
		display: block;
	    box-sizing: border-box;
	    border: none;		
	}
	.tableBlock > dt {
		font-size: 11px;
	}
}

/* ------------------
statusBlock
-------------------*/
@media screen and (max-width : 985px){
	.statusBlock {
		border: 1px solid #ccc;
	}
	.statusBlock .statusBlock_orderInfo {
		width: 60%;
		float: left;
	}
	.statusBlock .statusBlock_orderStatus {
		width: 40%;
		float: left;
	}
	.statusBlock_orderNumber,
	.statusBlock_orderDate,
	.statusBlock_postDate {
		display: none;
	}
}
/* ------------------
historyBlock
-------------------*/
@media screen and (max-width : 985px){
	.historyBlock {
		border: 1px solid #ccc;
		overflow: hidden;
	}
	.historyBlock .historyBlock_orderInfo {
		float: left;
		width: 60%;
	}
	.historyBlock .historyBlock_orderDate {
		float: left;
		width: 40%;
	}
	.historyBlock_orderNumber,
	.historyBlock_postDate,
	.historyBlock_review {
		display: none;
	}
}
/* ------------------
registBlock
-------------------*/
.registBlock_accessCity {}

.registBlock_accessCity dd,
.registBlock_accessOther dd {
	height: 50px;
}
@media screen and (max-width : 985px){
.registBlock.colRow .tableBlock {
	width: 100%;
}
.registBlock.colRow .tableBlock dt {
	width: 30%;
}
.btn_moreRead {
	text-align: center;
	padding: 20px 0;
}
.btn_moreRead span {
	padding: 7px 30px;
	font-size: 12px;
}
}

/* ------------------
loginBlock
-------------------*/
.bg_blue + #sec_registInfo {
	padding-top: 60px;
}
.registBlock + .loginBlock {
	margin-top: 30px;
}
.defaultTable.colRow .loginBlock_id {}
.defaultTable.colRow .loginBlock_pw {}
.registInfo_subSection {
	margin-top: 30px;
}
.registInfo_subSection_ttl {
	font-size: 15px;
	padding-left: 5px;
	margin-bottom: 10px;
	border-left: 3px solid #333;
}

@media screen and (max-width : 985px){

	.registInfo_subSection_ttl {
		font-size: 12px;
	}
	.loginBlock {
		display: block;
	}
.defaultTable.colRow .loginBlock_id,
.defaultTable.colRow .loginBlock_pw {
	display: table;
	width: 100%;
	float: none;
}
.defaultTable.colRow .loginBlock_id dt,
.defaultTable.colRow .loginBlock_pw dt {
	width: 30%;
}
.defaultTable.colRow .loginBlock_id dd,
.defaultTable.colRow .loginBlock_pw dd {
	width: 70%;
}

}
