@charset "utf-8";

/* =====================

NEWS PAGE STYLING

===================== */
.pg_news {
	padding-top: 30px;
}
.newsList {
	width: 960px;
	margin: 30px auto 150px;
}
.newsList > li + li {
	border-top: 1px dashed #CCCCCC;
}
.newsList > li > a {
	display: block;
	padding: 30px 0;
	text-decoration: none;
 	color: #333333;
}
.newsItems {}
.newsItems dt,
.newsItems dd {
	display: inline-block;
	vertical-align: middle;
}
.newsItem__category {
	padding: 5px 10px;
	border-radius: 15px;
	background-color: #333333;
	color: #FFFFFF;
}
.newsItem__title {
	margin-left: 30px;
	font-size: 1.2em;
}
.newsItem__date {
	margin-left: 20px;
	text-align: right;
	color: #666666;
}
/* ==================
DETAIL
================== */
.newsDetail {
	width: 960px;
	margin: 30px auto 150px;
}
.ttl--news {
	display: block;
	padding-bottom: 10px;
	width: 960px;
	margin: 0 auto;
	font-size: 1.4em;
	border-bottom: 1px solid #666666;
}
.ttl--news > span {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 10px;
	background-color: #333333;
	color: #FFFFFF;
	font-weight: normal;
	border-radius: 10px;
	vertical-align: middle;
}
.txt--news {
	color: #333333;
	line-height: 1.5;
	font-size: 1.3em;
}
.txt--news + .txt--news {
	margin-top: 15px;
}
.subInfo {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px dashed #EFEFEF;
}
.backLink {
	display: inline-block;
	padding: 10px 15px;
	background-color: #333333;
	color: #FFFFFF;
	text-decoration: none;
}
.date-news {
	display: inline-block;
	width: 90%;
	text-align: right;
	font-size: 1.1em;
	color: #666666;
}


/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){




/*
END max width 980px :TABLET
///////////////////// */
}