@charset "utf-8";

/* =====================

PRIVACY PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

	.pg_privacy {}
	.ttl_lv2--privacy {
		margin: 40px 0 20px 0;
	}
	.txt--privacy {
		font-size: 15px;
		line-height: 1.5;
	}
	.txt--privacy + .list--privacy {
		margin-top: 15px;
	}
	.list--privacy li {
		font-size: 15px;
		line-height: 1.5;
	}
	.list--privacy li + li {
		margin-top: 10px;
	}
	.list--privacy li .list--privacy {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--privacy + .txt--privacy,
	.ttl_lv2--privacy + .list--privacy,
	.ttl_lv2--privacy + .txt--privacy,
	.txt--privacy + .list--privacy {
		margin-top: 15px;
	}
	.address--privacy {
		margin-top: 15px;
		padding: 20px;
		background-color: #EFEFEF;
		border: 1px solid #CCCCCC;
	}
	.address--privacy dl {
		font-style:normal;
	}
	.address--privacy dl > dt,
	.address--privacy dl > dd {
		margin-top: 10px;
		font-size: 14px;
		float: left;
	}
	.address--privacy dl dt {
		clear: left;
	}
	.address--privacy dl dd {
		margin-left: 10px;
	}

}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

PAGE LAYOUT(SP)


====================================================== */
@media screen and (max-width : 768px){

	.ttl_lv2--privacy {
		margin-top: 20px;
	}
	.txt--privacy {
		font-size: 1rem;
		line-height: 1.5;
	}
	.txt--privacy + .list--privacy {
		margin-top: 15px;
	}
	.list--privacy li {
		line-height: 1.5;
		font-size: 1rem;
	}
	.list--privacy li + li {
		margin-top: 10px;
	}
	.list--privacy li .list--privacy {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--privacy + .txt--privacy,
	.ttl_lv2--privacy + .list--privacy,
	.ttl_lv2--privacy + .txt--privacy,
	.txt--privacy + .list--privacy {
		margin-top: 15px;
	}
	.address--privacy {
		margin-top: 15px;
		padding: 10px;
		background-color: #EFEFEF;
		border: 1px solid #CCCCCC;
	}
	.address--privacy dl {
		font-style:normal;
	}
	.address--privacy dl > dt,
	.address--privacy dl > dd {
		margin-top: 10px;
		font-size: 1rem;
		float: left;
	}
	.address--privacy dl dt {
		clear: left;
	}
	.address--privacy dl dd {
		margin-left: 10px;
	}

}
/*
END max width 768px :SP
///////////////////// */