@charset "utf-8";

/* =====================

REGIST PAGE STYLING

===================== */
.pg_regist {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding: 70px 15px 150px;
}
/* ---------------------
INPUT
--------------------- */
.formRegist {
	width: 960px;
	box-sizing: border-box;
	margin: 60px auto 0;
}
.forgetPass {
	margin-top: 15px;
	text-align: right;
}
.forgetPass a {
	color: #666666;
}
.regitCaution {
	margin-top: 30px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #FFE4E2;
}
.regitCaution li + li {
	margin-top: 15px;
}
.ttl--formRegist {
	padding-left: 10px;
	margin-bottom: 15px;
	border-left: 3px solid #CCCCCC;
	font-size: 15px;
	font-weight: bold;
}
.txtRequied {
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	vertical-align: middle;
	background-color: #D90000;
	color: #FFFFFF;
	font-weight: normal;
}
.txtAny {
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	vertical-align: middle;
	background-color: #CCCCCC;
	color: #333333;
	font-weight: normal;
}
.customerInfo {
	margin-top: 60px;
}
.description--customerInfo {
	margin-top: 15px;
	font-size: 14px;
}
.cautionlist--customerInfo {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 5px solid #EFEFEF;
	box-sizing: border-box;
}
.cautionlist--customerInfo li + li {
	margin-top: 15px;
}
.cta--customerInfo  {
	margin-top: 30px;
	text-align: center;
}
.cta--customerInfo a {
	display: inline-block;
	padding: 20px 30px;
	border: 1px solid #EFEFEF;
	text-decoration: none;
	font-size: 16px;
	color: #333333;
}
.cta--customerInfo a:hover {
	background-color: #FFA630;
	color: #FFFFFF;
}
.form__item {
	display: table;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #EFEFEF;
}
.form__item + .form__item {
	margin-top: -1px;
}
.form__item dt,
.form__item dd {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	box-sizing: border-box;
}
.form__item dt {
	width: 15%;
	min-width: 130px;
	padding: 20px 10px;
	font-size: 14px;
	background-color: #FAFBFC;
}
.form__item dd {
	width: 35%;
}
.form__item--col1 dt {
	width: 15%;
}
.form__item--col1 dd {
	width: 85%;
}
.selectInput--birthday {
	width: 60px;
}
.birthdayTxt {
	margin: 0 3px;
	color: #666666;
}
.selectInput--birthday,
.birthdayTxt {
	display: inline-block;
	vertical-align: bottom;
}

.phoneNumber--shoppingCart {
  width: 100%;
}
.phoneNumber--shoppingCart li {
  display: inline-block;
  width: 32%;
}
.phoneNumber--shoppingCart li + li {
  margin-left: 2%;
}
.wrapper--textareaInput {
	padding: 5px;
}
.ruleMessage {
	margin: 60px 0 30px;
	text-align: center;
}
.ruleMessage a {
	color: #333333;
}
.cta--regist {
	margin-top: 30px;
	text-align: center;
}
.cta--regist .btn {
	display: inline-block;
	width: 350px;
}
.afterCaution {
	width: 700px;
	margin: 15px auto 0;
}
.afterCaution li {}
.afterCaution li + li {
	margin-top: 10px;
}
.inputCustomerInfo {
	display: none;
}
.inputCustomerInfo--confirm {
	display: block;
}

/* =====================

REGIST THANKS PAGE STYLING

===================== */
.pg_thanks {
	height: 350px;
	padding-top: 150px;
}
.ttl--thanks {
	font-size: 26px;
	text-align: center;
	color: #333333;
}
.ttl--thanks > span {
	font-size: 28px;
	color: #FFA630;
}
.catch--thanks {
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
}
.cta--thanks {
	margin-top: 60px;
	text-align: center;
}
.cta--thanks > li {
	display: inline-block;
}
.cta--thanks > li + li {
	margin-left: 15px;
}
.cta--thanks > li > a {
	display: block;
	width: 250px;
	font-size: 14px;
}



/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){

 .pg_regist {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
 }
 .regitCaution {
   margin-top: 15px;
   padding: 10px;
 }
 .formRegist {
   width: 100%;
   margin-top: 30px;
 }
 .ttl--formRegist {
   font-size: 1rem;
 }
 .form__item dt,
 .form__item dd {
   display: block;
   width: 100%;
 }

 .customerInfo {
   margin-top: 30px;
 }
 .description--customerInfo {
   margin-top: 0;
   font-size: 1rem;
 }
 .cautionlist--customerInfo {
   margin-top: 10px;
   padding: 10px;
   margin-bottom: 10px;
 }
 .cta--regist .btn {
   width: 100%;
 }

  .ruleMessage {
    margin: 30px 0;
    line-height: 1.5;
  }
  .afterCaution {
    width: 100%;
  }
  .afterCaution li + li {
    margin-top: 0;
  }

/*
END max width 980px :TABLET
///////////////////// */
}
