@charset "utf-8";

/* =====================

RULE PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

	.pg_rule {}
	.ttl_lv2--rule {
		margin: 40px 0 20px 0;
	}
	.txt--rule {
		font-size: 15px;
		line-height: 1.5;
	}
	.cm_ttl_lv1 + .txt--rule {
		margin-top: 15px;
	}
	.txt--rule + .list--rule {
		margin-top: 15px;
	}
	.list--rule li {
		font-size: 15px;
		line-height: 1.5;
	}
	.list--rule li + li {
		margin-top: 10px;
	}
	.list--rule li .list--rule {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--rule + .txt--rule,
	.ttl_lv2--rule + .list--rule,
	.ttl_lv2--rule + .txt--rule,
	.txt--rule + .list--rule {
		margin-top: 15px;
	}
	.address--rule {
		margin-top: 15px;
		padding: 20px;
		background-color: #EFEFEF;
		border: 1px solid #CCCCCC;
	}
	.address--rule dl {
		font-style:normal;
	}
	.address--rule dl > dt,
	.address--rule dl > dd {
		margin-top: 10px;
		font-size: 14px;
		float: left;
	}
	.address--rule dl dt {
		clear: left;
	}
	.address--rule dl dd {
		margin-left: 10px;
	}

}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

PAGE LAYOUT(SP)


====================================================== */
@media screen and (max-width : 768px){

	.ttl_lv2--rule {
		margin-top: 20px;
		font-size: 1rem;
	}
	.cm_ttl_lv1 + .txt--rule {
		margin-top: 10px;
	}
	.txt--rule {
		line-height: 1.5;
		font-size: 1rem;
		color: #333;
	}
	.txt--rule + .list--rule {
		margin-top: 15px;
	}
	.list--rule li {
		line-height: 1.5;
		font-size: 1rem;
		color: #333;
	}
	.list--rule li + li {
		margin-top: 10px;
	}
	.list--rule li .list--rule {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--rule + .txt--rule,
	.ttl_lv2--rule + .list--rule,
	.ttl_lv2--rule + .txt--rule,
	.txt--rule + .list--rule {
		margin-top: 10px;
	}
	.address--rule {
		margin-top: 15px;
		padding: 20px;
		background-color: #EFEFEF;
		border: 1px solid #CCCCCC;
	}
	.address--rule dl {
		font-style:normal;
	}
	.address--rule dl > dt,
	.address--rule dl > dd {
		margin-top: 10px;
		font-size: 14px;
		float: left;
	}
	.address--rule dl dt {
		clear: left;
	}
	.address--rule dl dd {
		margin-left: 10px;
	}

}
/*
END max width 768px :SP
///////////////////// */