@charset "utf-8";

/* =====================

SEARCH PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)
- SORT AREA(PC)
- SORT AREA(SP)
- RESULT AREA(PC)
- RESULT AREA(SP)
- SEARCH AREA(PC)
- SEARCH AREA(SP)


DETAIL PAGE STYLING

- PAGE LAYOUT(PC)
- ITEM THUMBNAIL(PC)
- MAKER'S STORY(PC)
- REVIEW(PC)
- ITEM INFO(PC)
- POSTAGE(PC)
- ORDER(PC)

===================== */


/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

#pg_detail .col_left {
  border-right: 1px solid #EFEFEF;
  padding-bottom: 300px;
}
.itemController {
  display: none;
}
/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width: 768px) {
  .right--search {
    display: block;
  }
  .itemController {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
  }
  .itemController > li {
    display: table-cell;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .itemController > li + li > a::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background-color: #ccc;
    vertical-align: middle;
  }
  .itemController > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
  }
}

/* ======================================================

SORT AREA(PC)

- SORT
- VIEW
- SEARCH RESULT

====================================================== */
@media screen and (min-width : 768px){
/* ---------------------
SORT
--------------------- */
.sort {
  width: 480px;
  display: table;
}
.sort > li {
  position: relative;
  display: table-cell;
  width: 23%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  float: left;
}
.sort > li + li {
  margin-left: 5px;
}
.sort > li > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.sortLabel {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sortLabel::before {
  content: "";
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #EFEFEF;
  text-align: center;
  font-size: 1.1rem;
  color: #999999;
  box-sizing: border-box;
  border-radius: 5px;
}
.label--sortNew::before {
  content: "新しい順";
}
.label--sortFamous::before {
  content: "人気順";
}
.label--sortCheap::before {
  content: "価格が安い順";
}
.label--sortExpensive::before {
  content: "価格が高い順";
}
.sortLabel:active::before,
#sortNew:checked ~ .label--sortNew::before,
#sortFamous:checked ~ .label--sortFamous::before,
#sortCheap:checked ~ .label--sortCheap::before,
#sortExpensive:checked ~ .label--sortExpensive::before {
  border: 1px solid #FFA630;
  background-color: #FFA630;
  color: #fff;
}

/* ---------------------
VIEW
--------------------- */
.view {
  min-width: 60px;
  height: 60px;
  margin-left: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  float: right;
}
.view > li {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 60px;
  box-sizing: border-box;
}
.view > li > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.viewLabel {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.viewLabel::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: 25px 25px;
  box-sizing: border-box;
  text-indent: -9999px;
}
.label--viewTypeA::before,
.label--viewTypeB::before {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
}
.label--viewTypeA::before {
  background-image: url(/assets/img/common/icn//icn_search_view_a.svg);
}
.label--viewTypeB::before {
  background-image: url(/assets/img/common/icn//icn_search_view_b.svg);
}
#viewTypeA:active ~ .label--viewTypeA::before,
#viewTypeA:checked ~ .label--viewTypeA::before {
  background-image: url(/assets/img/common/icn//icn_search_view_a_on.svg);
}
#viewTypeB:active ~ .label--viewTypeB::before,
#viewTypeB:checked ~ .label--viewTypeB::before {
  background-image: url(/assets/img/common/icn//icn_search_view_b_on.svg);
}

/* ---------------------
SEARCH RESULT
--------------------- */
.searchResult {
  text-align: right;
  line-height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  float: right;
}
.searchResult .sec_ttl {
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal;
}
.searchResult__count {
  display: inline-block;
  width: 150px;
}
.searchResult__count span {
  font-size: 1.6em;
  font-weight: bold;
  color: #ffa630;
  margin-right: 5px;
}

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

SORT AREA(SP)

- SORT
- VIEW
- SEARCH RESULT

====================================================== */
@media screen and (max-width : 768px){
/* ---------------------
SORT
--------------------- */
.sort {
  display: none;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  box-sizing: border-box;
}
.sort > li {
  position: relative;
  display: inline-block;
  width: 23%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
}
.sort > li + li {
  margin-left: 5px;
}
.sort > li > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.sortLabel {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 8px;
}
.sortLabel::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  background-color: #EFEFEF;
  text-align: center;
  font-size: 1.2em;
  color: #999999;
  box-sizing: border-box;
  border-radius: 5px;
}
.label--sortNew::before {
  content: "新しい順";
}
.label--sortFamous::before {
  content: "人気順";
}
.label--sortCheap::before {
  content: "価格が安い順";
}
.label--sortExpensive::before {
  content: "価格が高い順";
}
.sortLabel:active::before,
#sortNew:checked ~ .label--sortNew::before,
#sortFamous:checked ~ .label--sortFamous::before,
#sortCheap:checked ~ .label--sortCheap::before,
#sortExpensive:checked ~ .label--sortExpensive::before {
  border: 1px solid #FFA630;
  background-color: #FFFFFF;
  color: #FFA630;
}

/* ---------------------
SEARCH RESULT
--------------------- */
.searchResult {
  padding: 0 10px;
  margin-top: 10px;
  text-align: right;
  box-sizing: border-box;
}
.searchResult .sec_ttl {
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
}
.searchResult__count {
  display: inline-block;
}
.searchResult__count span {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffa630;
  margin-right: 5px;
}

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

RESULT AREA(PC)

- MAIN
- RESULT HEADER
- RESULT LIST
-- is many
- PAGER

====================================================== */
@media screen and (min-width : 768px){
/* ---------------------
MAIN
--------------------- */
.result__main {
  max-width: 1085px;
}

/* ---------------------
RESULT HEADER
--------------------- */
.resultHeader {
  width: 100%;
  margin-bottom: 25px;
  background-color: #FCFCFC;
}
.controller--resultHeader {
  float: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.ttl--resultHeader {
  float: left;
  min-width: 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
}

/* ---------------------
RESULT LIST
--------------------- */
.resultList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
}
.resultList > li {
  display: block;
  width: 25%;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  word-break : break-all;
  vertical-align: top;
  text-align: center;
}
.resultList > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
}
.resultList > li > a::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.resultList > li > a > figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.resultList > li > a > figure > img {
  height: 100%;
  vertical-align: bottom;
  -moz-transition: -moz-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
}
.resultList > li > a > figure:hover > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.resultList__info {
  padding: 0 10px;
}
.resultList__info > dt {
  width: 100%;
  padding-top: 10px;
  border-top: 1px dotted #EFEFEF;
  font-size: 1em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resultList__info > dt > a {
  display: inline;
  line-height: 1.3;
  color: #666;
  text-decoration: none;
}

/* 変換 */
.resultList.is_many > li > .add_favorite,
.resultList.is_many > li > .resultList__info {
  display: none;
}
.resultList.is_many > li {
  width: 20%;
}
.resultList.is_many > li > figure > a {
  height: 150px;
}

.info__price {
  padding: 15px 0 10px;
  text-align: right;
  margin-left: 5px;
  font-size: 0.8em;
  color: #808080;
}
.info__price > span {
  margin: 0 5px;
  font-size: 1.7em;
  font-weight: bold;
  color: #333333;
}
.label_sale .info__price,
.label_sale .info__price > span {
  color: #DB0909;
}

/* ---------------------
PAGER
--------------------- */
.pager {
  display: flex;
  margin: 60px 0 120px;
  justify-content: center;
}
.pager li + li {
  margin-left: 15px;
}
.pager li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #999999;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pager li a.is_current,
.pager li a:hover {
  background-color: #999999;
  color: #FFFFFF;
}

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

RESULT AREA(SP)

- MAIN
- RESULT HEADER
- RESULT LIST
-- is many
- PAGER

====================================================== */
@media screen and (max-width : 768px){


/* ---------------------
RESULT HEADER
--------------------- */
.ttl--resultHeader {
  float: left;
  min-width: 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
}

/* ---------------------
RESULT LIST
--------------------- */
.resultList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
}
.resultList > li {
  width: 50%;
  margin-top: -1px;
  margin-left: -1px;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  box-sizing: border-box;
  word-break : break-all;
  vertical-align: top;
  text-align: center;
}
.resultList > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  vertical-align: bottom;
}
.resultList > li > a::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.resultList > li > a > figure {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}
.resultList > li > a > figure > img {
  width: auto;
  height: 100%;
  vertical-align: bottom;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.resultList__info {
  padding: 0 10px;
}
.resultList__info > dt {
  width: 100%;
  height: 15px;
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px dotted #EFEFEF;
  font-size: 1em;
  text-align: left;
}
.resultList__info > dt > a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-decoration: none;
  color: #666;
  line-height: 1.3;
}

/* 変換 */
.resultList.is_many > li > .add_favorite,
.resultList.is_many > li > .resultList__info {
  display: none;
}
.resultList.is_many > li {
  width: 20%;
}
.resultList.is_many > li > figure > a {
  height: 150px;
}

.info__price {
  padding: 5px 0 10px;
  text-align: right;
  margin-left: 5px;
  font-size: 0.8em;
  color: #808080;
}
.info__price > span {
  margin: 0 5px;
  font-size: 1.7em;
  font-weight: bold;
  color: #333333;
}
.label_sale .info__price,
.label_sale .info__price > span {
  color: #DB0909;
}

/* ---------------------
PAGER
--------------------- */
.pager {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  text-align: center;
}
.pager li + li {
  margin-left: 10px;
}
.pager li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #999999;
  text-decoration: none;
  color: #333333;
}
.pager li a.is_current {
  background-color: #999999;
  color: #FFFFFF;
}

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

SEARCH AREA(PC)

- SEARCH PANEL
-- TYPE
-- PRICE
-- SIZE
-- MATERIAL
-- COLOR

====================================================== */
@media screen and (min-width : 768px){

.jsc_accordion_target {
  display: none;
}
.right--search {
  margin-top: -1px;
}
.main > .col_left.left--search {
  padding-top: 0;
}

/* ---------------------
SEARCH PANEL
--------------------- */
.searchPanel {
  position: relative;
  border-top: 1px solid #EFEFEF;
  box-sizing: border-box;
}
.searchPanel:last-child {
  border-bottom: 1px solid #EFEFEF;
}
.ttl--searchPanel {
  display: block;
  padding: 20px 0 20px 20px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #EFEFEF;
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.searchPanel__items {
  padding: 10px 10px 10px 20px;
}

/* ---------------------
TYPE
--------------------- */
.searchPanel__items--type {
  border-top: 1px dotted #E8E8E8;
}
.middleChild,
.smallChild {
  display: none;
  margin-left: 15px;
}
.is_show {
  display: block;
}

/* ---------------------
PRICE
--------------------- */
.searchPanel__items--price {
  padding: 10px;
  border-top: 1px dotted #E8E8E8;
}
.searchPanel__items--price li {
  display: inline-block;
}
.searchPanel__items--price li span {
  margin: 0 3px;
}
.textInput--price {
  width: 85px;
  font-size: 1.2em;
  text-align: right;
  font-weight: lighter;
}

/* ---------------
SIZE
--------------- */
.searchPanel__items--size {
  border-top: 1px dotted #E8E8E8;
}
.searchPanel__items--size + .searchPanel__items {
  border-top: none;
}
.searchPanel__items--size dt,
.searchPanel__items--size dd {
  display: inline-block;
}
.searchPanel__items--size dt {
  font-size: 1.1em;
  width: 50px;
}
.textInput--size {
  width: 125px;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: right;
}
.searchPanel__items--size dd span {
  margin-left: 5px;
}
/* ---------------
MATERIAL
--------------- */
.searchPanel--material .searchPanel__items {
  border-top: 1px dotted #E8E8E8;
}
.searchPanel--material .searchPanel__items li label {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.1em;
}
/* ---------------
COLOR
--------------- */
.searchPanel_color .searchPanel__items {
  border-top: 1px dotted #E8E8E8;
}
.selected_color {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
.searchPanel__items--color li {
  display: inline-block;
  padding: 5px;
}
.checkboxLabel--color {
  position: relative;
  display: block;
  height: 25px;
  margin-right: 0;
}
.checkboxLabel--color::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  box-sizing: border-box;
}
.checkboxLabel--color[data-searchColor="red"]::before {
  background-color: #FF0000;
}
.checkboxInput--color:checked ~ .checkboxLabel--color::after {
  content: url(/assets/img/common/icn//icn_cm_item_check_white.svg);
  position: absolute;
  top: 15px;
  left: 5px;
  display: block;
  width: 15px;
  height: 15px;
  color: #333;
  background-color: inherit;
}

/*
END max width 786px :PC
///////////////////// */
}

/* ======================================================

SEARCH AREA(SP)

- SEARCH PANEL
-- TYPE
-- PRICE
-- SIZE
-- MATERIAL
-- COLOR

====================================================== */
@media screen and (max-width : 768px){

  .sp_searchModal {
    position: fixed;
    top: 0;
    right: -80vw;
    display: block;
    width: 80%;
    height: 100%;
    padding-bottom: 85px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
  }
  .sp_searchModal.is_open {
    right: 0;
  }
  .sp_searchModal + .jsc_slideMenu_bg {
    top: 0;
  }
  .searchPanel {
    position: relative;
  }
  .ttl--searchPanel {
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #efefef;
    background-color: #f9f9f9;
    box-sizing: border-box;
    color: #333;
    font-weight: normal;
    font-size: 1.2rem;
    background-image: url(/assets/img/common/icn/icn_cm_item_acd_type2_open.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 85% center;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  .ttl--searchPanel.is_open {
    background-image: url(/assets/img/common/icn/icn_cm_item_acd_type2_close.svg);
  }
  .searchPanel__items {
    display: none;
    overflow: hidden;
    margin-right: -1px;
  }
  .searchPanel__items > li {
    width: 50%;
    padding-left: 10px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    float: left;
  }
  .middleChild {
    display: none;
  }
  .jsc_searchItemModal_openTrigger {
    display: block;
  }
  .jsc_searchItemModal_closeArea {
    position: fixed;
    bottom: 0;
    right: -80vw;
    z-index: 110;
    display: block;
    width: 80%;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease .2s;
    -webkit-transition: all .2s ease .2s;
    -moz-transition: all .2s ease .2s;
  }
  .jsc_searchItemModal_closeArea.is_open {
    right: 0;
  }
  .searchItemModal_closeBtn {
    display: block;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    background-color: #ffa630;
  }
  .searchPanel__items--price > li {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: none;
  }
  .searchPanel__items--price > li + li {
    padding-top: 0;
  }
  .searchPanel__items--price > li > span {
    margin-left: 2%;
  }
  .textInput--price {
    width: 90%;
  }
  .searchPanel__items--material > li {
    width: 100%;
  }

/*
END max width 786px :SP
///////////////////// */
}

/* =====================

DETAIL PAGE STYLING

- PAGE LAYOUT
- ITEM THUMBNAIL
- MAKER'S STORY
- REVIEW
- ITEM INFO
- POSTAGE
- ORDER

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
.detail__box {
  padding: 30px 0;
  border-bottom: 1px solid #EFEFEF;
}
.sec_ttl--detailBox {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: normal;
  background-color: #463F3A;
}
.ttl--detail {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: normal;
  background-color: #463F3A;
}

/* ======================================================

ITEM THUMBNAIL(PC)

- THUMBNAIL

====================================================== */
/* ---------------
THUMBNAIL
--------------- */
.detail__itemName {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: normal;
}
.detail__itemName span {
  display: inline-block;
  padding: 10px;
  margin-right: 15px;
  background-color: #463F3A;
  color: #FFFFFF;
  vertical-align: middle;
}
.detail__thumb {
  position: relative;
  width: 555px;
  height: 450px;
  margin: 30px auto 0 auto;
  text-align: center;
}
.detail__thumb li {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -220px;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.detail__thumb li.is_active {
  opacity: 1;
}
.detail__thumb img {
  height: 440px;
}
.detail__subThumb {
  margin-bottom: 30px;
}
.detail__subThumb li {
  display: inline-block;
  width: 10%;
  padding: 10px;
  box-sizing: border-box;
}
.detail__subThumb li img {
  width: 100%;
}

/* ======================================================

MAKER'S STORY(PC)

- GOOD POINT

====================================================== */

/* ---------------
GOOD POINT
--------------- */
.good {
  padding: 100px 0;
  border-top: 1px solid #EFEFEF;
}
.ttl--good::before {
  content: '';
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto 10px;
  background-image: url(/assets/img/pg_search/good_ttl.svg);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
.ttl--good {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
}
.subttl--good {
  margin-top: 45px;
  font-size: 18px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.txt--good {
  line-height: 2.0;
  font-size: 15px;
  color: #333333;
  text-indent: 1em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.photo--left {
  width: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.photo--right {
  width: 50%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
.photo--center {
  width: 100%;
  margin: 30px 0;
}
.pic--good > img {
  width: 100%;
}
.ttl--good + .txt--good {
  margin-top: 50px;
}
.subttl--good + .txt--good,
.txt--good + .txt--good {
  margin-top: 30px;
}

/* ======================================================

REVIEW(PC)

- REVIEW

====================================================== */
/* ---------------
REVIEW
--------------- */
.review {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}
.reviewTable {
  width: 100%;
  margin-top: 30px;
}
.reviewTable tr:nth-child(odd){
  background-color: #FAFBFC;
}
.reviewTable tr td {
  padding: 20px 10px;
  box-sizing: border-box;
}
.reviewTable .review_name {
  width: 15%;
}
.reviewTable .review_txt {
  width: 70px;
  line-height: 1.5;
}
.reviewTable .review_date {
  width: 15%;
  text-align: right;
}

/* ======================================================

ITEM INFO(PC)

- ITEM INFO

====================================================== */
/* ---------------
ITEM INFO
--------------- */
.itemInfo {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}

/* main info */
.detailBoxInfo {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  border: 1px #EFEFEF solid;
}
.detailBoxInfo th,
.detailBoxInfo td {
  padding: 10px;
  border: 1px #EFEFEF solid;
  box-sizing: border-box;
}
.detailBoxInfo th {
  width: 15%;
  font-weight: normal;
  background-color: #FAFBFC;
  text-align: left;
}
.detailBoxInfo td {
  width: 35%;
}
.dataSize > a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  vertical-align: middle;
}
.dataSize > a > span {
  margin: 0 3px;
  color: #999999;
}
.iconList {
  margin-top: 30px;
}
.iconList li {
  display: inline-block;
}
.iconList li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px dashed #CCCCCC;
  border-radius: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}
.iconList li.postageFree::before {
  background-image: url(/assets/img/common/icn//icn_postbox2.svg);
}
.iconList li.orderItem::before {
  background-image: url(/assets/img/common/icn//icn_shop.svg);
}
.iconList li.security::before {
  content: "保証";
  font-size: 8px;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
  background-color: #c41010;
  border: none;
}
.iconList li + li {
  margin-left: 10px;
}
.contactLink {
  width: 300px;
  margin: 60px auto 0;
}

/* ======================================================

POSTAGE(PC)

- POST

====================================================== */
/* ---------------
POST
--------------- */
.post {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}
.txt--post {
  margin-top: 15px;
  font-size: 14px;
}
.table--postPrice {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border: 1px solid #EFEFEF;
}
.table--postPrice th,
.table--postPrice td {
  padding: 15px 15px;
  border: 1px solid #EFEFEF;
  text-align: center;
}
.table--postPrice th {
  width: 170px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}
.table--postPrice td {
  font-size: 12px;
  color: #666666;
}
.table--postPrice td.price {
  text-align: right;
}
.table--postPrice td.howto {
  text-align: left;
}
.table--postPrice td > span {
  margin: 0 5px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.table--postPrice td > span.strong {
  font-size: 16px;
  color: #000000;
}
.postCautionList {
  padding: 20px;
  margin-top: 20px;
  background-color: #F9F9F9;
}
.postCautionList li > a {
  color: #333333;
}
.postCautionList li + li {
  margin-top: 10px;
}

/* ======================================================

ORDER(PC)

- ORDER
- ORDER CTA

====================================================== */
/* ---------------
ORDER
--------------- */
.order {
  width: 100%;
  margin-top: -1px;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFFFFF;
}
.orderFixed {
  width: 233px;
  position: fixed;
  top: 75px;
}
.orderBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.orderItem {
  padding: 0 10px;
  margin-top: 20px;
}
.orderItem + .orderItem {
  margin-top: 20px;
}
.orderItem dt {
  padding: 5px;
  font-size: 1em;
  color: #666666;
}
.orderItem dd {
  text-align: right;
}
.orderItem .item__price,
.orderItem__point {
  font-size: 0.8em;
}
.orderItem .item__price span {
  margin: 0 5px;
  font-size: 2.5em;
  font-weight: bold;
}
.orderItem .item__point span {
  font-size: 1.5em;
  color: #666666;
}
.item__post {
  line-height: 1.5;
  font-size: 11px;
  color: #666666;
  text-align: right;
}
.selectInput--order {
  font-size: 14px;
  color: #666666;
}
.textInput--order {
  font-size: 13px;
  color: #666666;
  text-align: right;
}
.costMessage {
  padding: 10px;
  margin-top: 10px;
  line-height: 1.5;
  border: 1px dotted #EFEFEF;
  background-color: #F9F9F9;
  font-size: 10px;
  color: #666666;
}

/* ---------------
ORDER CTA
--------------- */
.cta--orderItem {
  padding: 0 10px;
  margin: 20px 0;
}
.cta--orderItem > li {
  width: 100%;
}
.cta--orderItem > li + li {
  margin-top: 10px;
}
.cta--print,
.cta--favorite {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: 1px solid #EFEFEF;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.cta--print {
  background-image: url(/assets/img/common/icn//icn_balloon.svg);
  background-size: 15px 15px;
}
.cta--print:hover {
  background-color: #F9F9F9;
}
.cta--favorite {
  background-image: url(/assets/img/common/icn//icn_heart.svg);
  background-size: 15px 15px;
}
.cta--favorite.is_active {
  background-image: url(/assets/img/common/icn//icn_heart_on.svg);
  background-color: #EFEFEF;
}
.submit--order {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2em;
  box-sizing: border-box;
}
