@charset "utf-8";

/* =====================

DETAIL PAGE STYLING

- PAGE LAYOUT(PC)
- ITEM THUMBNAIL(PC)
- MAKER'S STORY(PC)
- REVIEW(PC)
- ITEM INFO(PC)
- POSTAGE(PC)
- ORDER(PC)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
.detail__box {
  padding: 30px 0;
  border-bottom: 1px solid #EFEFEF;
}
.sec_ttl--detailBox {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: normal;
  background-color: #463F3A;
}
.ttl--detail {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: normal;
  background-color: #463F3A;
}
.detailSection_overTrigger {
  display: none;
}
.main > .col_left {
  padding: 0 25px 100px 0;
  border-left: none;
  border-right: 1px solid #efefef;
}
.main > .col_right {
  border-left: none;
  border-right: 1px solid #efefef;
}
/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width : 768px){
  .col_left {
    padding-right: 5px;
    padding-left: 5px;
  }
  .detail__thumb,
  .detail__subThumb {
    display: none;
  }
  .thumbSlide_sp_wrapper {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .thumbSlide_sp {
    white-space: nowrap;
    overflow-x: scroll;
  }
  .thumbSlide_sp > li {
    float: left;
    padding: 30px;
    box-sizing: border-box;
  }
  .thumbSlide_sp > li > figure > img {
    width: 100%;
  }
  .scrollArrow {
    display: none;
    position: relative;
    width: 100%;
  }
  .scrollArrow > span,
  .scrollArrow > span:before {
      position: absolute;
      left: 50%;
  }
  .scrollArrow > span {
      bottom: 10px;
      width: 160px;
      height: 13px;
      margin-left: -80px;
      margin-top: -7px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 25px;
  }
  .scrollArrow > span:before {
      content: '';
      top: 1px;
      left: 2px;
      width: 8px;
      height: 8px;
      background: #FFA630;
      margin-left: -4px;
      border-radius: 4px;
      animation: scroll 3s infinite;
      -webkit-animation: scroll 3s infinite;
      -moz-animation: scroll 3s infinite;
  }
  @keyframes scroll {
      0% {
          opacity: 1
      }
      100% {
          opacity: 0;
          transform: translateX(158px);
      }
  }
  @-webkit-keyframes scroll {
      0% {
          opacity: 1
      }
      100% {
          opacity: 0;
          transform: translateX(158px);
      }
  }
  @-moz-keyframes scroll {
      0% {
          opacity: 1
      }
      100% {
          opacity: 0;
          transform: translateX(158px);
      }
  }

  .ttl--detail {
    padding: 5px;
    font-size: 1em;
  }
  .detailSection {
    position: relative;
    height: 170px;
    overflow: hidden;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
  }
  .detailSection::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 90px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
  }
  .detailSection.is_open {
    height: auto;
  }
  .detailSection.is_open::after,
  .detailSection.is_open .detailSection_overTrigger {
    display: none;
  }
  .detailSection_overTrigger {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  .detailSection_overTrigger > span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin-left: -40px;
    width: 80px;
    background-color: #FFA630;
    border-radius: 30px;
    color: #fff;
    z-index: 10;
    display: block;
  }
}
/* ======================================================

ITEM THUMBNAIL(PC)

- THUMBNAIL

====================================================== */
/* ---------------
THUMBNAIL
--------------- */
.detail__itemName {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: normal;
}
.detail__itemName span {
  display: inline-block;
  padding: 5px;
  margin-right: 15px;
  background-color: #463F3A;
  color: #FFFFFF;
  vertical-align: middle;
}
.detail__thumb {
  position: relative;
  width: 555px;
  height: 450px;
  margin: 30px auto 0 auto;
  text-align: center;
}
.detail__thumb li {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -220px;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.detail__thumb li.is_active {
  opacity: 1;
}
.detail__thumb img {
  height: 440px;
}
.detail__subThumb {
  margin-bottom: 30px;
}
.detail__subThumb li {
  display: inline-block;
  width: 10%;
  padding: 10px;
  box-sizing: border-box;
}
.detail__subThumb li img {
  width: 100%;
}
/* ======================================================

ITEM THUMBNAIL(SP)

- THUMBNAIL

====================================================== */
@media screen and (max-width : 768px){
  .detail__itemName {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    font-size: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail__thumb {
    width: 100%;
    display: none;
  }
}

/* ======================================================

MAKER'S STORY(PC)

- GOOD POINT

====================================================== */

/* ---------------
GOOD POINT
--------------- */
.good {
  padding: 100px 0;
  border-top: 1px solid #EFEFEF;
}
.ttl--good::before {
  content: '';
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto 10px;
  background-image: url(/assets/img/pg_search/good_ttl.svg);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
.ttl--good {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
}
.subttl--good {
  margin-top: 45px;
  font-size: 18px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.txt--good {
  line-height: 2.0;
  font-size: 15px;
  color: #333333;
  text-indent: 1em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
.photo--left {
  width: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.photo--right {
  width: 50%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
.photo--center {
  width: 100%;
  margin: 30px 0;
}
.pic--good > img {
  width: 100%;
}
.ttl--good + .txt--good {
  margin-top: 50px;
}
.subttl--good + .txt--good,
.txt--good + .txt--good {
  margin-top: 30px;
}

/* ======================================================

MAKER'S STORY(SP)

- GOOD POINT

====================================================== */
@media screen and (max-width : 768px){
  .good {
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .ttl--good::before {
    width: 150px;
    height: 30px;
    margin: 0 auto 5px;
    background-size: 150px;
  }
  .ttl--good + .txt--good,
  .subttl--good + .txt--good,
  .txt--good + .txt--good {
    margin-top: 20px;
  }
  .txt--good {
    font-size: 13px;
  }
  .subttl--good {
    margin-top: 15px;
    font-size: 16px;
  }
}

/* ======================================================

REVIEW(PC)

- REVIEW

====================================================== */
/* ---------------
REVIEW
--------------- */
.review {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}
.reviewTable {
  width: 100%;
  margin-top: 30px;
}
.reviewTable tr:nth-child(odd){
  background-color: #FAFBFC;
}
.reviewTable tr td {
  padding: 20px 10px;
  box-sizing: border-box;
}
.reviewTable .review_name {
  width: 15%;
}
.reviewTable .review_txt {
  width: 70px;
  line-height: 1.5;
}
.reviewTable .review_date {
  width: 15%;
  text-align: right;
}
/* ======================================================

REVIEW(SP)

- REVIEW

====================================================== */
/* ---------------
REVIEW
--------------- */
@media screen and (max-width : 768px){
  .review {
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .reviewTable {
    margin-top: 15px;
  }
  .reviewTable .review_name {
    width: 25%;
  }
  .reviewTable .review_txt,
  .reviewTable .review_date {
    width: 100%;
    display: block;
  }
  .reviewTable .review_date {
    padding-top: 5px;
  }

}

/* ======================================================

ITEM INFO(PC)

- ITEM INFO

====================================================== */
/* ---------------
ITEM INFO
--------------- */
.itemInfo {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}

/* main info */
.detailBoxInfo {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  border: 1px #EFEFEF solid;
}
.detailBoxInfo th,
.detailBoxInfo td {
  padding: 10px;
  border: 1px #EFEFEF solid;
  box-sizing: border-box;
}
.detailBoxInfo th {
  width: 15%;
  font-weight: normal;
  background-color: #FAFBFC;
  text-align: left;
}
.detailBoxInfo td {
  width: 35%;
}
.dataSize > a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  vertical-align: middle;
}
.dataSize > a > span {
  margin: 0 3px;
  color: #999999;
}
.iconList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 30px;
}
.iconList > li {
  color: #fff;
  background-color: #005981;
  border-radius: 5px;
  margin: 0;
  padding: 10px 15px;
}
.iconList > li a {
  color: yellow;
  cursor: pointer;
}
.iconList > li + li {
  margin-left: 10px;
}
.linkForm {
  margin-top: 15px;
}
.btn_linkForm {
  display: block;
  width: 100%;
  padding: 15px 0;
  max-width: 250px;
  margin: 0 auto;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  text-align: center;
  background-color: #eee;
}


/* ======================================================

ITEM INFO(SP)

- ITEM INFO

====================================================== */
@media screen and (max-width : 768px){
  .itemInfo {
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .detailBoxInfo {
    margin-top: 15px;
  }
  .detailBoxInfo th,
  .detailBoxInfo td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #EFEFEF solid;
  }
  .iconList {
    margin-top: 10px;
  }
  .iconList li + li {
    margin-left: 5px;
  }

}

/* ======================================================

POSTAGE(PC)

- POST

====================================================== */
/* ---------------
POST
--------------- */
.post {
  padding: 30px 0;
  border-top: 1px solid #EFEFEF;
}
.postCautionList_red {
  color: #D42431;
}
.txt--post {
  margin-top: 15px;
  font-size: 14px;
}
.table--postPrice {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border: 1px solid #EFEFEF;
}
.table--postPrice th,
.table--postPrice td {
  padding: 15px 15px;
  border: 1px solid #EFEFEF;
  text-align: center;
}
.table--postPrice th {
  width: 170px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}
.table--postPrice td {
  font-size: 12px;
  color: #666666;
}
.table--postPrice td.price {
  text-align: right;
}
.table--postPrice td.howto {
  text-align: left;
}
.table--postPrice td > span {
  margin: 0 5px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.table--postPrice td > span.strong {
  font-size: 16px;
  color: #000000;
}
.postCautionList {
  padding: 20px;
  margin-top: 20px;
  background-color: #F9F9F9;
}
.postCautionList li > a {
  color: #333333;
}
.postCautionList li + li {
  margin-top: 10px;
}
/* ======================================================

POSTAGE(SP)

- POST

====================================================== */
/* ---------------
POST
--------------- */
@media screen and (max-width : 768px){
  .post {
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .table--postPrice {
    width: 100%;
  }
  .table--postPrice th {
    width: 30%;
  }
  .table--postPrice th,
  .table--postPrice td {
    padding: 5px;
    font-size: 1em;
  }
  .table--postPrice .howto,
  .table--postPrice .price {
    display: block;
    border-left: none;
  }
  .table--postPrice .price {
    border-top: none;
  }
  .orderFixed {
    position: relative;
    width: 100%;
  }

}

/* ======================================================

ORDER(PC)

- ORDER
- ORDER CTA

====================================================== */
/* ---------------
ORDER
--------------- */
.order {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFFFFF;
}
.orderFixed {
  width: 233px;
  position: fixed;
  top: 0;
}
.orderBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.orderItem {
  padding: 0 10px;
  margin-top: 20px;
}
.orderItem + .orderItem {
  margin-top: 20px;
}
.orderItem dt {
  padding: 5px;
  font-size: 1em;
  color: #666666;
}
.orderItem dd {
  text-align: right;
}
.orderItem .item__price,
.orderItem__point {
  font-size: 0.8em;
}
.orderItem .item__price span {
  margin: 0 5px;
  font-size: 2.5em;
  font-weight: bold;
}
.orderItem .item__point span {
  font-size: 1.5em;
  color: #666666;
}
.item__post {
  line-height: 1.5;
  font-size: 11px;
  color: #666666;
  text-align: right;
}
.selectInput--order {
  font-size: 14px;
  color: #666666;
}
.textInput--order {
  font-size: 13px;
  color: #666666;
  text-align: right;
}
.costMessage {
  padding: 10px;
  margin-top: 10px;
  line-height: 1.5;
  border: 1px dotted #EFEFEF;
  background-color: #F9F9F9;
  font-size: 10px;
  color: #666666;
}
@media screen and (max-width : 768px){
  .orderFixed {
    position: relative;
    width: 100%;
  }
  .orderBottom {
    position: relative;
  }
}

/* ---------------
ORDER CTA
--------------- */
.cta--orderItem {
  padding: 0 10px;
  margin: 20px 0;
}
.cta--orderItem > li {
  width: 100%;
}
.cta--orderItem > li + li {
  margin-top: 10px;
}
.cta--print,
.cta--favorite {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: 1px solid #EFEFEF;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.cta--print {
  background-image: url(/assets/img/common/icn//icn_balloon.svg);
  background-size: 15px 15px;
}
.cta--print:hover {
  background-color: #F9F9F9;
}
.cta--favorite {
  background-image: url(/assets/img/common/icn//icn_heart.svg);
  background-size: 15px 15px;
}
.cta--favorite.is_active {
  background-image: url(/assets/img/common/icn//icn_heart_on.svg);
  background-color: #EFEFEF;
}
.submit--order {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2em;
  box-sizing: border-box;
}
