@charset "utf-8";


/* =====================

SCT PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

	.pg_sct {}
	.ttl_lv1--sct {}
	.sctTable {
		width: 100%;
		margin-top: 30px;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
		border: 1px solid #EFEFEF;
		border-collapse: collapse;
	}
	.sctTable th,
	.sctTable td {
		padding: 15px;
		text-align: left;
		border: 1px solid #EFEFEF;
	    vertical-align: top;
	}
	.sctTable th {
		font-weight: normal;
		background-color: #F9F9F9;
	}
	.sctTable td {
		line-height: 1.5;
	}
	.sctList {
		padding-left: 15px;
	}
	.sctList > li {
		list-style-type: disc; 
	}
	.sctList > li + li {
		margin-top: 10px;
	}
	.sctDlList {
		padding-left: 15px;
	}
	.sctDlList > dt,
	.sctDlList > dd {}
	.sctDlList > dt {
		display: list-item;
		list-style: disc;
	}
	.sctDlList > dd {
		color: #666666;
	}
	.sctDlList > dt + dd {
		margin-top: 5px;
	}
	.sctDlList > dt + dt,
	.sctDlList > dd + dt {
		margin-top: 10px;
	}
	.cautionTxt {
		padding: 10px;
		margin-top: 10px;
		background-color: #F9F9F9;
	}
	.cautionTxt > span {
		color: #FF0000;
	}
	.contactInfo {
		width: 100%;
		border-bottom: 1px solid #efefef;
		box-sizing: border-box;
	}
	.contactInfo > dt,
	.contactInfo > dd {
		padding: 5px 0;
		float: left;
	}
	.contactInfo > dt {
		width: 15%;
		min-width: 100px;
	}
	.contactInfo > dd + dt {
		padding-left: 60px;
	}

}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

PAGE LAYOUT(SP)

- SCT TABLE

====================================================== */
@media screen and (max-width : 768px){

	/* ---------------------
	SCT TABLE
	--------------------- */
	.sctTable {
		width: 100%;
		margin-top: 15px;
		border: 1px solid #EFEFEF;
		border-collapse: collapse;
		table-layout: fixed;
	}
	.sctTable th,
	.sctTable td {
		padding: 10px;
		text-align: left;
		border: 1px solid #EFEFEF;
	}
	.sctTable th {
		width: 30%;
		font-weight: normal;
		background-color: #F9F9F9;
	}
	.sctTable td {
		line-height: 1.5;
	}
	.sctList {
		padding-left: 15px;
	}
	.sctList > li {
		list-style-type: disc; 
	}
	.sctList > li + li {
		margin-top: 10px;
	}
	.sctDlList {
		padding-left: 15px;
	}
	.sctDlList > dt,
	.sctDlList > dd {}
	.sctDlList > dt {
		display: list-item;
		list-style: disc;
	}
	.sctDlList > dd {
		color: #666666;
		overflow-wrap:break-word;
	}
	.sctDlList > dt + dd {
		margin-top: 5px;
	}
	.sctDlList > dt + dt,
	.sctDlList > dd + dt {
		margin-top: 10px;
	}
	.cautionTxt {
		padding: 10px;
		margin-top: 10px;
		background-color: #F9F9F9;
	}
	.cautionTxt > span {
		color: #FF0000;
	}

}
/*
END max width 768px :SP
///////////////////// */