@charset "utf-8";


/* =====================

SITEMAP PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

====================================================== */
@media screen and (min-width : 768px){

	.pg_sitemap {}
	.ttl_lv2--sitemap {
		margin: 40px 0 20px 0;
	}
	.txt--sitemap {
		font-size: 15px;
		line-height: 1.5;
	}
	.txt--sitemap + .list--sitemap {
		margin-top: 15px;
	}
	.list--sitemap li {
		display: inline-block;
		margin-right: 30px;
		font-size: 15px;
		line-height: 1.5;
	}
	.list--sitemap li + li {
		margin-top: 15px;
	}
	.list--sitemap li a {
		text-decoration: none;
		color: #333333;
	}
	.list--sitemap li a::before {
		content: "/";
		margin-right: 30px;
	}
	.list--sitemap li:first-child a::before {
		content: "";
	}
	.list--sitemap li .list--sitemap {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--sitemap + .txt--sitemap,
	.ttl_lv2--sitemap + .list--sitemap,
	.ttl_lv2--sitemap + .txt--sitemap,
	.txt--sitemap + .list--sitemap {
		margin-top: 15px;
	}

}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

PAGE LAYOUT(SP)

====================================================== */
@media screen and (max-width : 768px){

	.ttl_lv2--sitemap {
		margin-top: 20px;
	}
	.txt--sitemap {
		font-size: 10px;
		line-height: 1.5;
	}
	.txt--sitemap + .list--sitemap {
		margin-top: 10px;
	}
	.list--sitemap li {}
	.list--sitemap li + li {
		border-top: 1px dashed #ccc;
	}
	.list--sitemap li a {
		display: block;
		padding: 15px 0;
		font-size: 1rem;
		color: #333333;
		text-decoration: none;
	}
	.list--sitemap li .list--sitemap {
		margin: 15px 0 15px 15px;
	}
	.ttl_lv1--sitemap + .txt--sitemap,
	.ttl_lv2--sitemap + .list--sitemap,
	.ttl_lv2--sitemap + .txt--sitemap,
	.txt--sitemap + .list--sitemap {
		margin-top: 10px;
	}

}
/*
END max width 768px :SP
///////////////////// */