@charset "utf-8";

/* =====================

TO COMPANY PAGE STYLING



===================== */

.pg_tocompany {
	padding-top: 100px;
	padding-bottom: 150px;
}
/* ===========================

=========================== */
.ttl--tocompany {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

/* ===========================
FORM
=========================== */
.form--tocompany {
  width: 950px;
  margin: 30px auto 0;
}
.group--formItem + .group--formItem {
  margin-top: -1px;
}
.form__item {
  display: table;
  border:1px solid #EFEFEF;
  box-sizing: border-box;
}
.form__item dd,
.form__item dt {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
.form__item dt {
  width: 200px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  background-color: #F9F9F9;
}
.form__item dd {
  width: 750px;
  padding: 5px;
}
.form__item dd .textInput {
  width: 100%;
}
.cta--contact {
  margin-top: 30px;
  text-align: center;
}
.cta--contact .btn {
  display: inline-block;
  width: 350px;
}
.contactCaution {
  margin-top: 30px;
  text-align: center;
}
.contactCaution a {
  color: #333333;
}

/* /////////////////////

max width 980px :TABLET

///////////////////// */
@media screen and (max-width : 985px){




/*
END max width 980px :TABLET
///////////////////// */
}