@charset "utf-8";

/* =====================

TOP PAGE STYLING

- PAGE LAYOUT(PC)
- PAGE LAYOUT(SP)
- CATEGORY(PC)
- CATEGORY(SP)
- COLLECTION(PC)
- COLLECTION(SP)
- BRAND(PC)
- BRAND(SP)
- NEWS(PC)
- NEWS(SP)

===================== */

/* ======================================================

PAGE LAYOUT(PC)

- SECTION TITLE

====================================================== */
@media screen and (min-width : 768px){
  /* ---------------------
  SECTION TITLE
  --------------------- */
  .sec > .ttlSec {
    font-size: 2em;
    text-align: center;
  }
  .sec > .ttlSec span::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    margin: 10px auto 15px;
    border-radius: 10px;
    background-color: #333333;
  }
  .sec > .ttlSec span {
    display: block;
    text-align: center;
    font-size: 0.5em;
    font-weight: normal;
  }
  .ctaSec {
    margin-top: 60px;
    margin-right: 30px;
    text-align: right;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

PAGE LAYOUT(SP)

- SECTION TITLE

====================================================== */
@media screen and (max-width : 768px){
  /* ---------------------
  SECTION TITLE
  --------------------- */
  .sec > .ttlSec {
    font-size: 1.5rem;
    text-align: center;
  }
  .sec > .ttlSec span::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 7px auto;
    border-radius: 10px;
    background-color: #333333;
  }
  .sec > .ttlSec span {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
  }
  .ctaSec {
    margin-top: 20px;
    margin-right: 5px;
    text-align: right;
    font-size: 0.9rem;
  }
  .ctaSec > a {
    color: #333;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

CATEGORY(PC)

- CATEGORIES
- CATEGORY
- KEY VISUAL
-- sofa
-- table
-- chair
-- bed
-- interior
-- receipt
- KEY VISUAL TYPES
- CATEGORY SLIDE

====================================================== */
@media screen and (min-width : 768px){
  .header_bottom {
    position: absolute;
    top: 75px;
    z-index: 10;
    background-color: rgba(33,33,32,0.8);
  }
  .subnav > li::before {
    color: #fff;
  }
  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--category {
    margin-top: 60px;
    overflow: hidden;
  }
  .ttlSec--category {
    margin-bottom: 80px;
  }

  /* ---------------------
  KV
  --------------------- */
  .kv {
    position: relative;
    height: 500px;
    padding-top: 160px;
    box-sizing: border-box;
    background-color: #fafbfc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .kv_ttl {
    position: absolute;
    display: block;
    width: 100%;
    top: 40%;
    left: 0;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
  }
  .kv_ttl > .kv_siteLogo {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto 10px;
    background-image: url(/assets/img/common/logotype_mulkag_white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    text-indent: -9999px;
  }
  .kv_subCatch {
    display: block;
    margin-top: 30px;
    font-size: 1.3rem;
  }
  .is_new {
    position: relative;
  }
  .is_new::before {
    position: absolute;
    top: -20px;
    right: 5px;
    content: "NEW";
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    background-color: #DB0909;
    border-radius: 50%;
  }

  /* ---------------------
  CATEGORIES
  --------------------- */
  .categories {
    display: table;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .categories > li {
    display: table-cell;
  }
  .categories > li > a {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: .3s;
  }
  .categories > li > a > span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #999;
  }

  .categories > li > a:::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .categories > li > .is_current {
    color: #FFA630;
  }
  .categories > li > .is_current:::after {
    width: 100%;
  }

  /* ---------------------
  CATEGORY SLIDE
  --------------------- */
  .category__slide {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 200%;
    background-color: #FFFFFF;
  }
  .category__slide > li {
    width: 10%;
  }
  .category__slide > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }
  .category__slide > li > a img {
    width: 100%;
  }
  .category__slide > li > a span {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #333333;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    transition: .3s;
  }
  .category__slide a:hover span {
    opacity: 1;
    top: -20px;
  }
  .jsc_slider {
    position: relative;
  }


  /* ---------------------
  CATEGORY
  --------------------- */
  .category {
    display: none;
  }
  .category.is_active {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

CATEGORY(SP)

- CATEGORIES
- CATEGORY
- KEY VISUAL
-- sofa
-- table
-- chair
-- bed
-- interior
-- receipt
- KEY VISUAL TYPES
- CATEGORY SLIDE

====================================================== */
@media screen and (max-width : 768px){
    .sec--category {
      padding: 0 10px;
    }
    /* ---------------------
    KV
    --------------------- */
    .kv {
      position: relative;
      width: 100%;
      height: 30vh;
      background-size: cover;
      background-position: center center;
    }
    .kv_ttl {
      position: absolute;
      color: #fff;
      text-align: center;
      display: inline-block;
      width: 100%;
      top: 40%;
      font-size: 1.1rem;
      padding: 0 15px;
      box-sizing: border-box;
      line-height: 1.5;
    }
    .kv_ttl > .kv_siteLogo {
      display: block;
      width: 120px;
      height: 20px;
      margin: 0 auto 10px;
      background-image: url(/assets/img/common/logoType_mulkag_white.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% auto;
      text-indent: -9999px;
    }

  /* ---------------------
  CATEGORIES
  --------------------- */
  .categories {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  .categories > li {
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid #efefef;
    border-right: 1px solid #eeeeee;
  }
  .categories > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    position: relative;
  }
  .categories > li > a > span {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    color: #999;
  }
  /*.categories > li:nth-child(1) {
  }
  .categories > li:nth-child(2) {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
  .categories > li:nth-child(3) {
    border-bottom: 1px solid #efefef;
  }
  .categories > li:nth-child(4) {
    border-right: 1px solid #efefef;
  }
  .categories > li:nth-child(5) {
    border-right: 1px solid #efefef;
  }*/

  /* ---------------------
  CATEGORY
  --------------------- */
  .sec--category {
    padding-top: 30px;
  }
  .category {
    overflow: hidden;
    display: none;
    background-color: #f9f9f9;
  }
  .category.is_active {
    display: block;
  }




  /* ---------------------
  CATEGORY SLIDE
  --------------------- */
  .category__slide {
    display: table;
    width: 200%;
    background-color: #FFFFFF;
  }
  .category__slide li {
    display: table-cell;
  }
  .category__slide li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }
  .category__slide li a img {
    width: 100%;
  }
  .category__slide a span {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #333333;
    font-size: 0.5em;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    transition: .3s;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

COLLECTION(PC)

- SECTION LAYOUT
- PICK UP
- BACK NUMBER

====================================================== */
@media screen and (min-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--collection {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  .ttlSec--collection {
    margin-bottom: 30px;
  }
  .collection__pickup__inner {
    background-color: #fff;
  }


  /* ---------------------
  PICK UP
  --------------------- */
  .pickup__description,
  .pickup__capture {
    display: table-cell;
  }
  .pickup__description {
    width: 60%;
    padding-bottom: 20px;
    vertical-align: top;
  }
  .pickup__capture {
    vertical-align: bottom;
  }
  .pickup__capture img {
    width: 100%
  }
  .pickup__description {
    padding-right: 50px;
  }
  .description__ttl {
    margin-top: 30px;
    font-size: 1.7rem;
    text-align: right;
  }
  .description__ttl a {
    text-decoration: none;
    color: #333333;
  }
  .description__summary {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: right;
    color: #333;
  }
  .description__cta {
    margin-top: 60px;
    text-align: right;
  }
  .description__period {
    display: block;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #EFEFEF;
    float: right;
    clear: right;
  }
  .description__period dt {
    float: left;
  }
  .description__period dd {
    float: left;
    margin-left: 20px;
  }
  .pickup__description .btn {
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
  }

  /* ---------------------
  BACK NUMBER
  --------------------- */
  .collection__backnumber {
    padding: 30px 20px;
    background-color: #FAFBFC;
  }
  .backnumberList {
    width: 100%;
  }
  .backnumberList > li {
    float: left;
    width: 23.5%;
    box-sizing: border-box;
  }
  .backnumberList > li + li {
    margin-left: 2%;
  }
  .backnumberList > li > dl dt {
    padding-left: 10px;
    margin-top: 10px;
    border-left: 5px solid #333333;
    font-size: 1.1em;
  }
  .backnumberList > li > dl dt a {
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }
  .backnumberList > li > dl dd {}
  .backnumberList > li > dl dd a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .backnumberList > li > dl dd img {
    width: 100%;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

COLLECTION(SP)

- SECTION LAYOUT
- PICK UP
- BACK NUMBER

====================================================== */
@media screen and (max-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--collection {
    padding: 0 10px;
    margin-top: 60px;
  }
  .ttlSec--collection {
    margin-bottom: 20px;
    text-align: center;
  }

  /* ---------------------
  PICK UP
  --------------------- */
  .collection__pickup {
    width: 100%;
    background-color: #FAFBFC;
    box-sizing: border-box;
  }
  .collection__pickup__inner {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
  .pickup__description {
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
    order: 2;
    flex-direction: column;
  }
  .pickup__capture {
    order: 1;
  }
  .pickup__capture img {
    width: 100%
  }
  .description__ttl {
    font-size: 1.2rem;
    order: 1;
  }
  .description__ttl a {
    text-decoration: none;
    color: #333333;
  }
  .description__summary {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #333;
    line-height: 1.5;
    order: 3;
  }
  .description__cta {
    text-align: center;
    order: 4;
  }
  .description__period {
    padding: 5px;
    margin-top: 5px;
    order: 2;
  }
  .description__period dt {
    display: none;
  }
  .description__period dd {
    padding-bottom: 2px;
    float: right;
    font-size: 0.9rem;
    color: #ccc;
  }
  .pickup__description .btn {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  /* ---------------------
  BACK NUMBER
  --------------------- */
  .collection__backnumber {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .backnumberList {
    width: 100%;
  }
  .backnumberList > li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .backnumberList > li + li {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
  }
  .backnumberList > li > dl {
    display: table;
  }
  .backnumberList > li > dl > dt {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .backnumberList > li > dl > dt > a {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    word-break: break-all;
  }
  .backnumberList > li > dl dd {
    display: table-cell;
    width: 100px;
  }
  .backnumberList > li > dl dd > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .backnumberList > li > dl dd img {
    width: 100%;
  }
  .sec--collection .ctaSec {
    margin: 0;
  }
  .sec--collection .ctaSec > a::before,
  .sec--collection .ctaSec > a::after {
    left: auto;
  }
  .sec--collection .ctaSec > a::before {
    right: 10px;
  }
  .sec--collection .ctaSec > a::after {
    right: 15px;
  }
  .sec--collection .ctaSec > a {
    background-color: #f9f9f9;
    font-size: 13px;
    padding: 10px 30px 10px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

/*
END max width 786px :TABLET
///////////////////// */
}

/* ======================================================

BRAND(PC)

- SECTION LAYOUT
- BRAND LIST
- BRAND IMAGE
- BRAND BACKGROUND
- BRAND DESCRIPTION

====================================================== */
@media screen and (min-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--brand {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
  }
  .sec--brand > .ttlSec {
    color: #333;
  }
  .sec--brand > .ttlSec span::before {
    background-color: #FFA630;
  }

  /* ---------------------
  BRAND LIST
  --------------------- */
  .brandList {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;
    text-align: center;
  }
  .brandList > li {
    display: block;
    width: 50px;
    height: 50px;
  }
  .brandList > li + li {
    margin-left: 40px;
  }
  .brandList > li > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brandList > li.brandList_allBrand {
    display: none;
  }

/*
END max width 980px :PC
///////////////////// */
}

/* ======================================================

BRAND(SP)

- SECTION LAYOUT
- BRAND LIST

====================================================== */
@media screen and (max-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--brand {
    width: 100%;
    margin-top: 15px;
    padding: 30px 10px;
    box-sizing: border-box;
  }
  .sec--brand > .ttlSec {
    color: #333;
  }
  .sec--brand > .ttlSec span::before {
    background-color: #FFA630;
  }


  /* ---------------------
  BRAND LIST
  --------------------- */
  .brandList {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 20px auto 0 auto;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
  }
  .brandList > li {
    position: relative;
    width: 20%;
    height: auto;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .brandList > li::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .brandList > li > a {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 2.5;
  }
  .brandList_allBrand a {
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 12px;
  }
  .brandLogo {
    text-indent: -9999px;
    background-image: url(/assets/img/pg_brand/brandLogos.png);
    background-repeat: no-repeat;
    background-size: 240px;
  }
  .brandLogo--halo {
    background-position-x: -60px;
    background-position-y: -10px;
  }
  .brandLogo--bina {
    background-position-x: 0;
    background-position-y: -15px;
  }
  .brandLogo--dbodhi {
    background-position-x: -120px;
    background-position-y: -10px;
  }
  .brandLogo--kenas {
    background-position-x: -180px;
    background-position-y: -6px;
  }
  .brandLogo--metalsistem {
    background-position-x: 0px;
    background-position-y: -70px;
  }

/*
END max width 980px :PC
///////////////////// */
}

/* ======================================================

NEWS(PC)

- SECTION LAYOUT
- NEWS LIST

====================================================== */
@media screen and (min-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--news {
    padding: 60px 0 150px;
    background-color: #f9f9f9;
  }

  /* ---------------------
  NEWS LIST
  --------------------- */
  .newsList {
    display: block;
    width: 600px;
    margin: 60px auto 0 auto;
  }
  .newsList > li {
    text-align: left;
  }
  .newsList > li + li {
    margin-top: 50px;
  }
  .newsList__item dl dt,
  .newsList__item dl dd {
    display: block;
  }
  .newsList__item dl dt {
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFA630;
  }


/*
END max width 980px :PC
///////////////////// */
}


/* ======================================================

NEWS(SP)

- SECTION LAYOUT
- NEWS LIST

====================================================== */
@media screen and (max-width : 768px){

  /* ---------------------
  SECTION LAYOUT
  --------------------- */
  .sec--news {
    padding: 30px 10px 130px 10px;
  }

  /* ---------------------
  NEWS LIST
  --------------------- */
  .newsList {
    display: block;
    margin: 20px auto 0 auto;
  }
  .newsList > li {
    text-align: left;
  }
  .newsList > li + li {
    margin-top: 20px;
  }
  .newsList > li > a {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: #333333;
  }
  .newsList > li + li > a {
    border-top: 1px dashed #efefef;
  }
  .newsList > li > a:hover {
    opacity: 0.7;
  }
  .newsList__item dl dt,
  .newsList__item dl dd {
    display: block;
  }
  .newsList__item dl dt {
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFA630;
  }

/*
END max width 980px :PC
///////////////////// */
}
