.hidden {
    display: none;
}

.view__img {
    max-width: 100%;
}

.filedrag {
    width: 100%;
    height: 100px;
    border: 2px dotted #d2d6de;
    background-color: #FFF;
    text-align: center;
    padding-top: 10px;
}
.filedrag--focus {
    border: 2px dotted #3c8dbc;
}
.filedrag--disabled {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}

.thumbnails {
    padding: 0;
    list-style: none;
}
.thumbnails > li {
    display : inline-block;
    border: 1px solid #d2d6de;
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 10px;
}
.thumbnails__img {
    width: 100px;
}
.thumbnails__delete {
    margin-top: 5px;
}

.itemDetail {
    border-top: 1px solid #d2d6de;
    padding-top: 15px;
    margin-top: 30px;
}


.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}