        <main class="pg_collection">
            <section class="collectionPickup">
                <div class="is_center">
                    <div class="collectionPickup__description">
                        <h2 class="collectionPickup__ttl"><a href="{{ base_url() }}collection/detail/160901/">HALO 2P SOFA COLLECTION</a></h2>
                        <p class="collectionPickup__summary">オールハンドメイドで伝統的な職人の技を忠実に再現。<br>
                    アンティークの持つユーズド感を徹底的に追及するHALOの<br>人気の2人掛けソファーをご紹介します。</p>
                        <p class="collectionPickup__cta"><a href="" class="btn cta_lv1">詳しくはこちら</a></p>
                        <dl class="collectionPickup__period cf">
                            <dt>実施期間</dt>
                            <dd>2016.09.01〜</dd>
                        </dl>
                    </div>
                    <div class="collectionPickup__capture">
                        <figure>
                            <a href="">
                                <img src="/assets/img/pg_top/collection/160901/top_collection_banner.png" alt="HALO 2P SOFA COLLECTION">
                            </a>
                        </figure>
                    </div>
                </div>
            </section>
            <ul class="collectionBacknumber is_center">
                <li class="label_new">
                    <dl>
                        <dd>
                            <a href="">
                                <figure>
                                    <img src="/assets/img/pg_top/collection/160901/top_collection_banner.png" alt="HALO 2P SOFA COLLECTION" >
                                </figure>
                            </a>
                        </dd>
                        <dt><a href="">HALO 2P SOFA COLLECTION</a></dt>
                    </dl>
                </li>
            </ul>
        </main>