<main class="main is_center cf">
  <section class="col_left">
      <h2 class="detail__itemName"><span>{{ item.bland.name }}</span>{{ item.name }}</h2>
      <ul class="detail__thumb jsc_thumbSlide_main">
          {% for photo in item.photos %}
          <li class="is_active">
              <figure id="zoom4">
                  {{ asset_img('items/' ~ item.id ~ '/' ~ photo.photo, {'alt':item.name} ) }}
              </figure>
          </li>
          {% endfor %}
      </ul>
      <ul class="detail__subThumb jsc_thumbSlide_sub">
          {% for photo in item.photos %}
              <li><a href="#">{{ asset_img('items/' ~ item.id ~ '/' ~ photo.photo ) }}</a></li>
          {% endfor %}
      </ul>
      <div class="thumbSlide_sp_wrapper is_sp">
        <ul class="thumbSlide_sp jsc-thumbSlide">
            {% for photo in item.photos %}
            <li>
                <figure>
                    {{ asset_img('items/' ~ item.id ~ '/' ~ photo.photo, {'alt':item.name} ) }}
                </figure>
            </li>
            {% endfor %}
        </ul>
      </div>
      <section class="detailSection itemInfo">
          <h3 class="ttl--detail">商品データ</h3>
          <table class="detailBoxInfo">
              <tbody>
                  <tr>
                      <th>お問い合わせ番号</th>
                      <td>{{ item.id }}</td>
                      <th>サイズ</th>
                      <td class="dataSize"><a href="#itemSize" class="jsc_smoothscroll icn_link">{{ item.size_w }}<span>×</span>{{ item.size_d }}<span>×</span>{{ item.size_h }}<span>×</span>{{ item.size_sh }}</a></td>
                  </tr>
                  <tr>
                      <th>メーカー</th>
                      <td>{{ item.bland.marker.name }}</td>
                      <th>重量</th>
                      <td>{{ item.weight }}</td>
                  </tr>
                  <tr>
                      <th>ブランド</th>
                      <td>{{ item.bland.name }}</td>
                      <th>色</th>
                      <td>
                          {% for color in item.colors %}
                              {{ color.name }}
                          {% endfor %}
                      </td>
                  </tr>
                  <tr>
                      <th>商品名</th>
                      <td>{{ item.name }}</td>
                      <th>素材</th>
                      <td>
                        {{ item.material_detail }}
                      </td>
                  </tr>
                  <tr>
                      <th>価格</th>
                      <td>{{ (item.multina_price * 1.08)|number_format }}円(税込)</td>
                      <th>ブランド所在地</th>
                      <td>{{ item.bland.location }}</td>
                  </tr>
                  <tr>
                      <th>生産形態</th>
                      <td>{{ item.production.name }}</td>
                      <th>配送方法</th>
                      <td><a href="#post" class="jsc_smoothscroll icn_link">配送方法を参照</a></td>
                  </tr>
              </tbody>
          </table>
          <ul class="iconList">
              <li class="postageFree">配送料無料</li>
              <li class="security">1年保証</li>
              {% if item.production.name == "受注生産" %}
              <li class="orderItem"><a href="{{ base_url()}}guide/item/#sec_ordermadeitem">受注生産</a></li>
              {% endif %}
          </ul>
          <p class="linkForm"><a href="{{ base_url()}}contact/{{ item.id }}" class="btn_linkForm">この商品について問い合わせる</a></p>
          <a href="" class="detailSection_overTrigger"><span>詳しく見る</span></a>
      </section>
      <section class="detailSection post" id="post">
          <h3 class="ttl--detail">配送料</h3>
          <table class="table--postPrice">
              <tbody>
                  {% for send in item.sends %}
                      {% if send.carrier_method.name == '軒先き配送' %}
                      <tr>
                          <th>軒先き配送</th>
                          <td class="howto">商品をお客様の玄関先まで配送いたします。</td>
                          <td class="price">税込<span>{{ send.price|number_format }}</span>円</td>
                      </tr>
                      {% endif %}
                      {% if send.carrier_method.name == '開梱設置配送' %}
                      <tr>
                          <th>開梱設置配送</th>
                          <td class="howto">商品をお客様宅内のご指定の場所まで運搬いたします。</td>
                          <td class="price">税込<span class="strong">{{ send.price|number_format }}</span>円</td>
                      </tr>
                      {% endif %}
                      {% if send.carrier_method.name == '開梱設置配送＋組立' %}
                      <tr>
                          <th>開梱設置配送 + 組み立て</th>
                          <td class="howto">開梱設置後、組み立てまで行います。</td>
                          <td class="price">税込<span class="strong">{{ send.price|number_format }}</span>円</td>
                      </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          <ul class="postCautionList">
              <li class="postCautionList_red">※配送料は配送方法により、異なります。</li>
              <li>※配送方法はご注文パネルの「配送方法」よりご選択ください。</li>
              <li>※配送方法の詳しい説明は<a href="{{ base_url}}guide/postage.html" class="icn_link">配送方法について</a>をご確認ください。</li>
          </ul>
          <a href="" class="detailSection_overTrigger"><span>詳しく見る</span></a>
      </section>
  </section>
  <section class="col_right">
      {{ form_open('/detail/cart') }}
      <input type="hidden" name="id" value="{{ item.id }}">
      <div class="order">
          <dl class="orderItem">
              <dt>価格</dt>
              <dd class="item__price">税込<span>{{ (item.multina_price * 1.08) | number_format() }}</span>円</dd>
          </dl>
          <dl class="orderItem">
              <dt>色</dt>
              <dd>
                  <select name="color" id="" class="selectInput selectInput--order" required>
                      <option value="">選択してください</option>
                      {% for color in item.colors %}
                      <option value={{ color.id }}>{{ color.name }}</option>
                      {% endfor %}
                  </select>
              </dd>
          </dl>
          <dl class="orderItem">
              <dt>個数</dt>
              <dd class="item__count">
                  <input name="number" type="number" class="textInput textInput--order" value="1" min="1" required>
              </dd>
          </dl>
          <dl class="orderItem">
              <dt>配送方法</dt>
              <dd>
                  <select name="send" id="" class="selectInput selectInput--order" required>
                      <option value="">選択してください</option>
                      {% for send in item.sends %}
                      <option value="{{ send.id }}">{{ send.carrier_method.name }}</option>
                      {% endfor %}
                  </select>
              </dd>
          </dl>
          <ul class="orderItem cta--orderItem">
            {% if(session_get('user.id')) %}
              <li><input type="submit" value="お気に入りに追加" class="cta--favorite"></li>
              <li><input type="submit" value="お気に入り済み" class="cta--favorite is_active"></li>
            {% endif %}
              <li><input type="submit" value="カートに入れる" class="btn--submit submit--order"></li>
          </ul>
      </div>
      </form>
  </section>
</main>
