        <main>
            <article class="pg_brandDetail">
                <section class="kv">
                  <div class="kv_brandInfo">
                    <div class="brandTitle">
                      <h2 class="brandName fuwat">bina<span class="titleReading">ビーナ</span></h2>
                      <p class="brandLogo brandLogo-bina">bina logo</p>
                    </div>
                    <p class="brandDescription fuwat">
                    南米の居住等で使われていた古材とウォールナット新材のコンビネーションが新鮮なbina（ビーナ）。
                    北欧ビンテージのデザインは、佇まいはシンプルでありながら、古材を使用することにより、アヴァンギャルドな
                    荒々しさを表現するユニークなデザインとなっています。
                    </p>
                  </div>
                  <div class="kv_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/bina/item.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <section class="concept concept_l">
                  <div class="concept_brandInfo">
                    <h2 class="conceptTitle fuwat">人気のALEC COFFEE TABLE</h2>
                    <p class="conceptTxt fuwat">
                    1000x1000の正方形のコーヒーテーブル。<br>
                    個性的なストライプの廃材天板に、シンプルな作りだが強度の高いアイアン脚のコンビネーション。
                    ペローバウッドの古材など希少材を使用しているので、時には入荷まで数ヶ月待ちになるほどの人気商品。
                    同じものは二つとしてないその風合いは、このテーブルの魅力の一つである。
                    </p>
                  </div>
                  <div class="concept_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/bina/pic01.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <section class="concept concept_r">
                  <div class="concept_brandInfo">
                    <h2 class="conceptTitle fuwat">職人が創り出す唯一無二の家具</h2>
                    <p class="conceptTxt fuwat">
                      このシリーズは１枚板ではなく、接ぎ（はぎ）合わせによって生産されています。
                      職人により、古材の節や傷、色などを目視で確認し
                      一枚一枚出来上がりをイメージしながら、丁寧に仕上げられます。
                    </p>
                  </div>
                  <div class="concept_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/bina/pic02.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <a href="{{ base_url() }}brand/bina/" class="brandCta"><span class="btn cta_lv2">binaの商品を探す</span></a>
            </article>
        </main>
