        <main>
            <article class="pg_brandDetail">
                <section class="kv">
                  <div class="kv_brandInfo">
                    <div class="brandTitle">
                      <h2 class="brandName fuwat">d-Bodhi<span class="titleReading">ディーボディ</span></h2>
                      <p class="brandLogo brandLogo-dbodhi">dbodhi logo</p>
                    </div>
                    <p class="brandDescription fuwat">
                    dbodhiで使われるチーク材は、インドネシアの各地から収集しています。
                    古くから人々に愛され使われていたベンチや家具の扉、吊橋のチーク古材や鉄道の枕木、ボートに使われていた材木など
                    一つ一つ職人の手により丁寧に加工を施し、それらの材木を用いてモダンテイストの家具を生産しています。
                    </p>
                  </div>
                  <div class="kv_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/dbodhi/item.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <section class="concept concept_l">
                  <div class="concept_brandInfo">
                    <h2 class="conceptTitle fuwat">こだわりのINDUSTRIAL</h2>
                    <p class="conceptTxt fuwat">
                      dbodhiシリーズの中のFERUM INDUSTRIAL
                      40-50年前のボートから取り出したチーク古材とアイアンフレームのコンビネーションが特徴のアイテム。
                      アイアンの持つ重厚感に古材を組み合わせたINDUSTRIALなデザインが斬新で個性的な雰囲気を醸し出している。
                    </p>
                  </div>
                  <div class="concept_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/dbodhi/pic01.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <section class="concept concept_r">
                  <div class="concept_brandInfo">
                    <h2 class="conceptTitle fuwat">あえて無塗装で仕上げる</h2>
                    <p class="conceptTxt fuwat">
                      あえて無塗装にし、古材のナチュラル感を生かしています。<br>
                      アイアンのアイテムをプラスすることで、独特の存在感に仕上げています。<br>
                      古材の持つ雰囲気とモダンさを併せ持った個性的な家具は、アメリカンヴィンテージやモダンインテリアとの相性も抜群で、独特の空気感で魅了します。
                    </p>
                  </div>
                  <div class="concept_brandCap">
                    <figure>
                      <img src="/assets/img/pg_brand/dbodhi/pic02.jpg" alt="">
                    </figure>
                  </div>
                </section>
                <a href="{{ base_url() }}brand/dbodhi/" class="brandCta"><span class="btn cta_lv2">dbodhiの商品を探す</span></a>
            </article>
        </main>
