<main>
    <article class="pg_brandDetail">
        <section class="kv">
          <div class="kv_brandInfo">
            <div class="brandTitle">
              <h2 class="brandName fuwat">HALO<span class="titleReading">ハロー</span></h2>
              <p class="brandLogo brandLogo-halo">halo logo</p>
            </div>
            <p class="brandDescription fuwat">
            オールハンドメイドで、素材や仕上げにこだわり、アンティークの持つユーズド感を徹底的に追及しされたHALOシリーズ。
            レザーは使い込まれる度に表情を変える、それは人が成長する中で様々な経験をし変わっていくのと似ている。
            革にビンテージ加工を施すことにより、特有の深みを持ち、その革が醸し出す表情はHALOの象徴とも言えるだろう。
            私たちの心を贅沢にし、感性を満たしてくれるソファはきっとあなたの生活に贅沢をあたえてくれる。
            </p>
          </div>
          <div class="kv_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/halo/item.jpg" alt="">
            </figure>
          </div>
        </section>
        <section class="concept concept_l">
          <div class="concept_brandInfo">
            <h2 class="conceptTitle fuwat">HALO独自の世界観</h2>
            <p class="conceptTxt fuwat">
        　    アンティークデザインにモダンテイストを取り込み、HALO独自の世界観を生み出している。
              アンティークデザインと言えどいわゆる懐古主義とは一線を画し、
              現代的でアバンギャルドな要素が盛り込まれているのがHALOの最大の魅力。
            </p>
          </div>
          <div class="concept_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/halo/pic01.jpg" alt="">
            </figure>
          </div>
        </section>
        <section class="concept concept_r">
          <div class="concept_brandInfo">
            <h2 class="conceptTitle fuwat">ファンが多い</h2>
            <p class="conceptTxt fuwat">
              HALOには世界中に根強いファンがいます。<br>
              ヴィンテージを再現する部分は忠実に、一方で、モダンな感性で大胆なアレンジをプラスし、唯一無二の世界観を作り上げている。<br>
              製造は、設立当初から一貫して職人の手によるハンドメイド。<br>
              こだわりとアイデアが詰まった本物の家具が、本場ヨーロッパをはじめ世界中のファンを魅了している。
            </p>
          </div>
          <div class="concept_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/halo/pic02.jpg" alt="">
            </figure>
          </div>
        </section>
        <a href="{{ base_url() }}brand/halo/" class="brandCta"><span class="btn cta_lv2">haloの商品を探す</span></a>
    </article>
</main>
