        <main class="pg_brand">
            <article>
                <h2 class="cm_ttl_lv1 is_center">BRAND</h2>
                <ul class="brandList">
                    <li><a href="#sec_bina" class="brandLogo brandLogo--bina jsc_smoothscroll">bina</a></li>
                    <li><a href="#sec_dbodhi" class="brandLogo brandLogo--dbodhi jsc_smoothscroll">dbodhi</a></li>
                    <li><a href="#sec_halo" class="brandLogo brandLogo--halo jsc_smoothscroll">halo</a></li>
                    <li><a href="#sec_metalsistem" class="brandLogo brandLogo--metalsistem jsc_smoothscroll">metalsistem</a></li>
                </ul>
                <ul class="brandInfo">
                    <li id="sec_bina">
                        <div class="brandInfo__inner">
                            <figure class="brandImage">
                                <img src="/assets/img/pg_brand/bina/thumb.jpg" alt="">
                            </figure>
                            <section class="brandDescription">
                                <h3 class="brandDescription_ttl">bina</h3>
                                <p class="brandData">
                                  アメリカのデザイナー、トーマス・ビーナが手掛けるファニチャーブランド。<br>
                                    デザインは常に斬新で個性に溢れており、ビーナのデザインのインスピレーションは遊び心と好奇心にある
                                    「廃材に浸透した数十年の歳月がエコロジーを美しく再生する」をコンセプトに、古材や廃材を使用して作られた家具は、圧倒的な存在感を放ちます。
                                </p>
                                <p class="brandData__cta">
                                    <a href="{{ base_url}}bina" class="icn_link">さらに詳しく見る</a>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li id="sec_dbodhi">
                        <div class="brandInfo__inner">
                            <figure class="brandImage">
                                <img src="/assets/img/pg_brand/dbodhi/thumb.jpg" alt="">
                            </figure>
                            <section class="brandDescription">
                                <h3 class="brandDescription_ttl">d-Bodhi</h3>
                                <p class="brandData">
                                  2000年、オランダ人のレイモンド デビッド氏により「自然環境保護」「大切な資材を大事に使用」「インドネシアの安定した雇用」
                                  をコンセプトにデザインされた新進気鋭のインテリアライフスタイルブランド。
                                    “d”は彼の名前のDavidsが由来となっており、”Bodhi”とはサンスクリット語で「悟り」や「覚醒」または「木の幹」という意味があります。
                                </p>
                                <p class="brandData__cta">
                                    <a href="{{ base_url}}dbodhi" class="icn_link">さらに詳しく見る</a>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li id="sec_halo">
                        <div class="brandInfo__inner">
                            <figure class="brandImage">
                                <img src="/assets/img/pg_brand/halo/thumb.jpg" alt="">
                            </figure>
                            <section class="brandDescription">
                                <h3 class="brandDescription_ttl">HALO</h3>
                                <p class="brandData">
                                  1976年にイギリスで設立されたHALO
                                    ティモシーオルトンのユニークな発想と厳選された素材や優れたクラフトマンシップにより生み出された唯一無二のブランド。
                                    「伝統家具のリプロダクトこそ人々を魅了する」と確信し
                                    レザーの表情の違いやトランクやソファの鋲を全て手作業で打ち込むハンドメイドにこだわることで
                                    常に完成度の高いモノ作りを目指していた。
                                </p>
                                <p class="brandData__cta">
                                    <a href="{{ base_url}}halo" class="icn_link">さらに詳しく見る</a>
                                </p>
                            </section>
                        </div>
                    </li>
                    <li id="sec_metalsistem">
                        <div class="brandInfo__inner">
                            <figure class="brandImage">
                                <img src="/assets/img/pg_brand/metalsistem/thumb.jpg" alt="">
                            </figure>
                            <section class="brandDescription">
                              <h3 class="brandDescription_ttl">METALSISTEM</h3>
                              <p class="brandData">
                                イタリアのアルプスに程近いトレント地方ロベレートに拠点を置く業務用収納シェルフのブランドです。
                                空間を機能面から捉え、収納システムに革命を起こしたMETALSISTEM。
                                無機質な素材が演出するオンオフ問わず、一般ユーザーからプロフェッショナルまで魅了し続けます。
                              </p>
                              <p class="brandData__cta">
                                  <a href="{{ base_url}}metalsistem" class="icn_link">さらに詳しく見る</a>
                              </p>
                            </section>
                        </div>
                    </li>
                </ul>
            </article>
        </main>
