<main>
    <article class="pg_brandDetail">
        <section class="kv">
          <div class="kv_brandInfo">
            <div class="brandTitle">
              <h2 class="brandName fuwat">METALSISTEM<span class="titleReading">メタルシステム</span></h2>
              <p class="brandLogo brandLogo-metalsistem">metalsistem logo</p>
            </div>
            <p class="brandDescription fuwat">
            イタリアで生まれたMETALSISTEMは、ボルトではなく独特のリブ構造で棚板を支えるのが特徴です。<br>
            亜鉛メッキに施されたスチールは抜群の耐久性が施され、非常に頑強で実用性も兼ね備えた商品です。
            棚板1枚当たり150kgの重量に耐えられることから、耐久性は折紙付き。<br>
            ヨーロッパの伝統的なアンティークデザインをベースにした、渋くて大人な雰囲気の家具を展開しています。
            </p>
          </div>
          <div class="kv_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/metalsistem/item.jpg" alt="">
            </figure>
          </div>
        </section>
        <section class="concept concept_l">
          <div class="concept_brandInfo">
            <h2 class="conceptTitle fuwat">Made in ITALYへのこだわり</h2>
            <p class="conceptTxt fuwat">
            Made in ITALYにこだわり、数々のヨーロッパの厳格な品質基準をクリアした同社の製品は、
            ヨーロッパの企業、倉庫設備を中心に絶大な支持を受けています。
            </p>
          </div>
          <div class="concept_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/metalsistem/pic01.jpg" alt="">
            </figure>
          </div>
        </section>
        <section class="concept concept_r">
          <div class="concept_brandInfo">
            <h2 class="conceptTitle fuwat">様々なレイアウトに対応</h2>
            <p class="conceptTxt fuwat">
              METALSISTEMはインテリアストアやアパレルストアなど様々な場所で使われています。
              その理由は手軽に組立と分解が可能な上、軽量で移動も簡単なことから支持されています。
              クールで無機質なメタル素材が商品の存在感をより引き立てます。
              追加パーツのハンガーを使用し、自宅のワードローブとしても活躍できます。
            </p>
          </div>
          <div class="concept_brandCap">
            <figure>
              <img src="/assets/img/pg_brand/metalsistem/pic02.jpg" alt="">
            </figure>
          </div>
        </section>
        <a href="{{ base_url() }}brand/metalsistem/" class="brandCta"><span class="btn cta_lv2">METALSISTEMの商品を探す</span></a>
    </article>
</main>
