		<main class="main">
			<div class="memberKv" id="particles-js">
				<section class="guestStatus">
					<div class="guestStatus_profile">
						<h2 class="profile_userName"><span>USER NAME</span>様</h2>
						<p class="profile_userLank">一般ゲスト</p>
					</div>
					<dl class="guestStatus_point">
						<dt>保有ポイント</dt>
						<dd><span>999,999,999,999</span>ポイント</dd>
					</dl>
				</section>
				<div class="localLinks_wrapper">
					<ul class="localLinks">
						<li><a href="{{ base_url() }}member/">ゲスト情報</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況</a></li>
						<li class="is_active"><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
						<li class="disable"><a href="#sec_chat">チャット</a></li>
					</ul>	
				</div>
			</div>
			<div class="bg_blue">
				<section id="sec_history" class="sec">
					<h2 class="sec_ttl">ご注文履歴</h2>
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 historyBlock">
						<dl class="tableBlock historyBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock historyBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock historyBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock historyBlock_postDate">
							<dt>配送日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock historyBlock_review">
							<dt>レビュー</dt>
							<dd>
								<a href="#">レビューを残す</a>
								レビュー済み
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
				</section>
			</div>
		</main>
<script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>