		<main class="main">
			<div class="memberKv" id="particles-js">
				<section class="guestStatus">
					<div class="guestStatus_profile">
						<h2 class="profile_userName"><span>USER NAME</span>様</h2>
						<p class="profile_userLank">一般ゲスト</p>
					</div>
					<dl class="guestStatus_point">
						<dt>保有ポイント</dt>
						<dd><span>999,999,999,999</span>ポイント</dd>
					</dl>
				</section>
				<div class="localLinks_wrapper">
					<ul class="localLinks">
						<li class="is_active"><a href="#guestStatus">ゲスト情報</a></li>
						<li><a href="#sec_status" class="jsc_smoothscroll">ご注文状況</a></li>
						<li><a href="#sec_history" class="jsc_smoothscroll">ご注文履歴</a></li>
						<li><a href="#sec_registInfo" class="jsc_smoothscroll">ご登録情報</a></li>
						<li class="disable"><a href="#sec_chat" class="jsc_smoothscroll">チャット</a></li>
					</ul>	
				</div>
			</div>
			<div class="bg_blue">
				<section id="sec_status" class="sec bg_blue">
					<h2 class="sec_ttl">ご注文状況</h2>
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<a href="{{ base_url() }}member/status" class="btn_moreRead"><span>詳しく見る</span></a>
				</section>
				<section id="sec_history" class="sec">
					<h2 class="sec_ttl">ご注文履歴</h2>
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 historyBlock">
						<dl class="tableBlock historyBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock historyBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock historyBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock historyBlock_postDate">
							<dt>配送日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock historyBlock_review">
							<dt>レビュー</dt>
							<dd>
								<a href="#">レビューを残す</a>
								レビュー済み
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<a href="{{ base_url() }}member/history" class="btn_moreRead"><span>もっと見る</span></a>
				</section>
			</div>
			<section id="sec_registInfo" class="sec">
				<h2 class="sec_ttl">ご登録情報</h2>
				<section class="registInfo_subSection">
					<h3 class="registInfo_subSection_ttl">お客さま情報</h3>
					<div class="defaultTable colRow registBlock">
						<dl class="tableBlock">
							<dt>名前</dt>
							<dd>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</dd>
						</dl>
						<dl class="tableBlock">
							<dt>ふりがな</dt>
							<dd>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</dd>
						</dl>
						<dl class="tableBlock">
							<dt>郵便番号</dt>
							<dd>999-9999</dd>
						</dl>
						<dl class="tableBlock">
							<dt>都道府県</dt>
							<dd>北海道北海道北海道</dd>
						</dl>
						<dl class="tableBlock registBlock_accessCity">
							<dt>市区町村</dt>
							<dd>海部郡飛鳥村大字飛鳥新田字竹之郷ヨタレ南ノ割</dd>
						</dl>
						<dl class="tableBlock registBlock_accessOther">
							<dt>市区町村以下</dt>
							<dd>海部郡飛鳥村大字飛鳥新田字竹之郷ヨタレ南ノ割海部郡飛鳥村大字飛鳥新田字竹之郷ヨタレ南ノ割海部郡飛鳥村大字飛鳥新田字竹之郷ヨタレ南ノ割海部郡飛鳥村大字飛鳥新田字竹之郷ヨタレ南ノ割</dd>
						</dl>
						<dl class="tableBlock">
							<dt>電話番号</dt>
							<dd>99999999999999999999</dd>
						</dl>
					</div>
				</section>
				<section class="registInfo_subSection">
					<h3 class="registInfo_subSection_ttl">アカウント情報</h3>	
					<div class="defaultTable colRow loginBlock">
						<dl class="tableBlock loginBlock_id">
							<dt>メールアドレス</dt>
							<dd>99999999999999999999@gmail.com</dd>
						</dl>
						<dl class="tableBlock loginBlock_pw">
							<dt>パスワード</dt>
							<dd>xxx</dd>
						</dl>
					</div>
				</section>
				<a href="{{ base_url() }}member/info" class="btn_moreRead"><span>登録内容を修正する</span></a>
			</section>
		</main>
<script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>