		<main class="main">
			<div class="memberKv" id="particles-js">
				<section class="guestStatus">
					<div class="guestStatus_profile">
						<h2 class="profile_userName"><span>USER NAME</span>様</h2>
						<p class="profile_userLank">一般ゲスト</p>
					</div>
					<dl class="guestStatus_point">
						<dt>保有ポイント</dt>
						<dd><span>999,999,999,999</span>ポイント</dd>
					</dl>
				</section>
				<div class="localLinks_wrapper">
					<ul class="localLinks">
						<li><a href="{{ base_url() }}member/">ゲスト情報</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li class="is_active"><a href="{{ base_url() }}member/info">ご登録情報</a></li>
						<li class="disable"><a href="#sec_chat">チャット</a></li>
					</ul>	
				</div>
			</div>
			<div class="bg_blue">
				<section id="sec_registInfo" class="sec">
					<h2 class="sec_ttl">ご登録情報</h2>
					<section class="registInfo_subSection">
						<h3 class="registInfo_subSection_ttl">お客さま情報</h3>
						<div class="defaultTable colRow registBlock">
							<dl class="tableBlock">
								<dt>お名前</dt>
								<dd><input type="text" placeholder="お名前を入力してください"></dd>
							</dl>
							<dl class="tableBlock">
								<dt>ふりがな</dt>
								<dd><input type="text" placeholder="ふりがなを入力してください"></dd>
							</dl>
							<dl class="tableBlock">
								<dt>郵便番号</dt>
								<dd><input type="number" placeholder="郵便番号を入力してください"></dd>
							</dl>
							<dl class="tableBlock">
								<dt>都道府県</dt>
								<dd><input type="text" placeholder="都道府県を入力してください"></dd>
							</dl>
							<dl class="tableBlock registBlock_accessCity">
								<dt>市区町村</dt>
								<dd><input type="text" placeholder="市区町村を入力してください"></dd>
							</dl>
							<dl class="tableBlock registBlock_accessOther">
								<dt>市区町村以下</dt>
								<dd><input type="text" placeholder="市区町村以下を入力してください"></dd>
							</dl>
							<dl class="tableBlock">
								<dt>電話番号</dt>
								<dd><input type="tel" placeholder="電話番号を入力してください"></dd>
							</dl>
						</div>
					</section>
					<section class="registInfo_subSection">
						<h3 class="registInfo_subSection_ttl">アカウント情報</h3>	
						<div class="defaultTable colRow loginBlock">
							<dl class="tableBlock loginBlock_id">
								<dt>メールアドレス</dt>
								<dd><input type="email" placeholder="メールアドレスを入力してください"></dd>
							</dl>
							<dl class="tableBlock loginBlock_pw">
								<dt>パスワード</dt>
								<dd><input type="password" placeholder="パスワードを入力してください"></dd>
							</dl>
						</div>
					</section>
					<a href="#" class="btn_moreRead"><span>登録内容を保存する</span></a>
				</section>
			</div>
		</main>
<script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>