		<main class="main">
			<div class="memberKv" id="particles-js">
				<section class="guestStatus">
					<div class="guestStatus_profile">
						<h2 class="profile_userName"><span>USER NAME</span>様</h2>
						<p class="profile_userLank">一般ゲスト</p>
					</div>
					<dl class="guestStatus_point">
						<dt>保有ポイント</dt>
						<dd><span>999,999,999,999</span>ポイント</dd>
					</dl>
				</section>
				<div class="localLinks_wrapper">
					<ul class="localLinks">
					<ul class="localLinks">
						<li><a href="{{ base_url() }}member/">ゲスト情報</a></li>
						<li class="is_active"><a href="{{ base_url() }}member/status">ご注文状況</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
						<li class="disable"><a href="#sec_chat">チャット</a></li>
					</ul>	
					</ul>	
				</div>
			</div>
			<div class="bg_blue">
				<section id="sec_status" class="sec">
					<h2 class="sec_ttl">ご注文状況</h2>
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
					<!-- ※注文ブロック：増やす場合はここから▼ -->
					<div class="defaultTable col5 statusBlock">
						<dl class="tableBlock statusBlock_orderNumber">
							<dt>注文番号</dt>
							<dd>xxx-xxx-xxx</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderInfo">
							<dt>ご注文情報</dt>
							<dd class="orderInfo">
								<dl>
									<dt>商品ID</dt>
									<dd><a href="#">xxx-xxx-xxx</a></dd>
								</dl>
								<dl>
									<dt>個数</dt>
									<dd>xxx,xxx,xxx個</dd>
								</dl>
								<dl>
									<dt>合計金額</dt>
									<dd>xxx,xxx,xxx円</dd>
								</dl>
							</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderDate">
							<dt>ご注文日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_postDate">
							<dt>配送予定日</dt>
							<dd>0000年00月00日</dd>
						</dl>
						<dl class="tableBlock statusBlock_orderStatus">
							<dt>注文進行状況</dt>
							<dd>						
								<ul class="statusStepList">
									<li class="step1">在庫確認</li>
									<!-- <li class="step2">決済待ち</li>
									<li class="step3">商品準備中</li>
									<li class="step4">発送完了</li -->
								</ul>
							</dd>
						</dl>
					</div>
					<!-- ※注文ブロック：増やす場合はここまで▲ -->
				</section>
			</div>				
		</main>
<script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>