@charset "utf-8";

/* =====================

COMMON PAGE STYLING

- SITE LAYOUT(PC)
- SITE LAYOUT(SP)
- HEADER(PC)
- HEADER(SP)
- FOOTER(PC)
- FOOTER(SP)
- COMMON PARTS(PC)
- COMMON PARTS(SP)
- OTHER PAGE LAYOUT(PC)
- OTHER PAGE LAYOUT(SP)

===================== */

/* ======================================================

SITE LAYOUT(PC)

- IS CENTER
- CLEAR FIX

====================================================== */

@media screen and (min-width : 768px){

  body {
    font-feature-settings: "palt";
  }

  /* ---------------------
  IS CENTER
  --------------------- */
  .is_center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  /* ---------------------
  CLEAR FIX
  --------------------- */
  .cf::after {
   clear: both;
   content: '';
   display: block;
   overflow: hidden;
   visibility: hidden;
   height: 0;
  }
  /* ---------------------
  RESPONSIVE
  --------------------- */
  .is_pc {
    display: block;
  }
  .is_sp {
    display: none;
  }

}
/*
END max width 768px :PC
///////////////////// */

.col {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* ---------------------
svgSpriteIcon
--------------------- */
.svgSpriteIcon {
  width: 100%;
  height: 100%;
}
/* ---------------------
fuwatAnime
--------------------- */
.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


/* ======================================================

SITE LAYOUT(SP)

- IS CENTER
- CLEAR FIX

====================================================== */
@media screen and (max-width : 768px){

  body {
    font-feature-settings: "palt";
  }
  a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

  /* ---------------------
  RESPONSIVE
  --------------------- */
  .is_pc {
    display: none !important;
  }
  .is_sp {
    display: block !important;
  }

  /* ---------------------
  CLEAR FIX
  --------------------- */
  .cf::after {
   clear: both;
   content: '';
   display: block;
   overflow: hidden;
   visibility: hidden;
   height: 0;
  }

}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

HEADER(PC)

- BREADCRUMB

====================================================== */
@media screen and (min-width : 940px){

  .header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
  }
  .header_leftCol {
    align-items: center;
    justify-content: space-between;
  }
  .header_siteTitle {
    padding-left: 15px;
  }
  .sitelogo {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 170px;
    overflow: hidden;
  }
  .sitelogo img {
    width: 100%;
  }
  .sitelogo::after {
    position: absolute;
    top: -50px;
    content: "";
    display: block;
    width: 30px;
    height: 155px;
    left: -75px;
    opacity: 0.5;
    background: #fff;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 30;
  }
  .sitelogo:hover::after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  /* ---------------------
  categoryList
  --------------------- */
  .categoryList {
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
  }
  .categoryList > li > a {
    display: block;
    padding: 20px 17.5px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
  }
  .categoryList > li > a:hover {
   color: #FFA630;
 }
  .subnav {
    align-items: center;
    justify-content: space-between;
  }
  .subnav > li > a {
    display: block;
    padding: 20px 25px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  .subnav_cart {
    position: relative;
  }
  .subnav_cart .count {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #FFA630;
    font-size: 10px;
    color: #fff;
  }
  .postageFree {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
  }

  /* ---------------------
  BREADCRUMB
  --------------------- */
  .header_breadcrumb {
    background-color: #f5f5f5;
  }
  .breadcrumbs {
    padding: 10px 0;
    font-size: 0px;
    line-height: 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  .icon-home::before {
      content: "\f015";
  }
  .breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    transition: 0.3s ease;
  }
  .breadcrumbs li:hover a {
    color: #FFA630;
  }
  .breadcrumbs li::before {
    content: "";
    position: absolute;
    right: -9px;
    top: -1px;
    z-index: 20;
    border-left: 10px solid #fff;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    transition: 0.3s ease;
  }
  .breadcrumbs li::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -1px;
    z-index: 10;
    border-left: 10px solid #eee;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
  }
  .breadcrumbs li.active a {
    color: #000;
  }
  .breadcrumbs li.first {
    border-left: none;
  }
  .breadcrumbs li.first a {
    font-size: 18px;
    padding-left: 20px;
  }
  .breadcrumbs li.last::before {
    display: none;
  }
  .breadcrumbs li.last::after {
    display: none;
  }
  .breadcrumbs li.last a {
    padding-right: 20px;
  }
  .breadcrumbs li a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #757575;
    padding: 0px 15px 0px 25px;
    text-decoration: none;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
  }
  .jsc_slideMenu_bg {
    display: none;
  }

}
/*
END max width 768px :PC
///////////////////// */

/* ======================================================

HEADER(SP)

- BREADCRUMB

====================================================== */
@media screen and (max-width : 940px){

  /* ---------------------
  RESPONSIVE
  --------------------- */
  .header .is_pc {
    display: none !important;
  }
  .header .is_sp {
    display: block !important;
  }
  /* ---------------------
  PAGE LAYOUT
  --------------------- */
  .header {
    position: relative;
    background-color: #333;
  }
  .header_leftCol {
    display: block;
  }
  .header_siteTitle {
    display: inline-block;
    width: 100%;
  }
  .sitelogo {
    display: block;
    width: 60%;
    max-width: 140px;
    margin: 0 auto;
    height: 50px;
    line-height: 60px;
  }
  .sitelogo img {
    width: 100%;
  }
  .categoryList {
    align-items: center;
    justify-content: space-between;
  }
  .categoryList > li {
    width: 25%;
  }
  .categoryList > li > a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 15px 0px;
    box-sizing: border-box;
  }

  .hamburgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
  }
  .hamburgerMenu,
  .hamburgerMenu span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .hamburgerMenu span {
    position: absolute;
    left: 20px;
    width: 35%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
  }
  .hamburgerMenu span:nth-of-type(1) {
    top: 13px;
  }
  .hamburgerMenu span:nth-of-type(2) {
    top: 20px;
  }
  .hamburgerMenu span:nth-of-type(3) {
    top: 27px;
  }
  .hamburgerMenu.disable {
    pointer-events: none;
    opacity: 0.5;
  }
  .hamburgerMenu.active span:nth-of-type(1) {
    top: -1px;
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  }
  .hamburgerMenu.active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburgerMenu.active span:nth-of-type(3) {
    top: 39px;
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  .hamburgerMenu span.hamburgerMenu_string {
    bottom: 0;
    color: #fff;
    text-indent: initial;
    height: auto;
    font-size: 8px;
    background-color: inherit;
    width: 100%;
    left: 5px;
    text-align: center;
    bottom: 7px;
  }

  .jsc_slideMenu_body {
    left: -100vw;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
  }
  .jsc_slideMenu_body.is_show {
    left: 0vw;
  }
  .jsc_slideMenu_bg {
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  .jsc_slideMenu_bg.is_show {
    opacity: 0.3;
  }
  /* ---------------------
  GLOVAL NAVIGATION
  --------------------- */
  .glonav {
    position: fixed;
    top: 50px;
    display: block;
    width: 70%;
    height: 100%;
    background-color: #f9f9f9;
    z-index: 100;
  }
  .glonav > li {
    height: 50px;
  }
  .glonav > li > a.icn_home::before {
    background-position: 0 0;
  }
  .glonav > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    line-height: 50px;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
  }
  .glonav > li > a::after {
    border-right: none;
  }
  .glonav > li:last-child > a::after {
    border-right: none;
  }
  .glonav_guide .svgSpriteIcon,
  .glonav_search .svgSpriteIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    padding: 5px;
    background-color: #463F3A;
    border-radius: 50%;
    vertical-align: middle;
  }

  /* ---------------------
  jsc_navAccordion
  ---------------------- */
  .jsc_navAccordion.is_active > .jsc_navAccordion_trigger {
    pointer-events: none;
    background-image: url(/assets/img/common/icn/icn_cm_item_acd_type2_open.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 10px;
  }
  .jsc_navAccordion.is_active.is_open > .jsc_navAccordion_trigger {
    background-image: url(/assets/img/common/icn/icn_cm_item_acd_type2_close.svg);
  }
  .jsc_navAccordion_target {
    display: none;
  }
  .jsc_navAccordion_target > li {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
  .jsc_navAccordion_target > li + li {
    border-top: 1px dashed #ccc;
  }
  .jsc_navAccordion_target > li > a {
    display: block;
    padding-left: 15px;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  }

  /* ---------------------
  BREADCRUMB
  --------------------- */
  .header_breadcrumb {
    padding: 5px;
    background-color: #f5f5f5;
  }
  .breadcrumbs {
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    zoom: 1;
    vertical-align: top;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
     -webkit-overflow-scrolling: touch;
  }
  .breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    transition: 0.3s ease;
  }
  .breadcrumbs li:hover a {
    color: #FFA630;
  }
  .breadcrumbs li::before {
    content: "";
    position: absolute;
    right: -9px;
    top: -1px;
    z-index: 20;
    border-left: 10px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 16px solid transparent;
    transition: 0.3s ease;
  }
  .breadcrumbs li::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -1px;
    z-index: 10;
    border-left: 10px solid #f5f5f5;
    border-top: 15px solid transparent;
    border-bottom: 16px solid transparent;
  }
  .breadcrumbs li.active a {
    color: #000;
  }
  .breadcrumbs li.first {
    border-left: none;
  }
  .breadcrumbs li.first a {
    font-size: 18px;
    padding-left: 20px;
  }
  .breadcrumbs li.last::before {
    display: none;
  }
  .breadcrumbs li.last::after {
    display: none;
  }
  .breadcrumbs li.last a {
    padding-right: 20px;
  }
  .breadcrumbs li a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #757575;
    padding: 0px 15px 0px 25px;
    text-decoration: none;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
  }

}
/*
END max width 768px :PC
///////////////////// */

/* ======================================================

FOOTER(PC)

- FOOTER LAYOUT

====================================================== */
@media screen and (min-width : 768px){

  /* ---------------------
  FOOTER LAYOUT
  --------------------- */
  .footer {
    width: 100%;
    overflow: hidden;
    background-color: #463F3A;
  }
  .footer__inner {
    display: table;
    width: 100%;
    padding: 30px 20px 0 20px;
    max-width: 960px;
    min-width: 765px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
  }
  .footerGroup {
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }
  .ttl--footer {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
  }
  .ttl--footer::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FFA630;
  }
  .ttl--footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer_links {
    margin-top: 20px;
  }
  .footer_links > li + li {
    margin-top: 15px;
  }
  .footer_links > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
  }
  .footer_links > li > a:hover {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    color: #FFA630;
  }
  .snsLinks {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
  }
  .snsLinks > li {
    display: block;
    width: 40px;
    height: 40px;
  }
  .snsLinks > li + li {
    margin-top: 0;
    margin-left: 10px;
  }
  .snsLinks > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .link_fb {
    background-color: #4665AC;
  }
  .link_insta {
    background-color: #305B88;
  }

  .footer__paymentLinks {
    height: 45px;
    text-align: right;
    background-color: #fff;
    border-top: 1px solid #efefef;
  }
  .paymentLinks {
    overflow: hidden;
  }
  .paymentLinks > li {
    display: inline-block;
    width: 40px;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .paymentLinks > li + li {
    margin-top: 0;
  }
  .paymentLinks > .icn_visa {
    background-size: 220%;
    background-position: -47px -87px;
  }
  .paymentLinks > .icn_master {
    background-size: 220%;
    background-position: -47px -44px;
  }
  .paymentLinks > .icn_jcb {
    padding: 5px 10px;
    background-size: 220%;
    background-position: -47px 0px;
  }
  .paymentLinks > .icn_ae {
    padding: 5px 10px;
    background-size: 220%;
    background-position: -47px -175px;
  }
  .paymentLinks > .icn_din {
    padding: 5px 10px;
    background-size: 220%;
    background-position: -47px -130px;
  }
  .copyright {
    padding: 10px 0;
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    background-color: #fff;
  }
  /* ---------------------
  storeLinks
  --------------------- */
  .storeLinks > li {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/assets/img/common/icn/icn_store.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .storeLinks > .icn_storeF {
    background-size: 100%;
    background-position: 0 0;
  }
  .storeLinks > .icn_storeR {
    background-size: 95%;
    background-position: 0 -35px;
  }
  .storeLinks > .icn_storeS {
    width: 70px;
    background-size: 100%;
    background-position: 0 -165px;
  }
  .storeLinks > .icn_storeK {
    width: 60px;
    background-size: 100%;
    background-position: 0 -245px;
  }
  .storeLinks > .icn_storeT {
    background-size: 100%;
    background-position: 0 -105px;
  }
  .storeLinks > .icn_storeM {
    background-size: 100%;
    background-position: 0 -160px;
  }

}
/*
END max width 768px :PC
///////////////////// */

/* ======================================================

FOOTER(SP)

- FOOTER LAYOUT

====================================================== */
@media screen and (max-width : 768px){

  /* ---------------------
  FOOTER LAYOUT
  --------------------- */
  .footer {
    overflow: hidden;
    box-sizing: border-box;
  }
  .footer__inner {
    padding: 15px 10px;
    background-color: #463F3A;
  }
  .footerGroup + .footerGroup {
    margin-top: 15px;
  }
  .ttl--footer {
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #ffa630;
    font-size: 1.3rem;
    color: #fff;
    font-weight: normal;
  }
  .siteInfoLinks > li {}
  .siteInfoLinks > li > a {
    display: block;
    width: 100%;
    padding: 15px 0;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-top: 1px dashed #86786f;
  }
  .paymentLinks  {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #efefef;
    text-align: right;
    overflow: hidden;
  }
  .paymentLinks > li {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 25px;
    box-sizing: border-box;
  }
  .paymentLinks > .icn_visa {
    background-size: 200%;
    background-position: -40px -90px;
  }
  .paymentLinks > .icn_master {
    background-size: 200%;
    background-position: -40px -50px;
  }
  .paymentLinks > .icn_jcb {
    padding: 5px 10px;
    background-size: 200%;
    background-position: -40px -10px;
  }
  .paymentLinks > .icn_ae {
    padding: 5px 10px;
    background-size: 200%;
    background-position: -40px -170px;
  }
  .paymentLinks > .icn_din {
    padding: 5px 10px;
    background-size: 200%;
    background-position: -40px -128px;
  }
  /* ---------------------
  storeLinks
  --------------------- */
  .storeLinks > li {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/assets/img/common/icn/icn_store.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .storeLinks > .icn_storeF {
    background-size: 100%;
    background-position: 0 0;
  }
  .storeLinks > .icn_storeR {
    background-size: 95%;
    background-position: 0 -35px;
  }
  .storeLinks > .icn_storeS {
    width: 70px;
    background-size: 100%;
    background-position: 0 -165px;
  }
  .storeLinks > .icn_storeK {
    width: 60px;
    background-size: 100%;
    background-position: 0 -245px;
  }
  .storeLinks > .icn_storeT {
    background-size: 100%;
    background-position: 0 -105px;
  }
  .storeLinks > .icn_storeM {
    background-size: 100%;
    background-position: 0 -160px;
  }
  .snsLinks {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
  }
  .snsLinks > li {
    display: block;
    width: 40px;
    height: 40px;
  }
  .snsLinks > li + li {
    margin-top: 0;
    margin-left: 10px;
  }
  .snsLinks > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .link_fb {
    background-color: #4665AC;
  }
  .link_insta {
    background-color: #305B88;
  }
  .copyright {
    padding: 5px 0;
    text-align: center;
  }
}
/*
END max width 768px :PC
///////////////////// */

/* ======================================================

COMMON PARTS(PC)

- LINK STYLE
- ICON LINK
- BTN SETTING
- BTN NORMAL
- BTN SUBMIT
- BTN CLOSE
- BTN SWITCH
- BTN FAVORITE
- FLASH BUTTON
- DOKIDOKI
- TITLE
- RADIO BOX
- CHECK BOX
- TEXTAREA
- INPUT
- INPUT PLACEHOLDER
- ITEM LIST LABEL

====================================================== */
@media screen and (min-width : 768px){

  /* ---------------------
  LINK STYLE
  --------------------- */
  .link--arrow > a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
  }
  .link--arrow > a::before,
  .link--arrow > a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  .link--arrow > a::before {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .link--arrow > a::after {
    left: 3px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .link--arrow > a:hover {
    color: #FFA630;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
  }

  /* ---------------------
  ICON LINK
  --------------------- */
  .icn_link {
    text-decoration: underline;
    color: inherit;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .icn_link:hover {
    color: #FFA630;
  }
  .icn_link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    vertical-align: top;
    background-image: url(/assets/img/common/icn/icn_link.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
  }

  /* ---------------------
  BTN SETTING
  --------------------- */

  /* BOTTON NORMAL */
  .cta_lv1 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom-color: #CE8021;
    background-color: #FFA630;
    text-decoration: none;
  }
  .cta_lv2 {
    height: 60px;
    line-height: 60px;
    border-bottom-color: #003E54;
    background-color: #005981;
  }
  .cta--gray {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    border-bottom-color: #F4F4F4;
    background-color: #FFFFFF;
    color: #333333;
  }
  /* BOTTON SWITCH */
  .cm_switch_lv1 {
    height: 60px;
    line-height: 60px;
    border-bottom-color: #CE8021;
    background-color: #FFA630;
  }
  .cm_switch_lv1.is_active {
    border-bottom-color: #FFA630;
    background-color: #FFFFFF;
    color: #FFA630;
  }

  /* ---------------------
  BTN NORMAL
  --------------------- */
  .btn {
    position: relative;
    display: block;
    width: 100%;
    min-height: 40px;
    height: auto;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
  }
  .btn:hover::after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:active {
    margin-top: 3px;
    border-bottom: none;
  }
  .btn::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 30;
  }

  /* ---------------------
  BTN SUBMIT
  --------------------- */
  .btn--submit {
    color: #FFFFFF;
    background-color: #FFA630;
    border-bottom: 3px solid #CE8021;
    box-sizing: border-box;
  }
  .btn--submit:hover {
    margin-top: -2px;
    border-bottom: 5px solid #CE8021;
  }
  .btn--submit--lv2 {
    color: #FFFFFF;
    background-color: #005981;
    border-bottom: 3px solid #003E54;
    box-sizing: border-box;
  }
  .btn--submit--lv2:hover {
    margin-top: -2px;
    border-bottom: 5px solid #003E54;
  }
  .btn--submit:active,
  .btn--submit--lv2:active {
    margin-top: 3px;
    border-bottom: none;
  }

  /* ---------------------
  BTN CLOSE
  --------------------- */
  .btn--close {
    display: block;
    border: 1px solid #F4F4F4;
    background-image: url(/assets/img/common/icn/icn_cm_item_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: #FFFFFF;
    text-indent: -9999px;
    box-sizing: border-box;
  }

  /* ---------------------
  BTN SWITCH
  --------------------- */
  .btn_switch {
    display: block;
    height: auto;
    min-height: 40px;
    margin-top: -3px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    background-color: #EFEFEF;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
  }
  .btn_switch:active {
    margin-top: 0;
    border-bottom: none;
  }
  .btn_switch::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 155px;
    top: -50px;
    left: -75px;
    background-color: #FFFFFF;
    opacity: 0.2;
    z-index: 30;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn_switch:hover::after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn_switch.is_active {
    margin-top: 0;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
  }

  /* ---------------------
  BTN FAVORITE
  --------------------- */
  .add_favorite {
    position: relative;
    height: 40px;
    box-sizing: border-box;
  }
  .add_favorite input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
  }
  .favoriteLabel {
    display: block;
    width: 100%;
    height: 100%;
    color: #999999;
    cursor: pointer;
  }
  .favoriteLabel::before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #EFEFEF;
    background-color: #FFFFFF;
    box-sizing: border-box;
    z-index: 1;
  }
  .favoriteLabel::after {
    position: absolute;
    top: 15px;
    right: 17px;
    content: url(/assets/img/common/icn/icn_heart.svg);
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    z-index: 2;
    opacity: 0.5;
  }
  .add_favorite input:checked ~ .favoriteLabel::before {
    border: 2px solid #EFEFEF;
  }
  .add_favorite input:checked ~ .favoriteLabel::after {
    opacity: 1;
    content: url(/assets/img/common/icn/icn_heart_on.svg);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0s;
  }
  @-webkit-keyframes fadein {
   from {
   opacity: 0;
   }
   to {
   opacity: 1;
   }
  }


  /* ---------------------
  FLASH BUTTON
  --------------------- */
  .is_flash {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0s;
  }
  @-webkit-keyframes blink {
   from {
   opacity: 1;
   }
   to {
   opacity: 0;
   }
  }

  /* ---------------------
  DOKIDOKI
  --------------------- */
  .is_dokidoki::before {
    -webkit-animation: dokidoki 2.5s infinite;
    animation: dokidoki 2.5s infinite;
  }
  @-webkit-keyframes dokidoki {
   0%  { -webkit-transform: scale(1); }
   5%  { -webkit-transform: scale(1.2); }
   10% { -webkit-transform: scale(1.1); }
   15% { -webkit-transform: scale(1.3); }
   50% { -webkit-transform: scale(1); }
   100% { -webkit-transform: scale(1); }
  }
  @keyframes dokidoki {
   0%  { transform: scale(1); }
   5%  { transform: scale(1.2); }
   10% { transform: scale(1.1); }
   15% { transform: scale(1.3); }
   50% { transform: scale(1); }
   100% { transform: scale(1); }
  }

  /* ---------------------
  TITLE
  --------------------- */
  .cm_ttl_lv1 {
    font-size: 1.6em;
    color: #333333;
  }
  .cm_ttl_lv1::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #333333;
  }
  .cm_ttl_lv2 {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
    border-left: solid 5px #333333;
  }

  /* ---------------------
  RADIO BOX
  --------------------- */
  .radiobox {
    position     : relative;
    display      : inline-block;
    width: 100%;
    padding : 15px 15px 15px 25px;
    box-sizing   : border-box;
    font-size: 14px;
    overflow     : hidden;
    cursor       : pointer;
  }
  .radiobox::before {
    content  : '';
    position : absolute;
    width    : 15px;
    height   : 15px;
    left     : 0px;
    top      : 50%;
    margin-top: -7.5px;
    border   : 1px solid #EEEEEE;
    border-radius: 100%;
    z-index  : 3;
  }
  .radiobox::after {
    content           : '';
    position          : absolute;
    top               : 50%;
    left              : 0;
    display           : block;
    margin-top        : -4px;
    margin-left : 3px;
    width             : 11px;
    height            : 11px;
    background-color: #FFFFFF;
    border-radius: 100%;
    z-index           : 1;
  }
  .radiobox + input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    position: absolute;
  }
  .radiobox.is_checked {
    color: #FFA630;
  }
  .radiobox.is_checked::after {
    background-color: #FFA630;
  }

  /* ---------------------
  CHECK BOX
  --------------------- */
  .checkbox {
    position     : relative;
    display      : inline-block;
    width: 100%;
    padding : 15px 15px 15px 25px;
    box-sizing   : border-box;
    font-size: 14px;
    overflow     : hidden;
    cursor       : pointer;
  }
  .checkbox::before {
    content  : '';
    position : absolute;
    width    : 15px;
    height   : 15px;
    left     : 0px;
    top      : 50%;
    margin-top: -7.5px;
    border   : 1px solid #EEEEEE;
    z-index  : 3;
  }
  .checkbox::after {
    content : '';
    position          : absolute;
    top               : 50%;
    left              : 0;
    display           : block;
    margin-top        : -4px;
    margin-left : 3px;
    width             : 11px;
    height            : 11px;
    z-index           : 1;
    background-color: #FFFFFF;
  }
  .checkbox.is_checked {
    color: #FFA630;
  }
  .checkbox.is_checked::after {
    background-color: #FFA630;
  }
  .checkbox + input[type="checkbox"] {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
  }
  /* ---------------------
  TEXTAREA
  --------------------- */
  .textArea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
  }

  /* ---------------------
  INPUT
  --------------------- */
  .textInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #EFEFEF;
    font-weight: lighter;
    box-sizing: border-box;
    cursor: inherit;
  }
  .selectInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #EFEFEF;
    font-weight: lighter;
    box-sizing: border-box;
  }
  .selectInput {
    background-image: url(/assets/img/common/icn/icn_select.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px 10px;
    font-size: 13px;
  }
  .textareaInput {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    resize: none;
  }
  /* ---------------------
  INPUT PLACEHOLDER
  --------------------- */
  ::-webkit-input-placeholder {
      font-size: 0.8em;
      padding-top: 3px;
  }

  /* ---------------------
  ITEM LIST LABEL
  --------------------- */
  .label_sale,
  .label_new,
  .label_few,
  .label_soon {
    position: relative;
  }
  .label_sale::before,
  .label_new::before,
  .label_few::before,
  .label_soon::before {
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 2;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-size: 0.8em;
    color: #FFFFFF;
    font-weight: bold;
  }
  .label_sale::before {
    content: "SALE";
  }
  .label_new::before {
    content: "NEW";
  }
  .label_few::before {
    content: "在庫少";
    color: #333333;
  }
  .label_soon::before {
    content: "翌日発送";
    color: #000000;
    left: 0;
  }
  .label_sale::after,
  .label_new::after,
  .label_few::after,
  .label_soon::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    border-bottom: 50px solid transparent;
    z-index: 1;
  }
  .label_sale::after {
    border-left: 50px solid #DB0909;
  }
  .label_new::after {
    border-left: 50px solid #005981;
  }
  .label_few::after {
    border-left: 50px solid #CCCCCC;
  }
  .label_soon::after {
    border-left: 50px solid #FFA630;
  }


}
/*
END max width 768px :PC
///////////////////// */


/* ======================================================

COMMON PARTS(SP)

- ICON LINK
- BTN SETTING
- BTN NORMAL
- RADIO BOX
- CHECK BOX
- TEXTAREA
- INPUT
- INPUT PLACEHOLDER

====================================================== */
@media screen and (max-width : 768px){

  /* ---------------------
  LINK STYLE
  --------------------- */
  .link--arrow > a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
  }
  .link--arrow > a::before,
  .link--arrow > a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  .link--arrow > a::before {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .link--arrow > a::after {
    left: 3px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .link--arrow > a:hover {
    color: #FFA630;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
  }

  /* ---------------------
  ICON LINK
  --------------------- */
  .icn_link {
    text-decoration: none;
    color: inherit;
    color: #FFA630;
  }
  .icn_link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    background-image: url(/assets/img/common/icn/icn_link.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
  }
  /* ---------------------
  BTN SETTING
  --------------------- */

  /* BOTTON NORMAL */
  .cta_lv1 {
    width: 100%;
    height: 30px;
    text-decoration: none;
  }
  .cta_lv1 > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    background-color: #FFA630;
    border-radius: 30px;
    max-width: 300px;
    text-align: center;
  }
  .cta_lv2 {
    width: 100%;
    height: 30px;
    text-decoration: none;
  }
  .cta_lv2 > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    background-color: #005981;
    border-radius: 30px;
    max-width: 300px;
    text-align: center;
  }
  .cta--gray {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    border-bottom-color: #F4F4F4;
    background-color: #FFFFFF;
    color: #333333;
  }
  /* BOTTON SWITCH */
  .cm_switch_lv1 {
    height: 60px;
    line-height: 60px;
    border-bottom-color: #CE8021;
    background-color: #FFA630;
  }
  .cm_switch_lv1.is_active {
    border-bottom-color: #FFA630;
    background-color: #FFFFFF;
    color: #FFA630;
  }

  /* ---------------------
  BTN NORMAL
  --------------------- */
  .btn {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
  }

    /* ---------------------
    BTN SUBMIT
    --------------------- */
    .btn--submit {
      color: #FFFFFF;
      background-color: #FFA630;
      border-bottom: 3px solid #CE8021;
      box-sizing: border-box;
    }
    .btn--submit:hover {
      margin-top: -2px;
      border-bottom: 5px solid #CE8021;
    }
    .btn--submit--lv2 {
      color: #FFFFFF;
      background-color: #005981;
      border-bottom: 3px solid #003E54;
      box-sizing: border-box;
    }
    .btn--submit--lv2:hover {
      margin-top: -2px;
      border-bottom: 5px solid #003E54;
    }
    .btn--submit:active,
    .btn--submit--lv2:active {
      margin-top: 3px;
      border-bottom: none;
    }
  /* ---------------------
  ITEM LIST LABEL
  --------------------- */
  .label_sale,
  .label_new,
  .label_few,
  .label_soon {
    position: relative;
  }
  .label_sale::before,
  .label_new::before,
  .label_few::before,
  .label_soon::before {
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 2;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-size: 0.8em;
    color: #FFFFFF;
    font-weight: bold;
  }
  .label_sale::before {
    content: "SALE";
  }
  .label_new::before {
    content: "NEW";
  }
  .label_few::before {
    content: "在庫少";
    color: #333333;
  }
  .label_soon::before {
    content: "翌日発送";
    color: #000000;
    left: 0;
  }
  .label_sale::after,
  .label_new::after,
  .label_few::after,
  .label_soon::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    border-bottom: 50px solid transparent;
    z-index: 1;
  }
  .label_sale::after {
    border-left: 50px solid #DB0909;
  }
  .label_new::after {
    border-left: 50px solid #005981;
  }
  .label_few::after {
    border-left: 50px solid #CCCCCC;
  }
  .label_soon::after {
    border-left: 50px solid #FFA630;
  }

  /* ---------------------
  RADIO BOX
  --------------------- */
  .radiobox {
    position     : relative;
    display      : inline-block;
    width: 100%;
    padding : 15px 15px 15px 25px;
    box-sizing   : border-box;
    font-size: 14px;
    overflow     : hidden;
    cursor       : pointer;
  }
  .radiobox::before {
    content  : '';
    position : absolute;
    width    : 15px;
    height   : 15px;
    left     : 0px;
    top      : 50%;
    margin-top: -7.5px;
    border   : 1px solid #EEEEEE;
    border-radius: 100%;
    z-index  : 3;
  }
  .radiobox::after {
    content           : '';
    position          : absolute;
    top               : 50%;
    left              : 0;
    display           : block;
    margin-top        : -4px;
    margin-left : 3px;
    width             : 11px;
    height            : 11px;
    background-color: #FFFFFF;
    border-radius: 100%;
    z-index           : 1;
  }
  .radiobox.is_checked::after {
    background-color: #FFA630;
  }
  .radiobox input[type="radio"]:checked {
    display: none;
  }
  .radiobox input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    position   : absolute;
    left       : -40px;
    width      : 20px;
    height     : 20px;
    display    : block;
    box-shadow : 41px 0px #FFF;
    z-index    : 2;
    margin     : 0px;
    padding    : 0px;
    opacity: 0;
  }

  /* ---------------------
  CHECK BOX
  --------------------- */
  .checkbox {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 15px 15px 25px;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .checkbox::before {
    content  : '';
    position : absolute;
    width    : 15px;
    height   : 15px;
    left     : 0px;
    top      : 50%;
    margin-top: -7.5px;
    border   : 1px solid #EEEEEE;
    z-index  : 3;
  }
  .checkbox::after {
    content           : '';
    position          : absolute;
    top               : 50%;
    left              : 0;
    display           : block;
    margin-top        : -4px;
    margin-left : 3px;
    width             : 11px;
    height            : 11px;
    z-index           : 1;
    background-color: #FFFFFF;
  }
  .checkbox.is_checked {
    color: #FFA630;
  }
  .checkbox.is_checked::after {
    background-color: #FFA630;
  }
  .checkbox + input[type="checkbox"] {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
  }
  /* ---------------------
  TEXTAREA
  --------------------- */
  .textArea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
  }

  /* ---------------------
  INPUT
  --------------------- */
  .textInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #EFEFEF;
    font-weight: lighter;
    box-sizing: border-box;
    cursor: inherit;
  }
  .selectInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #EFEFEF;
    font-weight: lighter;
    box-sizing: border-box;
  }
  .selectInput {
    background-image: url(/assets/img/common/icn/icn_select.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px 10px;
    font-size: 13px;
  }
  .textareaInput {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    resize: none;
  }
  /* ---------------------
  INPUT PLACEHOLDER
  --------------------- */
  ::-webkit-input-placeholder {
      font-size: 0.8em;
      padding-top: 3px;
  }

/*
END max width 768px :SP
///////////////////// */
}

/* =====================

OTHER PAGE LAYOUT

===================== */

@media screen and (max-width : 1200px){
  .main {
    padding: 0 12.5px;
  }
}
@media screen and (min-width : 768px){
  .pg_static {
    padding-top: 70px;
    padding-right: 15px;
    padding-bottom: 150px;
    padding-left: 15px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
  }
  .main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .main > .col_right {
    position: relative;
    width: 20%;
    max-width: 245px;
    box-sizing: border-box;
    border-left: 1px solid #EFEFEF;
    vertical-align: top;
  }
  .main > .col_left {
    width: 80%;
    max-width: 1200px;
    padding: 0 0 100px 25px;
    border-left: 1px solid #EFEFEF;
    box-sizing: border-box;
  }
  .inPage_nav li + li {
    border-top: 1px solid #EFEFEF;
  }
  .inPage_nav li a {
    display: block;
    width: 100%;
    padding: 20px 0 20px 20px;
    text-decoration: none;
    font-size: 1.1em;
    color: #333333;
    box-sizing: border-box;
  }
  .inPage_nav li a:hover {
    background-color: #FAFBFC;
    color: #FFA630;
  }

}
/*
END max width 768px :PC
///////////////////// */

/* =====================

OTHER PAGE LAYOUT(SP)

- PAGE LAYOUT
- TITLE

===================== */
@media screen and (max-width : 768px){

  /* ---------------------
  PAGE LAYOUT
  --------------------- */
  .pg_static {
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
  }
  /* ---------------------
  TITLE
  --------------------- */
  .cm_ttl_lv1 {
    font-size: 1.2rem;
    color: #333;
  }

}
/*
END max width 768px :PC
///////////////////// */
