<main class="main is_center cf">
    <section class="pg_regist">
        <h1 class="cm_ttl_lv1">登録内容の確認</h1>
        <p>入力内容をご確認ください。</p>
        {{ form_open({"class":"formRegist"}) }}
            <fieldset class="group--formItem">
                <legend class="ttl--formRegist">ユーザー情報の入力<span class="txtRequied">必須</span></legend>
                <dl class="form__item">
                    <dt>メールアドレス</dt>
                    <dd>{{ session_get("form.mail") }}</dd>
                    <dt>パスワード</dt>
                    <dd>********</dd>
                </dl>
            </fieldset>
            <section class="customerInfo">
                <fieldset class="group--formItem">
                    <legend class="ttl--formRegist">お客様情報の入力<span class="txtAny">任意</span></legend>
                    <div class="inputCustomerInfo inputCustomerInfo--confirm">
                        <dl class="form__item">
                            <dt>お名前</dt>
                            <dd>{{ session_get("form.name") }}</dd>
                            <dt>ふりがな</dt>
                            <dd>{{ session_get("form.kana") }}</dd>
                        </dl>
                        <dl class="form__item">
                            <dt>郵便番号</dt>
                            <dd>{{ session_get("form.zip") }}</dd>
                            <dt>都道府県</dt>
                            <dd>{{ session_get("form.pref") }}</dd></dd>
                        </dl>
                        <dl class="form__item form__item--col1">
                            <dt>市区町村</dt>
                            <dd>{{ session_get("form.address") }}</dd>
                        </dl>
                        <dl class="form__item form__item--col1">
                            <dt>電話番号</dt>
                            <dd>{{ session_get("form.tel") }}</dd>
                        </dl>
                    </div>
                </fieldset>
            </section>
            <p class="ruleMessage"><a href="/pc/rule/">利用規約</a>、<a href="/pc/privacy">プライバシポリシー</a> に同意のうえ、「会員登録する」をクリックしてください。</p>
            <fieldset class="group--formItem cta--regist">
                <input type="submit" value="会員登録する" class="btn cta_lv1">
            </fieldset>
            {{ form_input('mail', session_get('form.mail'), {"type":"hidden"} )}}
            {{ form_input('password', session_get('form.password'), {"type":"hidden"} )}}
            {{ form_input('name', session_get('form.name'), {"type":"hidden"} )}}
            {{ form_input('kana', session_get('form.kana'), {"type":"hidden"} )}}
            {{ form_input('zip', session_get('form.zip'), {"type":"hidden"} )}}
            {{ form_input('pref', session_get('form.pref'), {"type":"hidden"} )}}
            {{ form_input('address', session_get('form.address'), {"type":"hidden"} )}}
            {{ form_input('tel', session_get('form.tel'), {"type":"hidden"} )}}
        </form>
        <ul class="afterCaution">
            <li>※ 携帯メールアドレスをご登録いただく場合、mulkag.comからのドメイン着信許可を設定してください。</li>
            <li>※ 「会員登録する」を選択したことで、利用規約に同意されたものといたします。</li>
        </ul>
    </section>
</main>