<main class="main is_center cf">
    <article class="pg_regist">
        <h1 class="cm_ttl_lv1">新規会員登録</h1>
        <p class="regitCaution">必要事項をご入力ください。</p>

        {{ form_open({"class":"formRegist"}) }}
            <fieldset class="group--formItem">
                <legend class="ttl--formRegist">ユーザー情報の入力<span class="txtRequied">必須</span></legend>
                <dl class="form__item">
                    <dt>メールアドレス</dt>
                    <dd><input type="email" id="email" class="textInput" placeholder="info@mulkag.com" name="mail" autofocus value="{{ input_post('mail', session_get('form.mail')) }}" required></dd>
                    <dt>パスワード</dt>
                    <dd><input type="password" id="password" class="textInput" placeholder="password2016" name="password" value="hogehoge" required></dd>
                </dl>
                {% if errors %}
                <ul class="regitCaution">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <section class="customerInfo">
                <fieldset class="group--formItem">
                    <legend class="ttl--formRegist">お客様情報の入力<span class="txtAny">任意</span></legend>
                    <p class="description--customerInfo">お客様情報をご入力いただくと、商品購入画面での入力を省くことができます。</p>
                    <ul class="cautionlist--customerInfo">
                        <li>※お客様情報は登録後でもご入力いただけます。</li>
                        <li>※お客様情報はログイン後の管理画面より変更が可能です。</li>
                    </ul>
                    <p class="cta--customerInfo"><a href="#customerInfo" class="jsc_trigger_showcontent">お客様情報を入力する</a></p>
                    <div class="inputCustomerInfo">
                        <dl class="form__item">
                            <dt>お名前</dt>
                            <dd><input type="text" class="textInput" name="name" value="{{ input_post('name', session_get('form.name')) }}" placeholder="丸　家具太郎" autofocus></dd>
                            <dt>ふりがな</dt>
                            <dd><input type="text" class="textInput" name="kana" value="{{ input_post('kana', session_get('form.kana')) }}" placeholder="まる　かぐたろう"></dd>
                        </dl>
                        <dl class="form__item">
                            <dt>郵便番号</dt>
                            <dd><input type="number" class="textInput" name="zip" value="{{ input_post('zip', session_get('form.zip')) }}" placeholder="1234567"></dd>
                            <dt>都道府県</dt>
                            <dd><input type="text" class="textInput" name="pref" value="{{ input_post('pref', session_get('form.pref')) }}" placeholder="都道府県を入力してください"></dd></dd>
                        </dl>
                        <dl class="form__item form__item--col1">
                            <dt>都道府県以降の住所</dt>
                            <dd><input type="text" class="textInput" name="address" value="{{ input_post('address', session_get('form.address')) }}" placeholder="市区町村を入力してください"></dd>
                        </dl>
                        <dl class="form__item form__item--col1">
                            <dt>電話番号</dt>
                            <dd><input type="tel" class="textInput" name="tel" value="{{ input_post('tel', session_get('form.tel')) }}" placeholder="08012345678"></dd>
                        </dl>
                    </div>
                </fieldset>
            </section>
            <fieldset class="group--formItem cta--regist">
                <input type="submit" value="確認画面へ進む" class="btn cta_lv1">
            </fieldset>
        </form>
    </article>
</main>
