<main class="main is_center cf">
    <article class="pg_thanks">
        <h1 class="ttl--thanks">ようこそ、<span>MULKAG</span>へ</h1>
        <p class="catch--thanks">ご登録ありがとうございます。</p>
        <ul class="cta--thanks">
            <li><a href="/pc/" class="btn cta--gray">買い物を続ける</a></li>
            <li><a href="/pc/member/" class="btn cta_lv1">マイページへ</a></li>
        </ul>
    </article>
</main>