<!DOCTYPE html>
<html lang="ja">
  {% if uri_segment(1) == "" %}
  <head prefix="og: http://ogp.me/ns#  website: http://ogp.me/ns/website#">
  {% else %}
  <head prefix="og: http://ogp.me/ns#  article: http://ogp.me/ns/article#">
  {% endif %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,address=no,email=no">

        <!-- ▼TDK setting -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">
        <!-- ▲TDK setting -->

        <link rel="canonical" href="{{ current_url() }}">

        <!-- ▼Facebook share setting -->
        <!-- site same tags -->
        <meta property="fb:app_id" content="1870294326585957" />
        <meta property="og:site_name" content="MULKAG | マルカグ">


        {% if uri_segment(1) == "" %}
        <!-- page same tags -->
        <meta property="og:url" content="https://mulkag.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="/assets/img/common/head/ogImage.jpg">
        <!-- ▲Facebook share setting -->
        {% elseif uri_segment(1) == "detail" %}
        <!-- page same tags -->
        <meta property="og:url" content="{{ current_url() }}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="/assets/img/common/head/ogImage_detail.jpg">
        <!-- ▲Facebook share setting -->
        {% else %}
        <!-- page same tags -->
        <meta property="og:url" content="{{ current_url() }}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="/assets/img/common/head/ogImage.jpg">
        <!-- ▲Facebook share setting -->
        {% endif %}

        <!-- ▼apple touch icon setting -->
        <link rel="apple-touch-icon" href="/assets/img/common/head/ati.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/common/head/ati-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/common/head/ati-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/common/head/ati-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/common/head/ati-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/common/head/ati-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/common/head/ati-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/common/head/ati-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/common/head/ati-180x180.png">
        <!-- ▲apple touch icon setting -->

        <!-- ▼favicon setting -->
        <link rel="icon" href="/assets/img/common/head/favicon.ico">
        <!-- ▲favicon setting -->

      {{ asset_render('add_css') }}

        <!-- ▼GTM setting -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PPD35Q');</script>
        <!-- ▲GTM setting -->
    </head>
    <body class="jsc-search">
        {{ symbols }}
        <header class="header">
          <div class="header_leftCol col">
            <h1 class="header_siteTitle"><a href="{{ base_url() }}" class="sitelogo"><img src="/assets/img/common/logo_type_mark.svg" alt="MULKAG"></a></h1>
            <ul class="categoryList col is_pc">
              <li><a href="{{ base_url() }}category/sofa/">ソファ</a></li>
              <li><a href="{{ base_url() }}category/table/">テーブル</a></li>
              <li><a href="{{ base_url() }}category/chair/">チェア</a></li>
              <li><a href="{{ base_url() }}category/interior/">インテリア</a></li>
              <li><a href="{{ base_url() }}category/receipt/">収納</a></li>
            </ul>
          </div>
          <ul class="subnav col is_pc">
            <li class="postageFree">全品送料無料</li>
            <li><a href="{{ base_url() }}guide/">ご利用ガイド</a></li>
            <li class="subnav_cart"><a href="{{ base_url() }}cart/">カート</a>
                {% if carts > 0 %}
                <span class="count">{{ carts }}</span>
                {% endif %}
            </li>
          </ul>
          <a class="hamburgerMenu is_sp jsc_hamburgerMenu" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span class="hamburgerMenu_string">メニュー</span>
          </a>
          <ul class="glonav jsc_slideMenu_body is_sp">
            <li class="glonav_home is_pc"><a href="{{ base_url() }}" class="icn_home"><svg class="svgSpriteIcon icon-home"><use xlink:href="#icon-home"/></svg></a></li>
            <li class="glonav_search"><a href="{{ base_url() }}search/"><svg class="svgSpriteIcon icon-search"><use xlink:href="#icon-search"/></svg>商品を探す</a></li>
            <li><a href="{{ base_url() }}category/sofa/">ソファ</a></li>
            <li><a href="{{ base_url() }}category/table/">テーブル</a></li>
            <li><a href="{{ base_url() }}category/chair/">チェア</a></li>
            <li><a href="{{ base_url() }}category/interior/">インテリア</a></li>
            <li><a href="{{ base_url() }}category/receipt/">収納</a></li>
            <li class="glonav_guide"><a href="{{ base_url() }}guide/"><svg class="svgSpriteIcon icon-guide"><use xlink:href="#icon-guide"/></svg>ご利用ガイド</a></li>
          </ul>
        </header>
        <!-- ▼breadcrumb -->
        {% if(breadcrumbs) %}
        <div class="header_breadcrumb">
            <div class="is_center">
                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      <a href="/" itemprop="item"><span itemprop="name">TOP</span></a>
                    </li>
                    {% for breadcrumb in breadcrumbs %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {% if breadcrumb.link %}
                        <a href="{{ breadcrumb.link }}/" itemprop="item">
                          <span itemprop="name">
                          {% endif %}
                              {{ breadcrumb.name }}
                          {% if breadcrumb.link %}
                          </span>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- ▲breadcrumb -->

{{ content }}

        <footer class="footer">
            <ul class="footer__paymentLinks paymentLinks">
                <li class="icn_visa" title="VISA"><svg class="svgSpriteIcon"><use xlink:href="#icon-pay_visa"/></svg></li>
                <li class="icn_master" title="Master"><svg class="svgSpriteIcon"><use xlink:href="#icon-pay_master"/></svg></li>
                <li class="icn_jcb" title="JCB"><svg class="svgSpriteIcon"><use xlink:href="#icon-pay_jcb"/></svg></li>
                <li class="icn_ae" title="AmericanExpress"><svg class="svgSpriteIcon"><use xlink:href="#icon-pay_amex"/></svg></li>
                <li class="icn_din" title="DINERS"><svg class="svgSpriteIcon"><use xlink:href="#icon-pay_din"/></svg></li>
            </ul>
            <div class="footer__inner">
                <section class="footerGroup footerGroup--searchItems is_pc">
                    <h3 class="ttl--footer">Search Items</h3>
                    <ul class="footer_links searchItemsLinks">
                        <li><a href="{{ base_url() }}search">すべての商品から探す</a></li>
                        <li><a href="{{ base_url() }}category/sofa/">ソファを探す</a></li>
                        <li><a href="{{ base_url() }}category/table/">テーブルを探す</a></li>
                        <li><a href="{{ base_url() }}category/chair/">チェアーを探す</a></li>
                        <li><a href="{{ base_url() }}category/interior/">インテリアを探す</a></li>
                        <li><a href="{{ base_url() }}category/receipt/">収納を探す</a></li>
                    </ul>
                </section>
                <section class="footerGroup footerGroup--searchItems is_pc">
                    <h3 class="ttl--footer"><a href="{{ base_url() }}brandInfo/">Brands</a></h3>
                    <ul class="footer_links searchItemsLinks">
                      <li><a href="{{ base_url() }}brand/halo/">HALO</a></li>
                      <li><a href="{{ base_url() }}brand/bina/">bina</a></li>
                      <li><a href="{{ base_url() }}brand/dbodhi/">dbodhi</a></li>
                      <li><a href="{{ base_url() }}brand/metalsistem/">METALSISTEM</a></li>
                    </ul>
                </section>
                <section class="footerGroup footerGroup--siteInfo">
                    <h3 class="ttl--footer">site information</h3>
                    <ul class="footer_links siteInfoLinks">
                        <li><a href="{{ base_url() }}guide/">ご利用ガイド</a></li>
                        <li><a href="{{ base_url() }}/static/rule">ご利用規約</a></li>
                        <li><a href="{{ base_url() }}/static/privacy">プライバシーポリシー</a></li>
                        <li><a href="{{ base_url() }}/static/sct">特定商取引に基づく表示</a></li>
                        <li><a href="{{ base_url() }}/static/sct">運営者情報</a></li>
                        <li><a href="{{ base_url() }}/contact">お問い合わせ</a></li>
                        <li><a href="{{ base_url() }}/static/sitemap">サイトマップ</a></li>
                    </ul>
                </section>
            </div>
            <p class="copyright"><small>&copy; 2017 MULKAG</small></p>
        </footer>
        {{ asset_js('plugins/jquery-2.2.0.min.js') }}
        {{ asset_render('add_js') }}
        <!-- ▼GTM -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPD35Q"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- ▲GTM -->

        {% if uri_segment(1) == "detail" %}
        <!-- ▼JSON-LD -->
        <script type="application/ld+json">
          {
              "@context": "http://schema.org",
              "@type": "Product",
              "url": "https://mulkag.com/",
              "category": "{{ reset(item.categories, 'name') }}",
              "brand": "{{ item.bland.name }}",
              "name": "{{ item.name }}",
              "description": "{{ description }}",
              "releaseDate": "{{ item.created_at|date('Y-m-d') }}",
              "image": "{{ base_url() }}assets/img/items/{{ item.id }}/{{reset(item.photos, 'photo')}}",
              "width": "{{ item.size_w }}",
              "height": "{{ item.size_h }}",
              "weight": "{{ item.size_d }}",
              "color": "{{ reset(item.colors, 'name') }}",
              "url": "https://mulkag.com/detail/{{ item.id }}/",
              "offers": {
                  "@context": "http://schema.org",
                  "@type": "Offer",
                  "price": "{{ (item.multina_price * tax) | number_format(1) }}",
                  "priceCurrency": "JPY"
              }
          }
          </script>
          <!-- ▲JSON-LD -->
          {% endif %}
    </body>
</html>
