		<main class="main is_center">
			<article>
				<section class="col_left">
					<h1 class="cm_ttl_lv1">チャット</h1>
					<section>
						<ul class="chatList">
							<li>
								<dl class="chatItem chatItem--guest">
									<dt class="userName--chatItem">ゲスト様</dt>
									<dd class="date--chatItem">2016.00.00</dd>
									<dd class="message-chatItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
								</dl>
								<ul class="care--chatItem">
									<li><input type="submit" value="修正"></li>
									<li><input type="submit" value="削除"></li>
								</ul>
							</li>
							<li>
								<dl class="chatItem chatItem--mulkag">
									<dt class="userName--chatItem">MULKAG</dt>
									<dd class="date--chatItem">2016.00.00</dd>
									<dd class="message-chatItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
								</dl>
								<ul class="care--chatItem">
									<li><input type="submit" value="修正"></li>
									<li><input type="submit" value="削除"></li>
								</ul>
							</li>
							<li>
								<dl class="chatItem chatItem--mulkag">
									<dt class="userName--chatItem">MULKAG</dt>
									<dd class="date--chatItem">2016.00.00</dd>
									<dd class="message-chatItem">
										<textarea name="" id="" cols="30" rows="10" class="textareaInput">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</textarea>
									</dd>
								</dl>
								<ul class="care--chatItem">
									<li><input type="submit" value="保存" class="btn_save"></li>
								</ul>
							</li>
						</ul>
					</section>
					<section class="inputChat">
						<textarea name="" id="" cols="30" rows="10" class="textareaInput"></textarea>
						<p class="cta--inputChat"><input type="submit" class="btn cta_lv1" value="送信"></p>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}member/">マイページTOP</a></li>
						<li><a href="{{ base_url() }}favorite/">お気に入りリスト</a></li>
						<li><a href="{{ base_url() }}cart/" target="_blank">カートの中身</a></li>
						<li><a href="{{ base_url() }}member/chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況の確認</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
					</ul>
				</section>
			</article>
		</main>