		<main class="main is_center">
			<article>
				<section class="col_left">
					<h1 class="cm_ttl_lv1">ご注文履歴</h1>
					<table class="history history--memberHistory">
						<thead>
							<tr>
								<th class="history__head head__date">ご購入年月日</th>
								<th class="history__head headName">ご購入商品</th>
								<th class="history__head headCount">個数</th>
								<th class="history__head head__review">レビュー</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2016.00.00</td>
								<td>
									<a href="" class="itemInfo itemInfo--history cf">
										<p class="itemInfo__image"><img src="/assets/img/sample_75-75.png"></p>
										<dl class="itemInfo__txt">
											<dt class="itemInfo__brand">ブランド名</dt>
											<dd class="itemInfo__itemName">商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。</dd>
										</dl>
									</a>
								</td>

								<td>9999個</td>
								<td><a href="#" class="itemReview">レビューを書く</a></td>
							</tr>
							<tr>
								<td>2016.00.00</td>
								<td>
									<a href="" class="itemInfo itemInfo--history cf">
										<p class="itemInfo__image"><img src="/assets/img/sample_75-75.png"></p>
										<dl class="itemInfo__txt">
											<dt class="itemInfo__brand">ブランド名</dt>
											<dd class="itemInfo__itemName">商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。</dd>
										</dl>
									</a>
								</td>

								<td>9999個</td>
								<td><a href="#" class="itemReview is_active">レビュー済み</a></td>
							</tr>
							<tr>
								<td>2016.00.00</td>
								<td>
									<a href="" class="itemInfo itemInfo--history cf">
										<p class="itemInfo__image"><img src="/assets/img/sample_75-75.png"></p>
										<dl class="itemInfo__txt">
											<dt class="itemInfo__brand">ブランド名</dt>
											<dd class="itemInfo__itemName">商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。</dd>
										</dl>
									</a>
								</td>
								<td>9999個</td>
								<td><a href="#" class="itemReview">レビューを書く</a></td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}member/">マイページTOP</a></li>
						<li><a href="{{ base_url() }}favorite/">お気に入りリスト</a></li>
						<li><a href="{{ base_url() }}cart/" target="_blank">カートの中身</a></li>
						<li><a href="{{ base_url() }}member/chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況の確認</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
					</ul>
				</section>
			</article>
		</main>