		<main class="main is_center">
			<article>
				<section class="col_left">
					<div class="memberHeader cf">
						<h1 class="cm_ttl_lv1">テスト様</h1>
					</div>
					<div class="memberCard">
						<div class="info--memberCard">
							<figure class="thumb--memberCard">
								<img src="/assets/img/sample400-400.png" alt="">
							</figure>
						</div>
						<div class="subInfo--memberCard">
							<dl class="possetion--memberCard memberCard03">
								<dt>保有ポイント</dt>
								<dd><span>999,999,999</span>ポイント</dd>
							</dl>
						</div>
					</div>
					<dl class="addItems addItems--memberIndex">
						<dt class="addItems__cart">カートの中身</dt>
						<dd><a href="{{ base_url() }}cart/"><span class="addItems__count">999,999,999</span>点</a></dd>
						<dt class="addItems__favorite">お気に入りリスト</dt>
						<dd><a href="{{ base_url() }}favorite/"><span class="addItems__count">999,999,999</span>点</a></dd>
					</dl>
					<ol class="statusAlert statusAlert--memberIndex">
						<li class="statusAlert__item">
							<dl>
								<dd><a href="{{ base_url() }}member/status" class="statusAlert__count">999,999,999</a></dd>
								<dt class="statusAlert__check">在庫確認中</dt>
							</dl>
						</li>
						<li class="statusAlert__item">
							<dl>
								<dd><a href="{{ base_url() }}member/status" class="statusAlert__count">999,999,999</a></dd>
								<dt class="statusAlert__pay">お支払い待ち</dt>
							</dl>
						</li>
						<li class="statusAlert__item">
							<dl>
								<dd><a href="{{ base_url() }}member/status" class="statusAlert__count">999,999,999</a></dd>
								<dt class="statusAlert__ready">発送準備中</dt>
							</dl>
						</li>
						<li class="statusAlert__item">
							<dl>
								<dd><a href="{{ base_url() }}member/status" class="statusAlert__count">999,999,999</a></dd>
								<dt class="statusAlert__done">発送済み</dt>
							</dl>
						</li>
					</ol>
					<ul class="setting setting--memberIndex">
						<li class="setting__history"><a href="/pc/member/history.html">ご注文履歴</a></li>
						<li class="setting__info"><a href="/pc/member/info.html">会員情報</a></li>
						<li class="setting__pay"><a href="/pc/member/info.html#paySetting">お支払い＆クレジットカード情報の設定</a></li>
					</ul>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}member/">マイページTOP</a></li>
						<li><a href="{{ base_url() }}favorite/">お気に入りリスト</a></li>
						<li><a href="{{ base_url() }}cart/" target="_blank">カートの中身</a></li>
						<li><a href="{{ base_url() }}member/chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/chat" class="is_chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況の確認</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
					</ul>
				</section>
			</article>
		</main>