		<main class="main is_center">
			<article>
				<section class="col_left">
					<h1 class="cm_ttl_lv1">ご登録情報</h1>
					<section class="sec--memberInfo">
						<h2 class="cm_ttl_lv2">アカウント情報</h2>
						<table class="info__required required--memberInfo">
							<tbody>
								<tr>
									<th>メールアドレス</th>
									<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@gmail.com</td>
									<th>パスワード</th>
									<td>xxxxxxxxxx</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="sec--memberInfo">
						<h2 class="cm_ttl_lv2">お客様詳細情報</h2>
						<table class="info__detail detail--memberInfo">
							<tbody>
								<tr>
									<th>お名前</th>
									<td><input type="text" class="textInput" value="" placeholder="姓名"></td>
									<th>フリガナ</th>
									<td><input type="text" class="textInput" value="" placeholder="フリガナ"></td>
								</tr>
								<tr>
									<th>郵便番号</th>
									<td><input type="number" class="textInput" placeholder="ハイフンなし数字7桁"></td>
									<th>都道府県</th>
									<td><input type="text" class="textInput" placeholder="都道府県名を入力してください"></td>
								</tr>
								<tr>
									<th>市区町村</th>
									<td><input type="text" class="textInput" placeholder="市区町村を入力してください"></td>
									<th>市区町村以下</th>
									<td><input type="text" class="textInput" placeholder="市区町村以下を入力してください"></td>
								</tr>
								<tr>
									<th>電話番号</th>
									<td><input type="number" class="textInput" placeholder="08012345678"></td>
									<th>メールアドレス</th>
									<td><input type="email" class="textInput" placeholder="info@mulkag.com"></td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="sec--memberInfo paySetting">
						<h2 class="cm_ttl_lv2">お支払方法</h2>
						<div class="paySetting__inner">
							<ul class="list--paySetting">
								<li>
									<label class="radiobox">
										<input type="radio" name="hugahuga" value="hoge">クレジットカード決済
									</label>
									<div class="detail--paySetting credit is_active">
										<p>最終確認後、カード情報をご入力ください。</p>
										<ul class="caution--detail">
											<li>※お支払い回数：一括払いとなります。</li>
											<li>※最終確認後、決済ページにてお支払いを行っていただきます。</li>
										</ul>
									</div>
								</li>
								<li>
									<label class="radiobox">
										<input type="radio" name="hugahuga" value="hoge">銀行決済
									</label>
									<div class="detail--paySetting bank">
										<p>
										ご注文後、入金確認ができない場合でも在庫確認工程に進みます。<br>
										在庫確保後は、キャンセルできませんので、予めご注意ください。
										</p>
										<ul class="caution--detail">
											<li>※振り込み手数料はお客様にてご負担ください。</li>
											<li>※下記に、「お振込名義」と「振込予定日」をご記入ください。</li>
											<li>※お振り込み頂き、入金確認後に商品を発送いたします。</li>
										</ul>
										<ul class="inputPaysetting">
											<li>
												<dl>
													<dt>お振込名義</dt>
													<dd><input type="text" class="textInput" value="" placeholder="お振込名義を入力してください"></dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>振込予定日</dt>
													<dd><input type="text" class="textInput" value="" placeholder="振込予定日を入力してください"></dd>
												</dl>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<label class="radiobox">
										<input type="radio" name="hugahuga" value="hoge">楽天ID決済
									</label>
									<div class="detail--paySetting rakuten">
										<p>
										ご利用に応じて楽天スーパーポイントが付与されます。<br>
										また、楽天スーパーポイントを貯めることもできます。
										</p>
										<ul class="caution--detail">
											<li>※お支払い回数：一括払いとなります。</li>
											<li>※こちらを選択した場合、MULKAGポイントは付与されません。</li>
											<li>※最終確認後、決済ページにてお支払いを行っていただきます。</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</section>
					<section class="sec--flowSetting">
						<h2 class="cm_ttl_lv2">在庫確認後の手続きの設定</h2>
						<table class="flowSetting">
							<tbody>
								<tr>
									<th>在庫があった場合</th>
									<td class="txt--flowSetting">商品が確保出来次第、自動的に決済となります。</td>
								</tr>
								<tr>
									<th rowspan="2">在庫がなかった場合</th>
									<td>
										<label class="radiobox">
											<input type="radio" name="hugahuga" value="hoge">キャンセルする
										</label>
										<div class="cancel detailSetting--flowSetting is_active">
											<p class="txt-detailSetting">
												在庫確認後、自動的にご注文はキャンセルとなります。
											</p>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<label class="radiobox">
											<input type="radio" name="hugahuga" value="hoge">商品の入荷を待つ
										</label>
										<div class="wait detailSetting--flowSetting">
											<p class="txt-detailSetting">
												在庫確認後、「入荷予定日」と「商品発送予定日」を記載したメッセージをお送りいたします。<br>
												こちらを選択の場合、「商品予約しましたよメール」のご連絡を持って注文確定となります。<br>
												「商品予約しましたよメール」後はキャンセルはできませんのでご注意ください。
											</p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<p class="cta--memberInfo"><input type="submit" value="反映する" class="btn--submit btn--submit--memberInfo"></input></p>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}member/">マイページTOP</a></li>
						<li><a href="{{ base_url() }}favorite/">お気に入りリスト</a></li>
						<li><a href="{{ base_url() }}cart/" target="_blank">カートの中身</a></li>
						<li><a href="{{ base_url() }}member/chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況の確認</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
					</ul>
				</section>
			</article>
		</main>