		<main class="main is_center">
			<article>
				<section class="col_left">
					<h1 class="cm_ttl_lv1">ご注文状況のご確認</h1>
					<table class="status status--memberStatus">
						<thead>
							<tr>
								<th class="status__head headName">ご購入商品</th>
								<th class="status__head headCount--memberStatus">個数</th>
								<th class="status__head headCancel">キャンセル</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="" class="itemInfo itemInfo--status cf">
										<p class="itemInfo__image itemInfo__image--memberStatus"><img src="/assets/img/sample_75-75.png"></p>
										<dl class="itemInfo__txt">
											<dt class="itemInfo__brand">ブランド名</dt>
											<dd>商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。商品名が入ります。</dd>
										</dl>
									</a>
								</td>
								<td>999,999,999個</td>
								<td><a href="" class="itemInfo__cancel">キャンセル</a></td>
							</tr>
							<tr>
								<td colspan="3">
									<ol class="orderFlow">
										<li class="orderFlow__check"><a href="#" class=" is_active">在庫確認中</a></li>
										<li class="orderFlow__pay"><a href="#" class="">お支払待ち</a></li>
										<li class="orderFlow__ready"><a href="#" class="">発送準備中</a></li>
										<li class="orderFlow__done"><a href="#" class="">発送済み</a></li>
									</ol>
								</td>
							</tr>
							<tr>
								<td colspan="3" class="status__message">
									<dl>
										<dt>
											<time>2016.00.00</time>
										</dt>
										<dd>
											テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
										</dd>
									</dl>
									<dl>
										<dt>
											<time>2016.00.00</time>
										</dt>
										<dd>
											テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
										</dd>
									</dl>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}member/">マイページTOP</a></li>
						<li><a href="{{ base_url() }}favorite/">お気に入りリスト</a></li>
						<li><a href="{{ base_url() }}cart/" target="_blank">カートの中身</a></li>
						<li><a href="{{ base_url() }}member/chat">チャット</a></li>
						<li><a href="{{ base_url() }}member/status">ご注文状況の確認</a></li>
						<li><a href="{{ base_url() }}member/history">ご注文履歴</a></li>
						<li><a href="{{ base_url() }}member/info">ご登録情報</a></li>
					</ul>
				</section>
			</article>
		</main>