<main class="pg_contact pg_contact--confirm cf">
    <article>
        <h1 class="cm_ttl_lv1">お問い合わせ</h1>
        <ul class="inquiryList jsc_inquiryList">
            <li>
                <label class="radiobox is_checked">
                    <input type="radio" name="inquiry" value="formPatternA">お問い合わせ
                </label>
            </li>
        </ul>

        {{ form_open({'class': 'form--contact'}) }}
            </fieldset>
            <fieldset class="formGroup formGroup_name">
                <dl class="formItem">
                    <dt><legend>お名前</legend></dt>
                    <dd>{{ session_get('contact.name') }}</dd>
                </dl>
            </fieldset>
            <fieldset class="formGroup formGroup_mail">
                <dl class="formItem">
                    <dt><legend>メールアドレス</legend></dt><!--
                    --><dd>{{ session_get('contact.mail') }}</dd>
                </dl>
            </fieldset>
            {% if(session_get('contact.tracking_number')) %}
            <fieldset class="formGroup formGroup_itemNumber">
                <dl class="formItem">
                    <dt><legend>お問い合わせ番号やご注文番号</legend></dt><!--
                    --><dd>{{ session_get('contact.tracking_number') }}</dd>
                </dl>
            </fieldset>
            {% endif %}

            {% if(session_get('contact.order_number')) %}
            <fieldset class="formGroup formGroup_orderNumber">
                <dl class="formItem">
                    <dt><legend>ご注文番号</legend></dt><!--
                    --><dd>{{ session_get('contact.order_number') }}</dd>
                </dl>
            </fieldset>
            {% endif %}
            <fieldset class="formGroup formGroup_freeText">
                <dl class="formItem formItem--col1">
                    <dt><legend>お問い合わせ内容</legend></dt><!--
                    --><dd>{{ session_get('contact.content') | nl2br }}</dd>
                </dl>
            </fieldset>
            {% if(session_get('contact.note')) %}
            <fieldset class="formGroup formGroup_subText">
                <dl class="formItem formItem--col1">
                    <dt><legend>備考</legend></dt><!--
                    --><dd>{{ session_get('contact.note') | nl2br }}</dd>
                </dl>
            </fieldset>
            {% endif %}
            {% if(session_get('contact.file')) %}
            <fieldset class="formGroup formGroup_subText">
                <dl class="formItem formItem--col1">
                    <dt><legend>対象画像の添付</legend></dt><!--
                    --><dd><img src="{{ base_url() }}tmp/{{ session_get('contact.file') }}"</dd>
                </dl>
            </fieldset>
            {% endif %}
            <p class="contactCaution"><a href="/pc/rule/">利用規約</a>、<a href="/pc/privacy">プライバシポリシー</a> に同意のうえ、<br class="is_sp">「送信する」をクリックしてください。</p>
            <fieldset class="formGroup">
                <p class="cta--contact"><input type="submit" value="送信する" class="btn cta_lv1"></p>
            </fieldset>
            <input type="hidden" name="category" value="{{ session_get('contact.category') }}">
            <input type="hidden" name="name" value="{{ session_get('contact.name') }}">
            <input type="hidden" name="mail" value="{{ session_get('contact.mail') }}">
            <input type="hidden" name="content" value="{{ session_get('contact.content') }}">
            <input type="hidden" name="tracking_number" value="{{ session_get('contact.tracking_number') }}">
            <input type="hidden" name="order_number" value="{{ session_get('contact.order_number') }}">
            <input type="hidden" name="photo" value="{{ session_get('contact.photo') }}">
            <input type="hidden" name="note" value="{{ session_get('contact.note') }}">
            <input type="hidden" name="file" value="{{ session_get('contact.file') }}">
        </form>
    </article>
</main>
