<main class="pg_contact cf">
<article>
<h1 class="cm_ttl_lv1">お問い合わせ</h1>
{{ form_open({'class':'form--contact jsc-form--contact', 'enctype': 'multipart/form-data'}) }}

    {% if errors %}
    <ul class="regitCaution">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <fieldset class="formGroup formGroup_name">
        <dl class="formItem">
            <dt><legend>お名前</legend></dt>
            <dd><input value="{{ input_post('name', session_get('contact.name')) }}" name="name"  type="text" class="textInput" placeholder="お名前を入力してください" autofocus  required></dd>
        </dl>
    </fieldset>
    <fieldset class="formGroup formGroup_mail">
        <dl class="formItem">
            <dt><legend>メールアドレス</legend></dt>
            <dd><input value="{{ input_post('mail', session_get('contact.mail')) }}" name="mail"  type="email" class="textInput" placeholder="メールアドレスを入力してください"  required></dd>
        </dl>
    </fieldset>
    <fieldset class="formGroup formGroup_itemNumber">
        <dl class="formItem">
            <dt><legend>お問い合わせ番号</legend></dt>
            <dd><input name="tracking_number" type="number" value="{{ input_post('tracking_number', session_get('contact.tracking_number', uri_segment(2))) }}" class="textInput" placeholder="お問い合わせ番号は各商品ページに記載されています" ></dd>
        </dl>
    </fieldset>
    <fieldset class="formGroup formGroup_freeText">
        <dl class="formItem formItem--col1">
            <dt><legend>お問い合わせ内容</legend></dt>
            <dd><textarea name="content" id="" cols="30" rows="10" class="textareaInput textareaInput--regist"></textarea></dd>
        </dl>
    </fieldset>
    <fieldset class="formGroup">
        <p class="cta--contact"><input type="submit" value="確認画面へ進む" class="btn cta_lv1"></p>
    </fieldset>
</form>
</article>
</main>
