        <main class="pg_contact cf">
            <article>
                <h1 class="thanksMessage">お問い合わせありがとうございます。</h1>
                <p class="thanksSubMessage">後ほど、担当者よりご連絡をさせていただきます。</p>
                <p class="thanksSubMessage">今しばらくお待ちくださいますようよろしくお願い申し上げます。</p>
                <p class="thanksSubMessage">なお、しばらくたってもMULKAGより返信がない場合は、<br>お客様によりご入力いただいたメールアドレスに誤りがある場合がございます。<br>その際は、お手数ですが再度送信いただけますようお願い申しあげます。</p>
            </article>
        </main>
