<main class="pg_login" id="particles-js">
  <div class="pg_login_inner">
    <div class="messageArea fuwat">
      <h2 class="messageArea_ttl">welcome back</h2>
      <p class="messageArea_txt">ログインしてください。</p>
    </div>
    <div class="InputUserInfo">
      <div class="InputUserInfo_inner">
        {{ form_open() }}
          {% if errors %}
          <ul class="regitCaution">
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}

          <ul class="loginItem">
              <li><input name="mail" type="email" class="textInput" placeholder="メールアドレスを入力してください"></li>
              <li><input name="password" type="password" class="textInput" placeholder="パスワードを入力してください"></li>
          </ul>
          <a href="" class="forgetPass">パスワードを忘れた方</a>
          <p class="cta--login"><input type="submit" value="ログイン" class="btn cta_lv2"></p>
      </form>
    </div>
  </div>
</div>
</main>
<script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>
