    <main class="pg_404" id="particles-js">
      <section class="sec_countdown">
        <div class="countdown_inner">
          <h1 class="countdown_ttl"><span>404</span>ERROR</h1>
          <p class="catchcopy">申し訳ございません。<br>お探しのページは見つかりませんでした。</p>
          <ul class="nextActionList">
            <li><a href="{{ base_url() }}">TOPへ戻る</a></li>
            <li><a href="{{ base_url() }}search/">商品を探す</a></li>
          </ul>
        </div>
      </section>
    </main>
    <script type="text/javascript" src="/assets/js/plugins/particles.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/particles_controller.js"></script>