/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, nav, section, summary,
time, mark, audio, video, textarea, input {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 12px;
    vertical-align:baseline;
    background:transparent;
    font-family: meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
}
html {
    font-size: 12px;
}
body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
li {
  list-style-type: none;
}
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, button, textarea, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* =====================

COLLECTION PAGE STYLING

PC
SP

===================== */


/* /////////////////////

PC

///////////////////// */
@media (min-width : 650px){

.contentsWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(/assets/img/pg_collection/160901/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.collectionInfo {
    width: 440px;
    padding: 40px 20px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0.9;
    float: left;
}
.collectionInfo__title {}
.collectionInfo__title > img {
    width: 400px;
}
.collectionInfo__description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #231815;
}

.collectionItem {
    float: right;
    width: 420px;
    height: 100vh;
    padding: 15px 0;
    background-color: #fff;
}
.collectionItem__list {
    /*padding: 15px 0;*/
}
.collectionItem__list > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
}
.collectionItem__list > li > a > dl {
    overflow: hidden;
}
.collectionItem__list > li > a > dl > dt {
    width: 205px;
    padding-left: 20px;
    box-sizing: border-box;
    float: right;
    clear: right;
    font-size: 16px;
    line-height: 1.5;
}
.collectionItem__list > li > a > dl:hover > dt {
    color: #FFA630;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}
.collectionItem__list > li > a > dl > dd {
    width: 150px;
    float: left;
    word-break: break-all;
}
.collectionItem__list > li > a > dl > dd > img {
    width: 100%;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    transition: transform 0.3s linear;
}
.collectionItem__list > li > a > dl:hover > dd > img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.03);
}

.ctaMessage {
    margin-top: 35px;
    text-align: center;
    line-height: 1.5;
    font-size: 12px;
}
.ctaBtn {
    display: block;
    width: 320px;
    padding: 20px 0;
    margin: 20px auto;
    border-bottom: 3px solid #CE8021;
    background-color: #FFA630;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
/*
END max width 980px :TABLET
///////////////////// */
}

/* /////////////////////

PC

///////////////////// */
@media (max-width : 650px){
.collectionInfo {
}
.collectionInfo__title {
  position: relative;
  width: 100%;
  height: 80vh;
  line-height: 80vh;
  background-image: url(/assets/img/pg_collection/160901/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.collectionInfo__title > img {
  position: inherit;
  width: 60%;
}
.collectionInfo__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
}
.collectionInfo__description {
  padding: 0 15px;
  margin-top: 15px;
  font-size: 1.2rem;
  color: #333;
  font-weight: lighter;
  line-height: 1.5;
}
.collectionItem {
  margin-top: 15px;
}
.collectionItem__list {
  display: flex;
  flex-wrap: wrap;
}
.collectionItem__list > li {
  width: 50%;
}
.collectionItem__list > li > a {
  display: block;
  width: 100%;
  color: #333;
  text-decoration: none;
}
.collectionItem__list > li > a > dl {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;
}
.collectionItem__list > li > a > dl > dt {
  margin-top: 10px;
  text-align: center;
}
.collectionItem__list > li > a > dl > dd {
  text-align: center;
}
.collectionItem__list > li > a > dl > dd > img {
  width: 80%;
}
.ctaMessage {
  margin-top: 30px;
  text-align: center;
}
.ctaBtn {
  display: block;
  padding: 20px;
  margin: 15px 15px 60px 15px;
  border-radius: 30px;
  background-color: #ffa630;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
/*
END max width 980px :TABLET
///////////////////// */
}
