<main class="is_center cf">
    <article class="shoppingCart shoppingCart_confirm jsc-changeItemScore">
        <span class="p-country-name" style="display:none;">Japan</span>
            <section class="InputArea" id="InputArea">
              <form id="cartForm" action="/cart/thanks" class="h-adr" method="post">
                <h1 class="ttl--InputArea">ご注文内容の確認</h1>

                <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>1</span>ご注文商品</h2>
                    <table class="cart">
                        <thead>
                            <tr>
                                <th class="cart__head headName">ご購入商品</th>
                                <th class="cart__head headCount">個数</th>
                                <th class="cart__head headPrice">価格</th>
                                <th class="cart__head headPostage">配送方法</th>
                                <th class="cart__head headPostage">送料</th>
                                <th class="cart__head headPrice">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>
                                    <a href="{{ base_url() }}detail/{{item.detaile.id}}" class="itemInfo cf">
                                        <p class="itemInfo__image"><img src="{{ base_url() }}assets/img/items/{{ item.detaile.id }}/thumbnail.jpg"></p>
                                        <dl class="itemInfo__txt">
                                            <dt class="itemInfo__brand">
                                                {{ item.detaile.name }}
                                            </dt>
                                            <dd class="itemInfo__color">
                                                {{ item.color.name }}
                                            </dd>
                                        </dl>
                                    </a>
                                </td>
                                <td>{{ item.number }}</td>
                                <td class="is_pc_show">
                                    {{ item.price | number_format }}円
                                </td>
                                {#配送方法#}
                                <td class="is_pc_show">
                                    {{ item.send.carrier_method.name }}
                                </td>
                                <td class="is_pc_show">
                                    <span class="jsc-cart-postage">{{ item.send.price|number_format }}</span>円
                                </td>
                                <td>
                                    <span class="jsc-cart-smallprice">{{ (item.price * item.number + item.send.price * item.number) | number_format }}</span>円
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="payment payment--shoppingCart">
                        <dl class="payment__item">
                            <dt>合計アイテム数</dt>
                            <dd><span class="payment__count jsc-cart-total-number">{{ total_number }}</span>点</dd>
                        </dl>
                        <dl class="payment__item">
                            <dt>送料</dt>
                            <dd>税込<span class="payment__count jsc-cart-total-send-price">{{ total_send_price }}</span>円</dd>
                        </dl>
                        <dl class="payment__item">
                            <dt>合計金額</dt>
                            <dd>
                                税込<span class="payment__count jsc-cart-total-price">{{ (total_price + total_send_price) | number_format }}</span>円
                            </dd>
                        </dl>
                    </div>
                </section>
                <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>2</span>お客様情報</h2>
                    <div class="registInfo cf">
                      <dl class="registInfo__parts">
                        <dt>お名前</dt>
                        <dd>{{ orderer.name }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>ふりがな</dt>
                        <dd>{{ orderer.kana }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>郵便番号</dt>
                        <dd>{{ orderer.zip }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>都道府県</dt>
                        <dd>{{ orderer.pref }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>市区町村</dt>
                        <dd>{{ orderer.city }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>市区町村以下</dt>
                        <dd>{{ orderer.address-etc }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>電話番号</dt>
                        <dd>{{ orderer.tel }}</dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>メールアドレス</dt>
                        <dd>{{ orderer.mail }} </dd>
                      </dl>
                    </div>
                </section>
                <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>3</span>お支払い方法</h2>
                    <div class="choiseBox jsc-choiseBox">
                      <ul class="choiseBox_radioList">
                        <li>
                          <input type="radio" value="" name="payment" id="paymentA" data-detailtype="detailTypeA">
                          <label for="paymentA" name="payment">クレジットカード or コンビニ</label>
                        </li>
                        <li>
                          <input type="radio" value="" name="payment" id="paymentB" data-detailtype="detailTypeB" checked="checked">
                          <label for="paymentB" name="payment">銀行振込み</label>
                        </li>
                      </ul>
                      <div class="choiseBox_detail">
                        <div class="choiseBox_detail_contents detailTypeA">
                          <p class="choiseBox_detail_caption">MULKAGでは、安心してお買い物していただくために、決済をGMOイプシロンへ委託しております。<br>決済には下記のクレジットカードまたはコンビニをご利用いただけます。</p>
                          <ul class="choiseBox_detail_links paymentLinks">
                            <li class="icn_visa" title="VISA"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_visa"></use></svg></li>
                            <li class="icn_master" title="Master"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_master"></use></svg></li>
                            <li class="icn_jcb" title="JCB"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_jcb"></use></svg></li>
                            <li class="icn_ae" title="AmericanExpress"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_amex"></use></svg></li>
                            <li class="icn_din" title="DINERS"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_din"></use></svg></li>
                          </ul>
                          <ul class="choiseBox_detail_links storeLinks">
                              <li class="icn_storeF" title="ファミリーマート">ファミリーマート</li>
                              <li class="icn_storeR" title="ローソン">ローソン</li>
                              <li class="icn_storeS" title="セイコーマート">セイコーマート</li>
                              <li class="icn_storeK" title="サークルK">サークルK</li>
                              <li class="icn_storeT" title="サンクス">サンクス</li>
                              <li class="icn_storeM" title="ミニストップ">ミニストップ</li>
                          </ul>
                          <p class="choiseBox_detail_caution">※決済にあたり、必ず<a href="/guide/pay.html" class="icn_link">お支払いについて</a>をご一読ください。</p>
                        </div>
                        <div class="choiseBox_detail_contents detailTypeB">
                          <p class="choiseBox_detail_caption">在庫が確保出来次第、「決済申請メール」にて購入金額のお支払いのお知らせをいたします。<br>下記の銀行口座へお振込みください。</p>
                          <table>
                            <tr>
                              <th>銀行名</th>
                              <th>支店名/店番号</th>
                              <th>口座番号</th>
                              <th>名義</th>
                            </tr>
                            <tr>
                              <td>住信SBIネット銀行</td>
                              <td>ブドウ支店/102</td>
                              <td>5350899</td>
                              <td>タケダタクヤ</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>4</span>オプションの設定</h2>
                    <ul class="optionList">
                      <li>
                        <label for="autoOrder" class="checkbox">自動発注処理を希望する</label>
                        <input type="checkbox" id="autoOrder" value="">
                      </li>
                    </ul>
                </section> -->
                <div class="ctaBlock">
                    {% for key, post in posts %}
                      {% for i, data in post %}
                        <input type="hidden" name="{{ key }}[{{ i }}]" value="{{ data }}">
                      {% endfor %}
                    {% endfor %}
                    {% for key, data in orderer %}
                        <input type="hidden" name="{{ key }}" value="{{ data }}">
                    {% endfor %}
                    <p class="ctaBlock__cta"><input type="submit" class="btn cta_lv1" value="注文する"></p>
                </div>
              </form>
              {{ form_open("cart/confirm", {}) }}
                <input type="hidden" name="is_return" value="1">
                {% for key, post in posts %}
                  {% for i, data in post %}
                    <input type="hidden" name="{{ key }}[{{ i }}]" value="{{ data }}">
                  {% endfor %}
                {% endfor %}
                {% for key, data in orderer %}
                    <input type="hidden" name="{{ key }}" value="{{ data }}">
                {% endfor %}
                <p class="ctaBlock__back"><input type="submit" class="btn_back" value="戻る"></p>
              </form>
            </section>

    </article>
</main>
