<main class="is_center cf">
    <article class="shoppingCart jsc-changeItemScore">
        <form id="cartForm" action="/cart/confirm" class="h-adr" method="post">
        <span class="p-country-name" style="display:none;">Japan</span>
            <h1 class="cm_ttl_lv1">ショッピングカート</h1>
            <section class="sec--shoppingCart">
              {% if(items|length < 1) %}
                カートに商品が入っておりません
              {% else %}
                <h2 class="cm_ttl_lv2">購入する商品を選択する</h2>
                <table class="cart">
                    <thead>
                        <tr>
                            <th class="cart__head headCheck">
                                <label class="checkbox checkbox--cart is_checked" for="xxx"></label>
                                <input type="checkbox" name="hogehoge" value="" id="xxx" class="jsc_selectAllItem" checked="checked">
                            </th>
                            <th class="cart__head headName">ご購入商品</th>
                            <th class="cart__head headCount">個数</th>
                            <th class="cart__head headPrice">価格</th>
                            <th class="cart__head headPostage">配送方法</th>
                            <th class="cart__head headPostage">送料</th>
                            <th class="cart__head headPrice">小計</th>
                            <th class="cart__head headDelete">削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <label class="checkbox checkbox--cart is_checked" for="{{ item.detaile.id }}"></label>
                                <input type="checkbox" name="item_id[]" value="{{ item.detaile.id }}" id="{{ item.detaile.id }}" class="jsc_selectAllItem_checkbox" checked="checked">
                                <input type="hidden" name="color[]" value="{{ item.color.id }}">
                            </td>
                            <td>
                                <a href="{{ base_url() }}detail/{{item.detaile.id}}" class="itemInfo cf">
                                    <p class="itemInfo__image"><img src="{{ base_url() }}assets/img/items/{{ item.detaile.id }}/thumbnail.jpg"></p>
                                    <dl class="itemInfo__txt">
                                        <dt class="itemInfo__brand">
                                            {{ item.detaile.name }}
                                        </dt>
                                        <dd class="itemInfo__color">
                                            {{ item.color.name }}
                                        </dd>
                                    </dl>
                                </a>
                            </td>
                            <td><input type="number" name="number[]" value="1" class="textInput changeCount jsc-cart-number" min="1">個</td>
                            <td class="is_pc_show">
                                {{ (item.detaile.multina_price * 1.08) |number_format }}円
                                <input type="hidden" name="price[]" class="jsc-cart-price" value="{{ item.detaile.multina_price * 1.08 }}">
                            </td>
                            {#配送方法#}
                            <td class="is_pc_show">
                                {{ item.send.carrier_method.name }}
                                <input type="hidden" name="send_id[]" value="{{ item.send.id }}">
                            </td>
                            <td class="is_pc_show">
                                <span class="jsc-cart-postage">{{ (item.send.price * 1.08) | number_format }}</span>円
                                <input type="hidden" name="send_price[]" class="jsc-cart-send-price" value="{{ item.send.price * 1.08 }}">
                            </td>
                            <td>
                                <span class="jsc-cart-smallprice">{{ (item.detaile.multina_price * 1.08 * item.number + item.send.price * 1.08) | number_format }}</span>円
                            </td>
                            <td><a href="#{{ item.detaile.id }}" class="itemDelete jsc-cart-delete"><span>削除</span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="payment payment--shoppingCart">
                    <dl class="payment__item">
                        <dt>合計アイテム数</dt>
                        <dd><span class="payment__count jsc-cart-total-number"></span>点</dd>
                    </dl>
                    <dl class="payment__item">
                        <dt>送料</dt>
                        <dd>税込<span class="payment__count jsc-cart-total-send-price"></span>円</dd>
                    </dl>
                    <dl class="payment__item">
                        <dt>合計金額</dt>
                        <dd>
                            税込<span class="payment__count jsc-cart-total-price"></span>円
                        </dd>
                    </dl>
                </div>
            </section>
            <p class="txt--openInputArea">上記の内容でよろしければご注文手続きへお進みください。</p>
            <p class="openInputArea"><a href="#InputArea" class="btn cta_lv2 jsc_showsubpostage_trigger"><span>ご注文手続きへ</span></a></p>
            <section class="InputArea" id="InputArea">
                <h1 class="ttl--InputArea">ご注文手続き</h1>
                <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>1</span>お客様情報の入力</h2>
                    <div class="registInfo cf">
                      <dl class="registInfo__parts">
                        <dt>お名前</dt>
                        <dd><input type="text" name="name" class="textInput" value="{{ session_get_flash("order.name") }}" placeholder="姓名を入力してください" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>ふりがな</dt>
                        <dd><input type="text" name="kana" class="textInput" value="{{ session_get_flash("order.kana") }}" placeholder="ふりがなを入力してください" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>郵便番号</dt>
                        <dd><input type="text" name="zip" class="p-postal-code textInput" value="{{ session_get_flash("order.zip") }}" placeholder="ハイフンなし数字7桁" size="8" maxlength="8" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>都道府県</dt>
                        <dd><input type="text" name="pref" class="p-region textInput" value="{{ session_get_flash("order.pref") }}" placeholder="都道府県名を入力してください" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>市区町村</dt>
                        <dd><input type="text" name="city" class="p-locality textInput" value="{{ session_get_flash("order.city") }}" placeholder="市区町村番地を入力してください" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>市区町村以下</dt>
                        <dd><input type="text" name="address-etc" class="p-street-address p-extended-address textInput" value="{{ session_get_flash("order.address-etc") }}" placeholder="建物名などを入力してください" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>電話番号</dt>
                        <dd><input type="text" name="tel" class="textInput" value="{{ session_get_flash("order.tel") }}" placeholder="08012345678" required></dd>
                      </dl>
                      <dl class="registInfo__parts">
                        <dt>メールアドレス</dt>
                        <dd><input type="email" name="mail" class="domain-autocomplete textInput" value="{{ session_get_flash("order.mail") }}" id="email" placeholder="メールアドレスを入力してください"></dd>
                      </dl>
                    </div>
                </section>
                <section class="sec--shoppingCart">
                    <h2 class="shoppingCart_ttl"><span>2</span>お支払い方法の設定</h2>
                    <div class="choiseBox jsc-choiseBox">
                      <ul class="choiseBox_radioList">
                        <li>
                          <input type="radio" value="1" name="payment" id="paymentA" data-detailtype="detailTypeA">
                          <label for="paymentA" name="payment">クレジットカード<br class="is_sp"> or <br class="is_sp">コンビニ</label>
                        </li>
                        <li>
                          <input type="radio" value="2" name="payment" id="paymentB" data-detailtype="detailTypeB" checked="checked">
                          <label for="paymentB" name="payment">銀行振込み</label>
                        </li>
                      </ul>
                      <div class="choiseBox_detail">
                        <div class="choiseBox_detail_contents detailTypeA">
                          <p class="choiseBox_detail_caption">MULKAGでは、安心してお買い物をしていただくために、決済を<span>GMOイプシロン</span>へ委託しております。</p>
                          <h3 class="choiseBox_detail_ttl">利用可能なクレジットカード</h3>
                          <ul class="choiseBox_detail_links paymentLinks">
                            <li class="icn_visa" title="VISA"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_visa"></use></svg></li>
                            <li class="icn_master" title="Master"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_master"></use></svg></li>
                            <li class="icn_jcb" title="JCB"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_jcb"></use></svg></li>
                            <li class="icn_ae" title="AmericanExpress"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_amex"></use></svg></li>
                            <li class="icn_din" title="DINERS"><svg class="svgSpriteIcon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pay_din"></use></svg></li>
                          </ul>
                          <h3 class="choiseBox_detail_ttl">利用可能なコンビニ</h3>
                          <ul class="choiseBox_detail_links storeLinks">
                              <li class="icn_storeF" title="ファミリーマート">ファミリーマート</li>
                              <li class="icn_storeR" title="ローソン">ローソン</li>
                              <li class="icn_storeS" title="セイコーマート">セイコーマート</li>
                              <li class="icn_storeK" title="サークルK">サークルK</li>
                              <li class="icn_storeT" title="サンクス">サンクス</li>
                              <li class="icn_storeM" title="ミニストップ">ミニストップ</li>
                          </ul>
                          <p class="choiseBox_detail_caution">※決済にあたり、必ず<a href="/guide/pay.html" class="icn_link">お支払いについて</a>をご一読ください。</p>
                        </div>
                        <div class="choiseBox_detail_contents detailTypeB">
                          <p class="choiseBox_detail_caption">購入商品の在庫を確保出来ましたら、メールにてお支払い金額のお知らせをいたします。</p>
                          <h3 class="choiseBox_detail_ttl">お振込み銀行口座情報</h3>
                          <dl class="bankInfo">
                            <dt>銀行名</dt>
                            <dd>住信SBIネット銀行</dd>
                          </dl>
                          <dl class="bankInfo">
                            <dt>支店名/店番号</dt>
                            <dd>ブドウ支店/102</dd>
                          </dl>
                          <dl class="bankInfo">
                            <dt>口座番号</dt>
                            <dd>5350899</dd>
                          </dl>
                          <dl class="bankInfo">
                            <dt>名義</dt>
                            <dd>MULKAG(マルカグ)　タケダタクヤ</dd>
                          </dl>
                          <p class="choiseBox_detail_caution">※決済にあたり、必ず<a href="/guide/pay.html" class="icn_link">お支払いについて</a>をご一読ください。</p>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div class="ctaBlock">
                      <p class="ctaBlock__cta"><input type="submit" class="btn cta_lv1" value="注文する"></p>
                  </div>
            </section>
          {% endif %}
        </form>
    </article>
</main>
