    <main class="pg_cart_thanks">
      <section class="sec_thanksMessage">
          <h2 class="thanksBigMessage">ご購入ありがとうございます。</h2>
          <dl class="orderNumber">
            <dt>ご注文番号</dt>
            <dd>{{ order_id }}</dd>
          </dl>
          <p class="thanksSmallMessage">
            ご入力いただいたメールアドレスに「ご注文受付メール」をお送りいたしました。<br>
            メール内容をご確認のうえ、お取り引き完了まで大切に保管してください。<br>
            この後、ご注文いただいた商品の在庫を確認後、ご連絡を差し上げます。<br>
            万が一、在庫切れの場合は別途「ご注文キャンセルメール」にてご連絡を差し上げますので、予めご了承ください。<br>
          </p>

          <!-- <section class="sec_invitationMember">
            <h3 class="invitationMember_ttl">MULKAG会員へのご招待</h3>
            <p class="invitationMember_bigMessage">お客様を、MULKAG会員へご招待致します。</p>
            <p class="invitationMember_catch">MULKAG会員は、選ばれた方のみが登録できる特別なサービスです。</p>
            <ul class="invitationMember_meritList">
              <li>MULKAGポイントの付与いたします。</li>
              <li>通常表示されない会員限定の商品を購入いただけます。</li>
              <li>会員限定ページをご利用いただけます。</li>
            </ul>
            <a href="{{ base_url() }}member/about/" class="invitationMember_cta"><span>詳しくは、こちらをご確認ください。</span></a>
          </section> -->
      </section>
    </main>
