		<main class="is_center">
			<article class="pg_favorite">
          <h1 class="cm_ttl_lv1">お気に入りリスト</h1>
					<ul class="favoriteList">
						<li>
              <a href="http://192.168.33.99/detail/33">
                <figure>
                  <img alt="CELEBES DINING TABLE1600" src="http://192.168.33.99/assets/img/items/33/39202522.jpg">
                </figure>
              </a>
              <div class="add_favorite">
                <input type="checkbox" id="favorite_33" value="33">
                <label class="favoriteLabel" for="favorite_33"></label>
              </div>
              <dl class="favoriteList__info">
              	<dt><a href="http://192.168.33.99/detail/33">CELEBES DINING TABLE1600</a></dt>
                <dd class="info__price">税込<span>98,000</span>円</dd>
              </dl>
            </li>
					</ul>
			</article>
		</main>
