        <main class="pg_guide pg_guide_detail">
            <article class="cf">
                <section class="col_left">
                    <h1 class="contentsTitle">返品・交換について</h1>
                    <section>
                        <h2 class="contentsTitle--lv2 ">返品･交換について</h2>
                        <p class="contentsText ">
                        商品不良がございましたら、大変お手数ですが、<br>
                        <a href="{{ base_url()}}/contact" class="icn_link">お問い合わせフォーム</a>より必要事項をご入力の上、申請して下さい。<br>
                        申請がない場合、返品をお断りすることがあります。<br>
                        また、不良部分の特定を行うため対象箇所の画像添付をお願いしております。<br>
                        お問い合わせフォーム内にある、「対象画像の添付」にて画像を追加してください。<br>
                        全体の画像とその傷がある部分の画像を送っていただきますようお願い致します。</p>
                        <div class="contentsCaution ">
                            <ul class="cautionList">
                                <li>※MULKAGではお客様都合による商品の返品・交換は行っておりません。</li>
                                <li>※申請前に必ず、<a href="#cancelSample" class="icn_link">「返品・交換の対応不可となる場合」</a>をご覧ください。</li>
                            </ul>
                        </div>
                        <section id="cancelSample">
                            <h3 class="contentsTitle--lv3 ">必要事項</h3>
                            <ul class="contentsList ">
                                <li>お名前</li>
                                <li>メールアドレス</li>
                                <li>お問い合わせ内容：商品の状態をできるだけ詳細にご入力ください。</li>
                                <li>対象画像の添付：全体の画像とその傷がある部分の画像を送っていただきますようお願い致します。</li>
                            </ul>
                        </section>
                        <section id="cancelSample">
                            <h3 class="contentsTitle--lv3 ">返品・交換の対応不可となる場合</h3>
                            <p class="contentsText ">下記のお客様都合などの理由によっては返品交換の対応ができませんので、予めご了承ください。</p>
                            <ul class="contentsList ">
                                <li>色やサイズがお客様の想定と違った</li>
                                <li>ご注文の間違い</li>
                                <li>ご注文時にご入力いただいた情報の不備による事故</li>
                                <li>商品お届けから1週間後に確認した不具合</li>
                            </ul>
                            <div class="contentsCaution ">
                                <ul class="cautionList">
                                    <li>※上記以外でも、お客様都合によるものと判断した場合、返品・交換をお断りすることもございます。<br>予めご了承ください。</li>
                                </ul>
                            </div>
                        </section>
                    </section>
                    <section>
                        <h2 class="contentsTitle--lv2 ">クーリングオフについて</h2>
                        <p class="contentsText ">
                        申し訳ございませんが、通信販売はクーリングオフ制度の対象外となっております。<br>
                        お客様のご都合による返品は承っておりません。<br>
                        商品に不良があった場合の返品・交換のお手続きにつきましては、<a href="{{ base_url() }}guide/cancel.html" class="icn_link">「返品・交換・キャンセルについて」</a>をご覧ください。</p>
                    </section>
                </section>
                <section class="col_right">
                    <ul class="inPage_nav">
                        <li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
                        <li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
                        <li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel is_current">返品・交換について</a></li>
                        <li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
                        <li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
                        <li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
                        <li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
                    </ul>
                </section>
            </article>
        </main>
