<main>
    <article class="pg_guide">
        <section class="userGuide">
            <h1 class="cm_ttl_lv1">ご利用ガイド</h1>
            <nav>
                <ul class="guideNav jsc_guideSlide">
                    <li><a href="#userGuide--item" class="guideNav__item">商品について</a></li>
                    <li><a href="#userGuide--order" class="guideNav__order">ご注文について</a></li>
                    <li><a href="#userGuide--cancel" class="guideNav__cancel">返品・交換について</a></li>
                    <li><a href="#userGuide--pay" class="guideNav__pay">お支払いについて</a></li>
                    <li><a href="#userGuide--post" class="guideNav__post">お届けについて</a></li>
                    <li><a href="#userGuide--member" class="guideNav__member">会員について</a></li>
                    <li><a href="#userGuide--site" class="guideNav__site">サイトについて</a></li>
                    <li><a href="#userGuide--other" class="guideNav__site">その他</a></li>
                </ul>
            </nav>
            <section class="userGuide__item is_active" id="userGuide--item">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/item.html">商品の情報について</a></li>
                    <li><a href="{{ base_url() }}guide/item.html">商品価格</a></li>
                    <li><a href="{{ base_url() }}guide/item.html">商品保証</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--order">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/order.html">ご注文方法</a></li>
                    <li><a href="{{ base_url() }}guide/order.html">ご注文内容の変更について</a></li>
                    <li><a href="{{ base_url() }}guide/order.html">ご注文状況の確認について</a></li>
                    <li><a href="{{ base_url() }}guide/order.html">MULKAGのご利用について</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--cancel">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/cancel.html">返品について</a></li>
                    <li><a href="{{ base_url() }}guide/cancel.html">交換について</a></li>
                    <li><a href="{{ base_url() }}guide/cancel.html">クーリングオフについて</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--pay">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/pay.html">お支払い方法</a></li>
                    <li><a href="{{ base_url() }}guide/pay.html">手数料について</a></li>
                    <li><a href="{{ base_url() }}guide/pay.html">領収証発行について</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--post">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/postage.html">送料について</a></li>
                    <li><a href="{{ base_url() }}guide/postage.html">配送方法について</a></li>
                    <li><a href="{{ base_url() }}guide/postage.html">日数について</a></li>
                    <li><a href="{{ base_url() }}guide/postage.html">日時指定について</a></li>
                    <li><a href="{{ base_url() }}guide/postage.html">配送状況について</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--member">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/member.html">会員について</a></li>
                    <li><a href="{{ base_url() }}guide/member.html">会員登録について</a></li>
                    <li><a href="{{ base_url() }}guide/member.html">会員登録方法</a></li>
                    <li><a href="{{ base_url() }}guide/member.html">登録内容の変更について</a></li>
                    <li><a href="{{ base_url() }}guide/member.html">ポイントについて</a></li>
                    <li><a href="{{ base_url() }}guide/member.html">退会について</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--site">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/site.html">運営者について</a></li>
                    <li><a href="{{ base_url() }}guide/site.html">営業日時</a></li>
                    <li><a href="{{ base_url() }}guide/site.html">セキュリティについて</a></li>
                    <li><a href="{{ base_url() }}guide/site.html">推奨環境について</a></li>
                </ul>
            </section>
            <section class="userGuide__item" id="userGuide--other">
                <ul class="list">
                    <li><a href="{{ base_url() }}guide/other.html">ご連絡先不通について</a></li>
                    <li><a href="{{ base_url() }}guide/other.html">各種送信メールについて</a></li>
                    <li><a href="{{ base_url() }}guide/other.html">問い合わせフォーム</a></li>
                </ul>
            </section>
        </section>
    </article>
</main>