		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">商品について</h1>
					<section>
						<h2 class="contentsTitle--lv2 ">商品情報について</h2>
						<p class="contentsText ">
							素材やサイズなど、商品情報につきましては各商品ページに記載しております。<br>
							また、商品情報は予告なく変更になる場合がございますので、あらかじめご了承ください。
						</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※色の表示に関しては「○系」という表記方法を採用しており、実際の商品の色味を大まかに分類しております。お客様のお使いの端末や環境により見え方が異なる場合がございます。</li>
								<li>※商品のイメージ違いによる返品・交換は出来かねますので、あらかじめご了承ください。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">商品価格について</h2>
						<p class="contentsText ">商品価格に関しましては、各商品ページに記載しております。<br>
							表示価格は全て税込み価格となっております。<br>
							また、販売価格は予告なく改定になる場合がございますので、あらかじめご了承ください。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">商品保証について</h2>
						<p class="contentsText ">MULKAGでは、一部の商品を除き購入より1年間、商品保証をしております。<br>
						保証内容につきましては、下記「商品保証」をご一読ください。<br>
						またメーカーにより保証されている商品は、商品に保証書が同梱されております。<br>
						その場合の保証内容につきましては、同梱されているメーカーの保証書に準じます。

						</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※保証期間・保証内容は全てメーカー規定の保証内容を優先致します。</li>
								<li>※メーカー保証書を紛失された場合、保証できかねますので、あらかじめご了承ください。</li>
							</ul>
						</div>
						<section>
							<h3 class="contentsTitle--lv3 ">商品保証</h3>
							<p class="contentsText ">MULKAGによる商品保証は下記となります。</p>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>※メーカー保証とMULKAG保証の併用はできませんので、あらかじめご了承ください。</li>
								</ul>
							</div>
							<section>
								<h4 class="contentsTitle--lv4 ">保証内容</h4>
								<p class="contentsText ">保証期間内において、取り扱い説明書等に従った正常なご使用方法によって自然発生した故障または破損は、無償にて修理、部品交換または商品交換をさせていただきます。</p>
								<div class="contentsCaution">
									<ul class="cautionList">
										<li>※対応内容は商品の状態にて決定いたします。</li>
									</ul>
								</div>
								<h4 class="contentsTitle--lv4 ">保証期間</h4>
								<p class="contentsText ">商品到着日より起算して1年間（365日）となります。</p>
								<h4 class="contentsTitle--lv4 ">保証対象</h4>
								<p class="contentsText ">商品自体の物的な故障・損傷のみが対象となります。<br>
								床や壁等の商品以外のものの損傷や、人や動物の身体の怪我、精神的損害等の付属的損害につきましては保証の対象外です。<br>また日焼けによる変色やヘタリ、使用に伴う傷や汚れ、電球や電池などの消耗品、その他経年による自然な劣化なども保証の対象となりません。</p>
								<h4 class="contentsTitle--lv4 ">保証対象外</h4>
								<p class="contentsText ">以下の場合には有償での修理または対応不可となります。<br>
								<ul class="contentsList ">
									<li>お届け後の輸送・移動・落下・衝撃・加圧・水濡れ等により、または管理・保管上の不備により生じた故障および損傷
									<li>火災、地震、風水害、落雷、塩害、ガス害、虫害、その他の天災地変などによって生じた故障および損傷</li>
									<li>一般家庭以外（業務用など）で使用したことによる故障および損傷</li>
									<li>日本国外での使用の場合</li>
									<li>お客様のご依頼により故障でない箇所の部品等を交換する場合</li>
									<li>お買い上げの商品が、使用後に有償無償を問わず譲渡されたもの（中古品）であった場合</li>
									<li>商品を、故意に変造・改造・加工された場合</li>
									<li>当社以外での修理や改造等による故障および損傷</li>
									<li>その他当社により保証対象に不適当と判断される場合</li>
								</ul>
							</section>
						</section>
					</section>
					<section id="sec_ordermadeitem">
						<h2 class="contentsTitle--lv2 ">受注生産商品について</h2>
						<p class="contentsText ">取り扱い商品の中には、一部「受注生産商品」がございます。<br>
						受注生産商品は、ご注文いただいた後に生産を開始する為、通常の商品よりもお届けに日数がかかります。<br>
						また、受注生産商品の配送日時指定については、ご注文手続き内の「②配送方法の設定」では、ご指定できません。<br>
						商品を生産完了後に日時指定をいただけますので、別途ご連絡差し上げます。<br>
						ご注文いただく際には、その旨をご理解いただけますようお願い致します。<br>
						受注生産商品については、商品ページの「商品データ」内、「生産形態」項目に記載しております。</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※受注生産商品のご注文後のキャンセル・変更はできませんので、あらかじめご了承ください。</li>
							</ul>
						</div>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item is_current">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
