		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">MULKAG会員について</h1>
					<section>
						<h2 class="contentsTitle--lv2 ">会員について</h2>
						<p class="contentsText ">MULKAGでは、お客様により便利で快適にお買い物をお楽しみいただけるよう、MULKAG会員へのご登録をお勧めしております。<br>
						MULKAG会員にご登録頂くことで、会員限定の便利な機能をご利用いただける他、様々な特典をご用意しております。<br>
						MULKAGポイントも貯めることができ、貯めたポイントはMULKAGでお買い物の際にご利用いただけます。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">新規会員登録について</h2>
						<p class="contentsText ">会員登録をご希望の方は<a href="{{ base_url()}}regist" class="icn_link">新規会員登録</a>よりご登録ください。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">登録内容の変更について</h2>
						<p class="contentsText ">新規登録時にご入力いただいた内容は、ログイン後にマイページ内「ご登録情報」にて確認・変更いただけます。<br>尚、 登録情報にご入力いただいた内容は、お買い物時に自動で入力されるので、ご注文手続き内での入力を省くことができます。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">会員限定サービスについて</h2>
						<p class="contentsText ">会員登録頂くと、会員限定サービスがご利用いただけます。</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※会員限定のサービスは予告なく変更となる場合がございます。</li>
							</ul>
						</div>
						<section>
							<h3 class="contentsTitle--lv3 ">会員特典</h3>
							<div class="contentsCaution ">
								<ul class="cautionList">
									<li>・マイページでの注文状況の確認</li>
									<li>・MULKAGポイント</li>
									<li>・会員限定商品の購入</li>
								</ul>
							</div>
						</section>
						<section>
							<h3 class="contentsTitle--lv3 ">ポイントについて</h3>
							<p class="contentsText ">MULKAGでは、商品購入金額に応じてMULKAGポイントを付与しております。<br>
							付与ポイントにつきましては購入金額の5%となっております。</p>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>※MULKAGポイントは、MULKAGでのお買い物時に使用できるポイントです。</li>
									<li>※MULKAGポイントは、MULKAGでのお買い物時に１ポイント＝１円でご利用いただけます。</li>
									<li>※商品購入でMULKAGポイントを使用された場合はポイントは付与されません。</li>
									<li>※ポイントの有効期限は、ポイント付与から起算して1年となります。</li>
									<li>※有効期限内に、再度ポイントが付与された場合は、その付与された日が起算日となります。</li>
								</ul>
							</div>
						</section>
						<section>
							<h3 class="contentsTitle--lv3 ">退会について</h3>
							<p class="contentsText"><a href="{{ base_url()}}/contact" class="icn_link">こちら</a>より退会ください。</p>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>※退会後、再登録された場合はそれまでのポイントなどの情報は初期化されます。</li>
								</ul>
							</div>
						</section>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">会員について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member is_current">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
