		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">ご注文について</h1>
					<section>
						<h2 class="contentsTitle--lv2 ">ご注文方法</h2>
						<p class="contentsText ">
							各商品ページからご希望の商品をカートへ追加してください。<br>
							追加された商品は<a href="{{ base_url()}}/cart" class="icn_link">カートページ</a>でご確認いただけます。<br>
							購入希望の商品を選択後、「ご注文手続きへボタン」を押下してご注文手続きへお進みください。<br>
							必要項目をご入力後、ご注文内容をご確認いただき、「購入するボタン」を押下ください。
						</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※MULKAGでは、お電話でのご注文は受け付けておりません。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">ご注文内容の変更について</h2>
						<p class="contentsText ">
						ご入金後のご注文内容の変更（キャンセル・数量変更など）は原則として承ることができません。<br>
						お客様のご注文手続き完了後にMULKAGよりお送りする「ご注文受付完了メール」にて、ご注文内容を必ずご確認のうえ、ご入金くださいますようお願いいたします。</p>
						<p class="contentsText ">万が一、ご注文をキャンセルされる場合は、代金の100%をお客様にご負担いただく場合がございますので、あらかじめご了承ください。</p>
						<p class="contentsText ">ご入金前の内容変更に関しましては、<a href="{{ base_url()}}/contact" class="icn_link">お問い合わせフォーム</a>にてご連絡ください。
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">ご注文状況の確認について</h2>
						<p class="contentsText ">ご注文状況はMULKAGからお送りするメールにてご確認ください。<br>
						また、MULKAG会員の方は、マイページ内の「<a href="{{ base_url()}}/member/status" class="icn_link">ご注文状況の確認</a>」よりご確認いただけます。</p>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order is_current">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
