		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">その他</h1>
					<section>
						<h2 class="contentsTitle--lv2 ">各種メールについて</h2>
						<p class="contentsText ">特定商取引に基づく表示をご確認ください。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">ご連絡先不通について</h2>
						<p class="contentsText ">MULKAGからのメールは「@mulkag.com」のドメインからお送りいたします。</p>
						<div class="contentsCaution ">
							<ul class="cautionList">
								<li>※メールアドレスの間違いやサーバーの状態などにより、お客様にお送りしたメールがエラーで返信された場合は、 会員の方はチャット機能にて、非会員の方は登録いただいたご連絡先にてご連絡差し上げております。</li>
								<li>※もし、メールが届かない場合は、お手数ですが「info@mulkag.com」までお問い合わせください。その際、「受注番号」と「ご注文者様のお名前」をご記入ください。</li>
								<li>※なお、上記以外の理由でMULKAGからのメールが届かないために生じた問題・損害に関しましては、MULKAGでは一切の責任・責務は負えませんので、予めご了承ください。</li>
							</ul>
						</div>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_other is_current">その他</a></li>
					</ul>
				</section>
			</article>
		</main>