		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">お支払いについて</h1>
					<section>
						<h2 class="contentsTitle--lv2">お支払方法</h2>
						<p class="contentsText">お支払方法は下記よりお選びいただけます。</p>
						<ul class="contentsList">
							<li>クレジットカード決済</li>
							<li>コンビニ決済</li>
							<li>銀行振込み</li>
						</ul>
						<section>
							<h3 class="contentsTitle--lv3">銀行振込み</h3>
							<p class="contentsText">
							<dl>
								<dt>銀行名</dt>
								<dd>住信SBIネット銀行</dd>
								<dt>支店名/店番号</dt>
								<dd>ブドウ支店/102</dd>
								<dt>口座番号</dt>
								<dd>5350899</dd>
								<dt>名義</dt>
								<dd>タケダタクヤ</dd>
							</dl>
							</p>
						</section>
						<section>
							<h3 class="contentsTitle--lv3">クレジットカード決済</h3>
							<p class="contentsText">商品代金のお支払には、以下のクレジットカードをご利用いただけます。</p>
							<ul class="contentsList">
								<li>VISA</li>
								<li>MASTERCARD</li>
								<li>JCB</li>
                <li>AmericanExpress</li>
                <li>DINERS</li>
							</ul>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>※ご注文からお届けまで80日以上要する商品（受注生産商品や欠品中の商品）は、クレジットカード決済はご利用いただけません。</li>
									<li>※上記以外のカード、また海外発行のクレジットカードはご利用いただくことができません。</li>
								</ul>
							</div>
						</section>
						<section>
							<h3 class="contentsTitle--lv3">コンビニ決済</h3>
							<p class="contentsText">商品代金は、以下のコンビニエンスストア全店舗でのお支払いが可能です。</p>
							<ul class="contentsList">
								<li>ファミリーマート</li>
								<li>ローソン</li>
								<li>セイコーマート</li>
								<li>サークルK</li>
								<li>サンクス</li>
								<li>ミニストップ</li>
							</ul>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>※決済にかかる手数料はお客様負担とさせていただきます。</li>
									<li>※ご注文完了から7日以内にご入金が確認できない場合、ご注文は自動的にキャンセルとなりますので、あらかじめご了承ください。</li>
									<li>※消費税率改定に伴い、2014年4月1日よりコンビニ決済の手数料が変更となります。詳しくはヘルプページ「消費税率の改定について」をご確認ください。</li>
								</ul>
							</div>
						</section>
					</section>
					<section>
						<h2 class="contentsTitle--lv2">クレジットカード決済、またはコンビニ決済をお選びのお客様へ</h2>
						<p class="contentsText">
							MULKAGでは、クレジットカード決済とコンビニ決済にイプシロン株式会社の決済代行システムを利用しております。<br>
							コンビニ決済の場合払込番号はイプシロンよりご案内がございます。<br>
							お支払後に発行される領収書には「インターネットイプシロン」と表示されます。<br>
							コンビニ決済に関してはイプシロンへお問い合わせください。<br>
							なお、商品・発送等に関するお問い合わせは当ショップまでお願いいたします。
						</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2">領収書について</h2>
						<p class="contentsText">
							領収書の再発行は承っておりませんので、大切に保管してください。
						</p>
						<section>
							<h3 class="contentsTitle--lv3">コンビニ決済の場合</h3>
							<p class="contentsText">お支払い時にコンビニにて受け取るレシートをご利用ください。</p>
						</section>
						<section>
							<h3 class="contentsTitle--lv3">クレジットカード決済の場合</h3>
							<p class="contentsText">ご注文手続き完了後、クレジットカード支払い手続き画面にて発行されるページが領収書となります。</p>
						</section>
						<section>
							<h3 class="contentsTitle--lv3">銀行振込みの場合</h3>
							<p class="contentsText">ご入金時に発行される「ご利用明細」をご利用ください。</p>
						</section>
						<section>
							<h3 class="contentsTitle--lv3">領収書の再発行</h3>
							<p class="contentsText">領収書の発行は、承っておりませんので、あらかじめご了承ください。</p>
						</section>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay is_current">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
