		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">お届けについて</h1>
					<div class="contentsCaution">
						<ul class="cautionList">
							<li>MULKAGでは一部の配送方法と地域を除き、メーカー直送で商品をお届けしております。<br>送料や配送方法などに関しましては、下記をご一読いただき、あらかじめご了承の上、お買い求めください。</li>
						</ul>
					</div>
					<section>
						<h2 class="contentsTitle--lv2 ">送料について</h2>
						<p class="contentsText ">通常のご注文に限り、配送にかかる送料はMULKAGが負担いたします。</p>
						<div class="contentsCaution">
							<ul class="cautionList">
								<li>※一部の商品は送料が発生するものもございます。各商品ページ「商品データ」内の送料項目にてご確認ください。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">配送方法について</h2>
						<p class="contentsText ">配送方法はご注文頂きました商品により異なります。<br>
						商品ページ内右側の「配送方法」よりお選びいただけますが、商品によりお選びできない配送方法もございます。</p>
						<div class="contentsCaution">
							<ul class="cautionList">
								<li>※お選びいただける配送方法につきましては、各商品ページにあります「選択可能な配送方法」をご確認ください。</li>
							</ul>
						</div>
						<section>
							<h3 class="contentsTitle--lv3 ">軒先き配送</h3>
							<p class="contentsText ">
							配送スタッフは商品の開梱作業は致しませんので、あらかじめご了承ください。<br>また資材回収は行っておりませんので、梱包資材はお客様ご自身で破棄していただきます。</p>
							<section>
								<h4 class="contentsTitle--lv4 ">お渡し場所について</h4>
								<ul class="cautionList ">
									<li>一戸建て…玄関先（玄関口）</li>
									<li>マンション…エントランス（マンションロビー）※配達員の判断により玄関先までお届けする場合もございます。</li>
								</ul>
								<div class="contentsCaution">
									<ul class="cautionList">
										<li>※配達員の判断により、組み立てをお手伝する場合がございますが、その際にお部屋の壁の破損や床に傷がつくなどの事故が発生した場合で、当店では一切の責任を負いかねますので、あらかじめご了承ください。</li>
									</ul>
								</div>
							</section>
						</section>
						<section>
							<h3 class="contentsTitle--lv3 ">開梱設置配送</h3>
							<p class="contentsText ">開梱設置配送は、お客様のご指定の場所で、商品を開封して設置まで行うサービスとなっております。<br>
							組み立てが必要な商品につきましては、開梱のみとなります。<br>
							また、不用品引取りは行っておりません。<br>
							梱包資材は、スタッフが回収いたします。</p>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>搬入経路の確認・・・搬入経路はお客様ご自身でご確認ください。</li>
									<li>吊り上げ搬入・・・購入された商品が大きく、お客様で確認された搬入経路で搬入ができない場合に、ベランダから吊り上げて搬入いたします。<br>
									また配送業者の判断により、吊り上げでも搬入ができない場合は玄関先でのお渡しとなります。<br>また吊り上げ搬入となった場合の費用につきましては、すべてお客様負担となりますのでご了承ください。</li>
									<li>※ドライバーや工具を使う組み立て、棚板の取り付けはお客様ご自身でお願い致します。</li>
									<li>※配達員の判断により、組み立てをお手伝する場合がございますが、その際にお部屋の壁の破損や床に傷がつくなどの事故が発生した場合で、当店では一切の責任を負いかねますので、あらかじめご了承ください。</li>
								</ul>
							</div>
						</section>
						<section>
							<h3 class="contentsTitle--lv3 ">開梱設置+組み立て</h3>
							<p class="contentsText ">
							開梱設置配送は、お客様のご指定の場所で、商品を開封して設置まで行うサービスとなっております。<br>
							その際、組み立てが必要な商品は組み立てを行ってからの設置となります。<br>
							また、不用品引取りは行っておりません。<br>
							梱包資材は、スタッフが回収いたします。</p>
							<div class="contentsCaution">
								<ul class="cautionList">
									<li>搬入経路の確認・・・搬入経路はお客様ご自身でご確認ください。</li>
									<li>吊り上げ搬入・・・購入された商品が大きく、お客様で確認された搬入経路で搬入ができない場合に、ベランダから吊り上げて搬入いたします。<br>
									また配送業者の判断により、吊り上げでも搬入ができない場合は玄関先でのお渡しとなります。<br>また吊り上げ搬入となった場合の費用につきましては、すべてお客様負担となりますのでご了承ください。</li>
									<li>※配達員の判断により、組み立てをお手伝する場合がございますが、その際にお部屋の壁の破損や床に傷がつくなどの事故が発生した場合で、当店では一切の責任を負いかねますので、あらかじめご了承ください。</li>
								</ul>
							</div>
						</section>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">お届けまでにかかる日数について</h2>
						<p class="contentsText ">ご注文いただき在庫を確保後、７日から１０日ほどでお届けとなります。<br>
						配送地域によっては２週間以上かかる場合もございますので、あらかじめご了承ください。<br>
						お届け予定日は「発送予定メール」にてお知らせします。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">配達の日時指定について</h2>
						<p class="contentsText ">配達日時はご注文手続きにて、ご指定していただくことが可能です。<br>
						ご注文手続きの「配達希望日」の「日時指定」でご希望の日時をご入力ください。<br>
						尚、ご指定はご注文日より7日以降からとなります。<br>
						また配送業者によっては、ご希望に添えない場合もございます。<br>
						ご記入がない場合は、配送業者より最短でのお届けとなります。
						</p>
						<div class="contentsCaution">
							<ul class="cautionList">
								<li>※在庫が確保できなかった場合は、上記でお選びいただいた日程でのお届けはできません。</li>
								<li>※万が一、ご希望の日時でのお届けが困難な場合、登録いただいたご連絡先にご連絡差し上げます。</li>
								<li>※本設定はあくまで希望お届け日となります。正式なお届け日は、お手続き完了後にお送りするメールにてご確認ください。</li>
								<li>※本設定に関して生じた配送事故に関してまして、MULKAGでは一切の責任は負いませんので、予めご了承ください。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">配送状況について</h2>
						<p class="contentsText ">ご注文いただいた商品の配送状況は「商品発送完了」メールに記載されている配送業者にお問い合わせいただくことで確認することができます。<br>
						MULKAG会員の方は、マイページの「ご注文状況の確認」にて、配送状況をリアルタイムで確認できます。
						</p>
						<div class="contentsCaution">
							<ul class="cautionList">
								<li>※各配送業者への確認はお問い合わせ番号が必要となります。<br>
								お問い合わせ番号は「商品発送完了」メールに記載されていますので、ご確認ください。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">受取期間を過ぎた場合</h2>
						<p class="contentsText ">商品のお届けに際して、お客様が不在の場合、配送業者より不在通知でご連絡いたします。<br>それでもお届け不可の場合、MULKAGへ返送されてきますが、その場合の商品代金の返金はできかねますので、予めご了承ください。<br>また、再配送の場合にかかる送料や手数料に関しましてはお客様負担となりますので、ご注意ください。</p>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post is_current">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_site">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
