		<main class="pg_guide pg_guide_detail">
			<article class="cf">
				<section class="col_left">
					<h1 class="contentsTitle">サイトについて</h1>
					<section>
						<h2 class="contentsTitle--lv2 ">運営者について</h2>
						<p class="contentsText ">特定商取引に基づく表示をご確認ください。</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">営業時間</h2>
						<p class="contentsText ">
							平日：9:00〜17:00
						</p>
						<div class="contentsCaution">
							<ul class="cautionList">
								<li>※営業時間外での、商品対応はできませんので、あらかじめご了承ください。</li>
							</ul>
						</div>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">セキュリティについて</h2>
						<p class="contentsText ">全ページSSH採用</p>
					</section>
					<section>
						<h2 class="contentsTitle--lv2 ">推奨環境について</h2>
						<p class="contentsText ">お使いの端末やブラウザによりデザイン上の表示が異なる場合がございます。<br>
						下記推奨ブラウザ、推奨端末にてご閲覧いただけますことをお勧めします。</p>
						<ul class="contentsList">
							<li>※推奨PCブラウザ：推奨PCブラウザ：IE10(Edge)~.chrome最新.firefox最新.safari最新。</li>
							<li>※推奨SP端末：推奨SP端末：iOS、Android4.1以上。</li>
						</ul>
					</section>
				</section>
				<section class="col_right">
					<ul class="inPage_nav">
						<li><a href="{{ base_url() }}guide/item.html" class="nav_item">商品について</a></li>
						<li><a href="{{ base_url() }}guide/order.html" class="nav_order">ご注文について</a></li>
						<li><a href="{{ base_url() }}guide/cancel.html" class="nav_cancel">返品・交換について</a></li>
						<li><a href="{{ base_url() }}guide/pay.html" class="nav_pay">お支払いについて</a></li>
						<li><a href="{{ base_url() }}guide/postage.html" class="nav_post">お届けについて</a></li>
						<li><a href="{{ base_url() }}guide/member.html" class="nav_member">会員について</a></li>
						<li><a href="{{ base_url() }}guide/site.html" class="nav_site is_current">サイトについて</a></li>
                        <li><a href="{{ base_url() }}guide/other.html" class="nav_other">その他</a></li>
					</ul>
				</section>
			</article>
		</main>
