        <main class="pg_about">
          <div class="kv">
            <div class="kv_txtArea">
              <h2 class="kv_ttl">"好きなもの"と永く、一緒に。</h2>
              <p class="kv_description">MULKAGは、こだわりを厳選したインテリア通販サイトです。</p>
            </div>
          </div>
          <section class="characterSection">
            <h3 class="characterSection_ttl">特徴</h3>
            <div class="characterSection_chraList">
              <dl class="chra">
                <dt>こだわりの厳選ブランド</dt>
                <dd>MULKAGでは、品質はもちろん、職人のこだわりや背景を大切にしてブランド選びをしています。</dd>
              </dl>
              <dl class="chra">
                <dt>いつでも配送料無料でお届け</dt>
                <dd>お客様に、よりお買い物をお楽しみ頂くために、配送料はMULKAGが負担いたします。</dd>
              </dl>
              <dl class="chra">
                <dt>安心の商品保証</dt>
                <dd>MULKAGでは、商品を安心してお使い頂くために、すべての商品にお届けから１年以上の商品保証をお約束いたします。</dd>
              </dl>
            </div>
          </section>
          <section class="flowSection">
            <div class="flowSection_kv">
              <h3 class="flowSection_kv_ttl">商品が届くまで</h3>
            </div>
            <ol class="flow">
              <li>
                <dl class="flowStep">
                  <dt>1.注文する</dt>
                  <dd class="flowStep_figure"><img src="/assets/img/pg_about/icon_cart.png" alt="1.注文する 図"></dd>
                  <dd>商品選択後、カートよりご注文ください。</dd>
                </dl>
              </li>
              <li>
                <dl class="flowStep">
                  <dt>2.商品準備</dt>
                  <dd class="flowStep_figure"><img src="/assets/img/pg_about/icon_message.png" alt="2.商品準備 図"></dd>
                  <dd>在庫の確認後、メールにてお知らせいたします。</dd>
                </dl>
              </li>
              <li>
                <dl class="flowStep">
                  <dt>3.お支払い</dt>
                  <dd class="flowStep_figure"><img src="/assets/img/pg_about/icon_payment.png" alt="3.お支払い 図"></dd>
                  <dd>お支払いは、銀行振込・クレジットカード決済・コンビニ決済からお選びいただけます。</dd>
                </dl>
              </li>
              <li>
                <dl class="flowStep">
                  <dt>4.発送</dt>
                  <dd class="flowStep_figure"><img src="/assets/img/pg_about/icon_truck.png" alt="4.発送 図"></dd>
                  <dd>
                    お支払いの確認後、商品の出荷をいたします。<br>
                    出荷後は配送番号をメールにてお知らせいたします。
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="flowStep">
                  <dt>5.到着</dt>
                  <dd class="flowStep_figure"><img src="/assets/img/pg_about/icon_present.png" alt="5.到着 図"></dd>
                  <dd>
                    配送会社より商品が届きます。
                  </dd>
                </dl>
              </li>
            </ol>
          </section>
        </main>
