<main class="pg_static pg_guide">
    <article>
        <section class="userGuide">
            <h2 class="ttl--userGuide">ご利用ガイド</h2>
            <nav>
                <ul class="guideNav is_center jsc_guideSlide"><!--
                    --><li><a href="#userGuide--item" class="guideNav__item">商品について</a></li><!--
                    --><li><a href="#userGuide--order" class="guideNav__order">ご注文について</a></li><!--
                    --><li><a href="#userGuide--cancel" class="guideNav__cancel">返品・交換について</a></li><!--
                    --><li><a href="#userGuide--pay" class="guideNav__pay">お支払いについて</a></li><!--
                    --><li><a href="#userGuide--post" class="guideNav__post">お届けについて</a></li><!--
                    --><li><a href="#userGuide--member" class="guideNav__member">会員について</a></li><!--
                    --><li><a href="#userGuide--site" class="guideNav__site">サイトについて</a></li><!--
                    --><li><a href="#userGuide--other" class="guideNav__site">その他</a></li><!--
                --></ul>
            </nav>
            <section class="userGuide__item is_center is_active" id="userGuide--item">
                <ul class="list">
                    <li><a href="/pc/guide/item.html">商品の情報について</a></li>
                    <li><a href="/pc/guide/item.html">商品価格</a></li>
                    <li><a href="/pc/guide/item.html">商品保証</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--order">
                <ul class="list">
                    <li><a href="/pc/guide/order.html">ご注文方法</a></li>
                    <li><a href="/pc/guide/order.html">ご注文内容の変更について</a></li>
                    <li><a href="/pc/guide/order.html">ご注文状況の確認について</a></li>
                    <li><a href="/pc/guide/order.html">MULKAGのご利用について</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--cancel">
                <ul class="list">
                    <li><a href="/pc/guide/cancel.html">返品について</a></li>
                    <li><a href="/pc/guide/cancel.html">交換について</a></li>
                    <li><a href="/pc/guide/cancel.html">クーリングオフについて</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--pay">
                <ul class="list">
                    <li><a href="/pc/guide/pay.html">お支払い方法</a></li>
                    <li><a href="/pc/guide/pay.html">手数料について</a></li>
                    <li><a href="/pc/guide/pay.html">領収証発行について</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--post">
                <ul class="list">
                    <li><a href="/pc/guide/postage.html">送料について</a></li>
                    <li><a href="/pc/guide/postage.html">配送方法について</a></li>
                    <li><a href="/pc/guide/postage.html">日数について</a></li>
                    <li><a href="/pc/guide/postage.html">日時指定について</a></li>
                    <li><a href="/pc/guide/postage.html">配送状況について</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--member">
                <ul class="list">
                    <li><a href="/pc/guide/member.html">会員について</a></li>
                    <li><a href="/pc/guide/member.html">会員登録について</a></li>
                    <li><a href="/pc/guide/member.html">会員登録方法</a></li>
                    <li><a href="/pc/guide/member.html">登録内容の変更について</a></li>
                    <li><a href="/pc/guide/member.html">ポイントについて</a></li>
                    <li><a href="/pc/guide/member.html">退会について</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--site">
                <ul class="list">
                    <li><a href="/pc/guide/site.html">運営者について</a></li>
                    <li><a href="/pc/guide/site.html">営業日時</a></li>
                    <li><a href="/pc/guide/site.html">セキュリティについて</a></li>
                    <li><a href="/pc/guide/site.html">推奨環境について</a></li>
                </ul>
            </section>
            <section class="userGuide__item is_center" id="userGuide--other">
                <ul class="list">
                    <li><a href="/pc/guide/other.html">ご連絡先不通について</a></li>
                    <li><a href="/pc/guide/other.html">各種送信メールについて</a></li>
                    <li><a href="/pc/guide/other.html">問い合わせフォーム</a></li>
                </ul>
            </section>
        </section>
        <p class="cta--linkControll">
            <a href="/pc/guide/controll.html">
                さらに詳しいMULKAGの使い方はこちら<br>
                <span>MULKAGの使い方</span>
            </a>
        </p>
<!--                <section class="qa">
            <h2 class="ttl--qa">よくあるご質問</h2>
        </section> -->
        <section class="toCorporation">
            <h2 class="ttl--toCorporation">法人のお客様</h2>
            <ul class="list--toCorporation">
                <li>
                    <section class="toCorporationBox">
                        <h3 class="ttl--toCorporationBox">法人でお取引されるお客様</h3>
                        <p class="txt--toCorporationBox">
                            MULKAGでは、一緒にサービスを盛り上げていただけるブランドの出店を歓迎いたします。<br>
                            規約やご利用方法など詳しくは下記リンクよりご確認ください。<br>
                            お客様と一緒に…お待ちしております。
                        </p>
                        <p class="cta--toCorporationBox"><a href="" class="btn cta_lv1">問い合わせる</a></p>
                    </section>
                </li>
                <li>
                    <section class="toCorporationBox">
                        <h3 class="ttl--toCorporationBox">出店希望のお客様</h3>
                        <p class="txt--toCorporationBox">
                            MULKAGでは、一緒にサービスを盛り上げていただけるブランドの出店を歓迎いたします。<br>
                            規約やご利用方法など詳しくは下記リンクよりご確認ください。<br>
                            お客様と一緒に…お待ちしております。
                        </p>
                        <p class="cta--toCorporationBox"><span class=" btn cta_lv2">準備中</span><!-- <a href="" class="btn cta_lv1">準備中</a> --></p>
                        <p class="caution--toCorporationBox"><a href="">お問い合わせフォーム</a>よりお問い合わせください。</p>
                    </section>
                </li>
            </ul>
        </section>
    </article>
</main>