<main class="pg_static pg_privacy">
    <article>
        <section>
            <h1 class="cm_ttl_lv1 ttl_lv1--privacy">プライバシーポリシー</h1>
            <p class="txt--privacy">MULKAGは、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</p>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">個人情報の管理</h2>
                <p class="txt--privacy">MULKAGは、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">個人情報の利用目的</h2>
                <p class="txt--privacy">お客さまからお預かりした個人情報は、MULKAGからのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">個人情報の第三者への開示・提供の禁止</h2>
                <p class="txt--privacy">MULKAGは、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
                <ul class="list--privacy">
                    <li>お客さまの同意がある場合</li>
                    <li>お客さまが希望されるサービスを行なうためにMULKAGが業務を委託する業者に対して開示する場合</li>
                    <li>法令に基づき開示することが必要である場合</li>
                </ul>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">個人情報の安全対策</h2>
                <p class="txt--privacy">MULKAGは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">ご本人の照会</h2>
                <p class="txt--privacy">お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">法令、規範の遵守と見直し</h2>
                <p class="txt--privacy">MULKAGは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
            </section>

            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--privacy">お問い合せ</h2>
                <p class="txt--privacy">MULKAGの個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
                <div class="address--privacy">
                    <address>
                        <h2 class="">お問い合わせ窓口</h2>
                        <dl class="cf">
                            <dt>責任者：</dt>
                            <dd>武田拓也</dd>
                            <dt>E-mail:</dt>
                            <dd><a href="/pc/contact/" class="icn_link"
                            >info@mulkag.com</a></dd>
                        </dl>
                    </address>
                </div>
            </section>
        </section>
    </article>
</main>