<main class="pg_static pg_rule">
    <article>
        <section>
            <h1 class="cm_ttl_lv1">利用規約</h1>
            <p class="txt--rule">この利用規約（以下，「本規約」といいます。）は，MULKAGがこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第1条（適用）</h2>
                <p class="txt--rule">本規約は，ユーザーとMULKAGとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第2条（利用登録）</h2>
                <ol class="list--rule">
                    <li>登録希望者がMULKAGの定める方法によって利用登録を申請し，MULKAGがこれを承認することによって，利用登録が完了するものとします。</li>
                    <li>MULKAGは，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
                        <ul class="sublist--rule">
                            <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
                            <li>本規約に違反したことがある者からの申請である場合</li>
                            <li>その他，MULKAGが利用登録を相当でないと判断した場合</li>
                        </ul>
                    </li>
                </ol>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第3条（ユーザーIDおよびパスワードの管理）</h2>
                <ol class="list--rule">
                    <li>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。</li>
                    <li>ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。MULKAGは，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
                </ol>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第4条（利用料金および支払方法）</h2>
                <ol class="list--rule">
                    <li>ユーザーは，本サービス利用の対価として，MULKAGが別途定め，本ウェブサイトに表示する利用料金を，MULKAGが指定する方法により支払うものとします。</li>
                    <li>ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年１４．６％の割合による遅延損害金を支払うものとします。
                    </li>
                </ol>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第5条（禁止事項）</h2>
                <p class="txt--rule">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
                <ol class="list--rule">
                    <li>法令または公序良俗に違反する行為</li>
                    <li>犯罪行為に関連する行為</li>
                    <li>MULKAGのサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
                    <li>MULKAGのサービスの運営を妨害するおそれのある行為</li>
                    <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
                    <li>他のユーザーに成りすます行為</li>
                    <li>MULKAGのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
                    <li>その他，MULKAGが不適切と判断する行為</li>
                </ol>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--rule">第6条（本サービスの提供の停止等）</h2>
                <ol class="list--rule">
                    <li>MULKAGは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
                        <ol class="sublist--rule">
                            <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                            <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
                            <li>コンピュータまたは通信回線等が事故により停止した場合</li>
                            <li>その他，MULKAGが本サービスの提供が困難と判断した場合</li>
                        </ol>
                    </li>
                    <li>MULKAGは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。</li>
                </ol>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第7条（利用制限および登録抹消）</h2>
                <ol class="list--rule">
                    <li>MULKAGは，以下の場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。
                        <ol class="sublist--rule">
                            <li>本規約のいずれかの条項に違反した場合</li>
                            <li>登録事項に虚偽の事実があることが判明した場合</li>
                            <li>その他，MULKAGが本サービスの利用を適当でないと判断した場合</li>
                        </ol>
                    </li>
                    <li>MULKAGは，本条に基づきMULKAGが行った行為によりユーザーに生じた損害について，一切の責任を負いません。</li>
                </ol>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第8条（免責事項）</h2>
            <ol class="list--rule">
                <li>MULKAGの債務不履行責任は，MULKAGの故意または重過失によらない場合には免責されるものとします。</li>
                <li>MULKAGは，何らかの理由によって責任を負う場合にも，通常生じうる損害の範囲内かつ有料サービスにおいては代金額（継続的サービスの場合には1か月分相当額）の範囲内においてのみ賠償の責任を負うものとします。</li>
                <li>MULKAGは，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
            </ol>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第9条（サービス内容の変更等）</h2>
                <p class="txt--rule">MULKAGは，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</p>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第10条（利用規約の変更）</h2>
                <p class="txt--rule">MULKAGは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第11条（通知または連絡）</h2>
                <p class="txt--rule">ユーザーとMULKAGとの間の通知または連絡は，MULKAGの定める方法によって行うものとします。</p>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第12条（権利義務の譲渡の禁止）</h2>
                <p class="txt--rule">ユーザーは，MULKAGの書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
            </section>
            <section>
            <h2 class="cm_ttl_lv2 ttl_lv2--rule">第13条（準拠法・裁判管轄）</h2>
                <ol class="list--rule">
                    <li>本規約の解釈にあたっては，日本法を準拠法とします。</li>
                    <li>本サービスに関して紛争が生じた場合には，MULKAGの本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
                </ol>
            </section>
            <aside>
                <p>以上</p>
            </aside>
        </section>
    </article>
</main>