<main class="pg_static pg_sct">
    <article>
        <section>
            <h1 class="cm_ttl_lv1">特定商取引法に基づく表示</h1>
            <table class="sctTable">
                <tbody>
                    <tr>
                        <th>販売業者欄</th>
                        <td>MULKAG　武田拓也</td>
                    </tr>
                    <tr>
                        <th>運営統括責任者</th>
                        <td>武田　拓也</td>
                    </tr>
                    <tr>
                        <th>連絡先</th>
                        <td>東京都杉並区善福寺1丁目12-14</td>
                    </tr>
                    <tr>
                        <th>問い合わせ先</th>
                        <td>
                            <dl class="contactInfo cf">
                                <dt>電話番号</dt>
                                <dd>050-3568-0531</dd>
                                <dt>メールアドレス</dt>
                                <dd><a href="{{ base_url}}/contact/" class="icn_link">info@mulkag.com</a></dd>
                            </dl>
                        <p class="cautionTxt">お電話でのお問い合わせの場合、対応内容の確認のため、通話を録音させていただいております。予めご了承ください。</p>
                        </td>
                    </tr>
                    <tr>
                        <th>販売価格</th>
                        <td>
                            商品ごとに表示<br>
                            各商品ページに明記しております。<br>
                            また、販売価格は全て消費税込みとなっております。<br>
                            オーダー品、受注生産品につきましては価格が異なる可能性がございます。<br>その場合は、ご購入後に別途、金額をご提示いたします。
                        </td>
                    </tr>
                    <tr>
                        <th>商品代金以外の必要料金</th>
                        <td>
                            <ul class="sctList">
                                <li>代金引換手数料</li>
                                <li>振込み手数料</li>
                                <li>コンビニ決済手数料</li>
                                <li>配送料</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>支払方法</th>
                        <td>
                            <dl class="sctDlList">
                                <dt>クレジットカード</dt>
                                <dd>VISA/MASTER/DINNERS/JCB/AMEX</dd>
                                <dt>コンビニ決済</dt>
                                <dd>セブンイレブン/ローソン/ファミリーマート/セイコーマート/サークルK/サンクス/ミニストップ</dd>
                            </dl>
                            <p>決済代行専門会社であるイプシロン株式会社の決済代行システムを利用しております。<br>
                              コンビニ決済の場合払込番号はイプシロンよりご案内がございます。<br>
                              お支払後に発行される領収書には「インターネットイプシロン」と表示されます。<br>
                              コンビニ決済に関してはイプシロンへお問い合わせください。<br>
                              なお、商品・発送等に関するお問い合わせは当ショップまでお願いいたします。</p>
                        </td>
                    </tr>
                    <tr>
                        <th>支払期限</th>
                        <td>
                            <dl class="sctDlList">
                                <dt>クレジットカード</dt>
                                <dd>ご利用のクレジットカード会社の締め日や契約内容により異なります。ご利用されるカード会社までお問い合わせください。</dd>
                                <dt>代金引換</dt>
                                <dd>商品お受け取り時に配達業者にお支払いいただきます。</dd>
                                <dt>コンビニ決済</dt>
                                <dd>ご注文から3日以内にお支払いいただきます。</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <th>返品期限</th>
                        <td>
                            通信販売はクーリングオフ制度の対象外となっております。<br>
                            お客様のご都合による返品は承っておりません。<br>
                            商品に不良があった場合のみ、返品・交換を承ります。<br>
                            商品に不良が発覚した場合、商品到着より7日以内にご連絡ください。
                        </td>
                    </tr>
                    <tr>
                        <th>返品送料</th>
                        <td>
                            返品に掛かる送料はMULKAGが負担いたします。
                        </td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td>
                            <a href="{{ base_url}}" class="icn_link">https://mulkag.com</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
</main>
