<main class="pg_static pg_sitemap">
    <article>
        <section>
            <h1 class="cm_ttl_lv1 ttl_lv1--sitemap">サイトマップ</h1>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--sitemap">商品を探す</h2>
                <ul class="list--sitemap">
                    <li><a href="/pc/search/">カテゴリから探す</a></li>
                    <li><a href="/pc/search/">ブランドから探す</a></li>
                </ul>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--sitemap">ご利用ガイド</h2>
                <ul class="list--sitemap">

                    <li><a href="/pc/guide/item.html">商品について</a></li>
                    <li><a href="/pc/guide/.html">注文について</a></li>
                    <li><a href="/pc/guide/.html">ご注文履歴について</a></li>
                    <li><a href="/pc/guide/.html">お支払い方法について</a></li>
                    <li><a href="/pc/guide/.html">商品のお届けについて</a></li>
                    <li><a href="/pc/guide/.html">ギフトラッピングについて</a></li>
                    <li><a href="/pc/guide/qa.html">ご注文の取消し・返品について</a></li>
                    <li><a href="/pc/guide/qa.html">会員情報について</a></li>
                    <li><a href="/pc/guide/qa.html">会員サービスについて</a></li>
                    <li><a href="/pc/guide/qa.html">サイトについて</a></li>
                    <li><a href="/pc/guide/qa.html">よくあるご質問</a></li>
                    <li><a href="/pc/guide/contact.html">お問合わせ</a></li>
                </ul>
            </section>
            <section>
                <h2 class="cm_ttl_lv2 ttl_lv2--sitemap">ヘルプ</h2>
                <ul class="list--sitemap">
                    <li><a href="/pc/about/">MULKAGについて</a></li>
                    <li><a href="/pc/about/">運営者情報</a></li>
                    <li><a href="/pc/rule/">ご利用規約</a></li>
                    <li><a href="/pc/privacy/">プライバシーポリシー</a></li>
                    <li><a href="/pc/sct/">特定商取引に基づく表示</a></li>
                </ul>
            </section>
        </section>
    </article>
</main>