<main>
    <section class="kv jsc_changeKV">
      <p class="kv_ttl fuwat">
        <span class="kv_siteLogo">MULKAG</span>
        こだわる人のための、選び抜かれたインテリア。
      </p>
    </section>
    <section class="sec sec--category" id="sec_category">
        <h3 class="ttlSec ttlSec--category">CATEGORY<span>カテゴリーをお選びください</span></h3>
        <ul class="categories jsc_trigger_changeCategory fuwat">
            <li><a href="{{ base_url() }}category/sofa/" data-href="#category__sofa" class="is_current">SOFA<span>ソファ</span></a></li>
            <li><a href="{{ base_url() }}category/table/" data-href="#category__table">TABLE<span>テーブル</span></a></li>
            <li><a href="{{ base_url() }}category/chair/" data-href="#category__chair">CHAIR<span>チェア</span></a></li>
            <li><a href="{{ base_url() }}category/interior/" data-href="#category__interior">INTERIOR<span>インテリア</span></a></li>
            <li><a href="{{ base_url() }}category/receipt/" data-href="#category__receipt">RECEIPT<span>収納</span></a></li>
        </ul>
        <ul class="category category__slide jsc_slider is_pc" id="category__sofa">
            {% for item in items[1].items %}
                <li>
                    <a href="{{ base_url() }}detail/{{ item.id }}">
                        <img src="{{ base_url() }}assets/img/items/{{ item.id }}/thumbnail.jpg" alt="{{ item.name }}" data-imgsrc="{{ base_url() }}assets/img/items/{{ item.id }}/{{reset(item.photos, 'photo')}}">
                        <span>¥{{ (item.multina_price * 1.08)|number_format() }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="category category__slide jsc_slider is_pc" id="category__table">
            {% for item in items[2].items %}
                <li>
                    <a href="{{ base_url() }}detail/{{ item.id }}">
                        <img src="" alt="{{ item.name }}" data-imgsrc="{{ base_url() }}assets/img/items/{{ item.id }}/thumbnail.jpg">
                        <span>¥{{ (item.multina_price * 1.08)|number_format() }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="category category__slide jsc_slider is_pc" id="category__chair">
            {% for item in items[3].items %}
                <li>
                    <a href="{{ base_url() }}detail/{{ item.id }}">
                        <img src="" alt="{{ item.name }}" data-imgsrc="{{ base_url() }}assets/img/items/{{ item.id }}/thumbnail.jpg">
                        <span>¥{{ (item.multina_price * 1.08)|number_format() }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="category category__slide jsc_slider is_pc" id="category__interior">
            {% for item in items[5].items %}
                <li>
                    <a href="{{ base_url() }}detail/{{ item.id }}">
                        <img src="" alt="{{ item.name }}" data-imgsrc="{{ base_url() }}assets/img/items/{{ item.id }}/thumbnail.jpg">
                        <span>¥{{ (item.multina_price * 1.08)|number_format() }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="category category__slide jsc_slider is_pc" id="category__receipt">
            {% for item in items[6].items %}
                <li>
                    <a href="{{ base_url() }}detail/{{ item.id }}">
                        <img src="" alt="{{ item.name }}" data-imgsrc="{{ base_url() }}assets/img/items/{{ item.id }}/thumbnail.jpg">
                        <span>¥{{ (item.multina_price * 1.08)|number_format() }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="sec sec--collection" id="sec_collection">
        <h3 class="ttlSec ttlSec--collection fuwat">COLLECTION<span>おすすめの商品やイベント情報をお届け</span></h3>
        <div class="collection__pickup__inner fuwat">
            <div class="pickup__description">
                <h4 class="description__ttl"><a href="">KEN's COLLECTION</a></h4>
              <p class="description__summary">コレクションの説明文が入ります。<br>
              コレクションの内容が簡単にわかるように説明してください。<br>
              大体３〜４行くらいで、まぁ文字量的にはこのくらいかな。<br>
              よろしくお願いいたします。</p>
              <p class="description__cta is_pc"><a href="{{ base_url() }}collection/detail/160901/" class="btn cta_lv1"><span>詳しくはこちら</span></a></p>
              <dl class="description__period cf">
                  <dt>実施期間</dt>
                  <dd>2016.09.01〜</dd>
              </dl>
          </div>
          <div class="pickup__capture">
              <figure>
                  <a href="{{ base_url() }}collection/">
                      <img src="https://dummyimage.com/630x390/000000/dbdbdb&text=KEN's+COLLECTION" alt="">
                  </a>
              </figure>
          </div>
        </div>
        <div class="collection__backnumber fuwat">
            <ul class="backnumberList cf">
                <li>
                    <dl>
                        <dd>
                            <a href="{{ base_url() }}collection/detail/160901/">
                                <figure>
                                    <img src="/assets/img/pg_top/collection/160901/top_collection_banner.png" alt="HALO 2P SOFA COLLECTION" >
                                </figure>
                            </a>
                        </dd>
                        <dt><a href="{{ base_url() }}collection/detail/160901/">HALO 2P SOFA COLLECTION</a></dt>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dd>
                            <a href="{{ base_url() }}static/about/">
                                <figure>
                                    <img src="/assets/img/pg_top/collection/170313/top_about_banner.png" alt="MULKAGの使い方" >
                                </figure>
                            </a>
                        </dd>
                        <dt><a href="{{ base_url() }}static/about/">MULKAGの使い方</a></dt>
                    </dl>
                </li>
            </ul>
        </div>
        <p class="ctaSec link--arrow fuwat fuwatAnime"><a href="{{ base_url() }}collection">すべてのコレクションを見る</a></p>
    </section>
    <section class="sec sec--brand" id="sec_brand">
        <h3 class="ttlSec fuwat">BRAND<span>こだわりの家具ブランドをご紹介</span></h3>
        <ul class="brandList fuwat cf">
            <li><a href="{{ base_url() }}brandInfo/#sec_halo"><svg class="svgSpriteIcon"><use xlink:href="#icon-brand_halo"/></svg></a></li>
            <li><a href="{{ base_url() }}brandInfo/#sec_bina"><svg class="svgSpriteIcon"><use xlink:href="#icon-brand_bina"/></svg></a></li>
            <li><a href="{{ base_url() }}brandInfo/#sec_dbodhi"><svg class="svgSpriteIcon"><use xlink:href="#icon-brand_dbodhi"/></svg></a></li>
            <li><a href="{{ base_url() }}brandInfo/#sec_metalsistem"><svg class="svgSpriteIcon"><use xlink:href="#icon-brand_metalsistem"/></svg></a></li>
            <li class="brandList_allBrand"><a href="{{ base_url() }}brandInfo/">ALL BRAND</a></li>
        </ul>
        <p class="ctaSec link--arrow is_pc"><a href="{{ base_url() }}brandInfo/">取り扱いブランド一覧へ</a></p>
    </section>
    <section class="sec sec--news">
        <h3 class="ttlSec fuwat">NEWS<span>お知らせ</span></h3>
        <ul class="newsList fuwat">
            <li class="newsList__item">
              <dl>
                  <dt>2017.03.13</dt>
                  <dd>HALO,bina,d-Bodhi,METALSISTEMの取り扱いを開始しました</dd>
              </dl>
            </li>
            <li class="newsList__item">
              <dl>
                  <dt>2017.03.13</dt>
                  <dd>MULKAGリリースしました</dd>
              </dl>
            </li>
        </ul>
    </section>
</main>
